In [1]:
import sqlalchemy as sa
from sqlalchemy.orm import sessionmaker
import pandas as pd
import requests
import sys

In [2]:
# keeping important informational pieces at one place 

#APIs to be used
API1 = "http://data.tmsapi.com/v1.1/movies/showings?startDate=<start_date>&zip=<zip_code>&api_key=<api_secret>"
API2 = "http://data.tmsapi.com/v1.1/movies/airings?lineupId=<line_up_id> &startDateTime=<date_time>&api_key=<api_secret>"

#Fields mandatory in tables generated
Mandatory_table_fields = ["Title", "Release year", "Genres", "Descrition", "Theatre", "Channel"]
'''Theatre / Channel (Based on the API)'''

# keeping secret key here only for demo purpose, In real applications, It could be a part some configuration file
SECRET = "cfntm4uh2fj29hvzxqsdgdjk"

In [15]:
# explore the api to get familiar with request parameters and response
payload_for_movies_in_theatre = {"startDate":"2020-10-11", "zip": "78701","api_key":SECRET}
payload_for_moview_airing_on_tv = {"lineupId":"USA-TX42500-X", "startDateTime": "2020-10-11T19:30Z", "api_key":SECRET}

movies_showing_in_theatre = requests.get("http://data.tmsapi.com/v1.1/movies/showings", params=payload_for_movies_in_theatre)
moviews_airing_on_tv = requests.get("http://data.tmsapi.com/v1.1/movies/airings", params=payload_for_moview_airing_on_tv)

movies_in_theatre = movies_showing_in_theatre.text
movies_on_tv = moviews_airing_on_tv.text
with open("sample_movies_in_theatres.json", "w+") as theatres:
    theatres.write(movies_in_theatre)
with open("sample_movies_on_tv.json", "w+") as theatres:
    theatres.write(movies_on_tv)

In [4]:
# configuration to connect to mysql db
MySQL_USER = "naive"
ROOT_PWD = "naive123"
MySQL_HOST = "localhost"

In [5]:
# Build the mysql_url to connect to
mysql_url = "mysql://" + MySQL_USER + ":" + ROOT_PWD + "@" + MySQL_HOST + "/"
print("mysql selected for connection: %s" % mysql_url)

# setting echo=True to watch ORM to mapped SQL expression
engine = sa.create_engine(mysql_url, echo=True)

mysql selected for connection: mysql://naive:naive123@localhost/

In [6]:
# creating a new db for project

# # list databases in mysql
# dbs = engine.execute("show databases").fetchall()
# print("initial list of databases: " + str(dbs))

# # create a new db for this task
# engine.execute("create database tms")

# # check if new databases "tms" is indeed created 
# dbs = engine.execute("show databases").fetchall()
# print("list of databases after creating new table: " + str(dbs))

In [7]:
# use the created db
engine.execute("use tms")

2020-10-12 00:02:00,017 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-10-12 00:02:00,020 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:00,032 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-10-12 00:02:00,033 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:00,038 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2020-10-12 00:02:00,041 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:00,052 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-10-12 00:02:00,053 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:00,061 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-10-12 00:02:00,062 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:00,075 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2020-10-12 00:02:00,083 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:00,086 INFO sqlalchemy.engine.base.Engine use tms
2020-10-12 00:02:00,087 INFO sqlalchemy.engine.base.Engine ()

In [8]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, String, Integer

Base = sa.ext.declarative.declarative_base()

# Define a model for data from theatre API
class MoviesInTheatre(Base):
    __tablename__ = "movies_in_theatres"
    
    id = Column(Integer, primary_key=True)
    content_id = Column(String(56))
    title = Column(String(256))
    theatre_id = Column(Integer)
    release_year = Column(Integer)
    genre = Column(String(56))
    description = Column(String(4096))
    
    def __repr__(self):
        return "<Theatre(content_id='%s', title='%s, release_year=%d, genre=%s, theatre_id= %d, description=%s')>" % (
            self.content_id, self.title, self.release_year, self.genre, self.theatre_id, self.description)
    
# Define a model for data from tv API
class MoviesOnTv(Base):
    __tablename__ = "movies_on_tv"
    
    id = Column(Integer, primary_key=True)
    content_id = Column(String(56))
    title = Column(String(256))
    channel = Column(Integer)
    release_year = Column(Integer)
    genre = Column(String(56))
    description = Column(String(4096))
    
    def __repr__(self):
        return "<Tv(content_id='%s', title='%s, channel= %d, release_year=%d, genre=%s, description=%s')>" % (
            self.content_id, self.title, self.channel, self.release_year, self.genre, self.description)

In [9]:
# create table in mysql
Base.metadata.create_all(engine)

2020-10-12 00:02:00,280 INFO sqlalchemy.engine.base.Engine DESCRIBE `movies_in_theatres`
2020-10-12 00:02:00,282 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:00,286 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-10-12 00:02:00,288 INFO sqlalchemy.engine.base.Engine DESCRIBE `movies_on_tv`
2020-10-12 00:02:00,289 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:00,291 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-10-12 00:02:00,294 INFO sqlalchemy.engine.base.Engine
CREATE TABLE movies_in_theatres (
	id INTEGER NOT NULL AUTO_INCREMENT,
	content_id VARCHAR(56),
	title VARCHAR(256),
	theatre_id INTEGER,
	release_year INTEGER,
	genre VARCHAR(56),
	description VARCHAR(4096),
	PRIMARY KEY (id)
)


2020-10-12 00:02:00,294 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:00,396 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-12 00:02:00,400 INFO sqlalchemy.engine.base.Engine
CREATE TABLE movies_on_tv (
	id INTEGER NOT NULL AUTO_INCREMENT,
	content_id VARCHAR(56),
	title VARCHAR(256),
	channel INTEGER,
	release_year INTEGER,
	genre VARCHAR(56),
	description VARCHAR(4096),
	PRIMARY KEY (id)
)


2020-10-12 00:02:00,403 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:00,519 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
# list and verify if tables are created in tms db
tables = engine.execute("show tables").fetchall()
print("tables in database tms: %s" % str(tables))

2020-10-12 00:02:00,528 INFO sqlalchemy.engine.base.Engine show tables
2020-10-12 00:02:00,530 INFO sqlalchemy.engine.base.Engine ()
tables in database tms: [('movies_in_theatres',), ('movies_on_tv',)]

In [11]:
# define a method to fetch data from APIs
def fetchDataFromWeb(secret, zip_code, start_date, line_up_id, date_time):
    payload_for_movies_in_theatre = {
        "startDate": start_date,
        "zip": zip_code,
        "api_key": secret
    }

    payload_for_moview_airing_on_tv = {
        "lineupId": line_up_id,
        "startDateTime": date_time,
        "api_key":secret
    }
    
    try:
        movies_showings = requests.get("http://data.tmsapi.com/v1.1/movies/showings", params=payload_for_movies_in_theatre)
        movies_airings = requests.get("http://data.tmsapi.com/v1.1/movies/airings", params=payload_for_moview_airing_on_tv)
    except Exception as e:
        print("ERROR: Failed fetching data from API: %s" % str(e))
        raise(e)
    try:
        movies_showing_in_theatre = movies_showings.json()
        movies_airing_on_tv = movies_airings.json()
    except Exception as e:
        print("ERROR: Failed reading data from response objects: %s" % str(e))
        raise(e)
    
    return {
        "in_theatres": movies_showing_in_theatre,
        "on_tv": movies_airing_on_tv
    }

In [12]:
# parse required fields to be added to theatres table in mysql
def get_map_for_movies_in_theatres(data):
    movies = []
    for entry in data:
        channels = title = genres = description = ""
        releaseYear = 0
        theatre_ids = []
        if "tmsId" in entry and entry["tmsId"] is not None:
            content_id = entry["tmsId"]
        if "title" in entry and entry["title"] is not None:
            title = entry["title"]
        if "releaseYear" in entry and entry["releaseYear"] is not None:
            releaseYear = entry["releaseYear"]
        if "shortDescription" in entry and entry["shortDescription"] is not None:
            description = entry["shortDescription"]
        if "genres" in entry and entry["genres"] is not None:
            genres = entry["genres"]
        if "showtimes" in entry and entry["showtimes"] is not None:
            for show in entry["showtimes"]:
                if "theatre" in show and show["theatre"] is not None:
                    theatre_ids.append(show["theatre"]["id"])
            theatre_ids = list(set(theatre_ids))
        for theatre_id in theatre_ids:
            for genre in genres:
                movies.append({
                    "content_id": content_id,
                    "title": title,
                    "releaseYear": releaseYear,
                    "description": description,
                    "genre": genre,
                    "theatre_id": theatre_id
                })
    return movies    

# parse required fields to be added to tms table
def get_map_for_movies_on_tv(data):
    movies = []
    for entry in data:
        channels = title = genres = description = ""
        releaseYear = 0
        content_id = None
        if "channels" in entry and entry["channels"] is not None:
            channels = entry["channels"]
        if "program" in entry and entry["program"] is not None:
            program = entry["program"]
        if "tmsId" in program and program["tmsId"] is not None:
            content_id = program["tmsId"]
        if "title" in program and program["title"] is not None:
            title = program["title"]
        if "releaseYear" in program and program["releaseYear"] is not None:
            releaseYear = program["releaseYear"]
        if "shortDescription" in program and program["shortDescription"] is not None:
            description = program["shortDescription"]
        if "genres" in program and program["genres"] is not None:
            genres = program["genres"]
        for channel in channels:
            for genre in genres:
                movies.append({
                    "content_id": content_id,
                    "title": title,
                    "releaseYear": releaseYear,
                    "description": description,
                    "genre": genre,
                    "channels": channel
                })
    return movies

# define a function that inserts records into mysql tables
def saveDataIntoDB(data):
    movies_in_theatres = data["in_theatres"]
    movies_on_tv = data["on_tv"]
    
    try:
        movies_in_theatres_parsed = get_map_for_movies_in_theatres(movies_in_theatres)
        movies_on_tv_parsed = get_map_for_movies_on_tv(movies_on_tv)
    except Exception as e:
        print("ERROR: Failed to parse API response")
        raise(e)
    
    try:
        theatres = [MoviesInTheatre(
            content_id= movie["content_id"],
            title= movie["title"],
            release_year= movie["releaseYear"],
            description= movie["description"],
            genre = str(movie["genre"]),
            theatre_id= movie["theatre_id"]
        ) for movie in movies_in_theatres_parsed]

        tvs = [MoviesOnTv(
            content_id= movie["content_id"],
            title= movie["title"],
            release_year= movie["releaseYear"],
            description= movie["description"],
            genre = str(movie["genre"]),
            channel= str(movie["channels"])
        ) for movie in movies_on_tv_parsed]
    except Exception as e:
        print("ERROR: Failed creating instances of MoviesInTheatre/MoviesOnTv")
        raise(e)
    
    # get a session to make transaction with DB
    try:
        Session = sessionmaker(bind = engine)
        session = Session()
    except Exception as e:
        print("ERROR: Failed to get session from DB")
        raise(e)
    # add transactions to session
    
    try:
        session.add_all(tvs)
        session.add_all(theatres)
        session.commit()   
    except Exception as e:
        print("ERROR: Failed to add records to DB")
    finally:
        session.close()

In [13]:
# define a function to get data from DB, 
# determine top 5 trending genres with highest movie counts and return top 5 genres with movie details
def getTopGenres():
    try:
        conn = engine.connect()
    except Exception as e:
        print("ERROR: Failed to get DB connection")
        raise(e)
    try:
        # using pandas read only columns which are required for grouping movies by genre and determining to genres
        df_movies_on_tv = pd.read_sql("select id, genre, content_id from movies_on_tv", conn, index_col="id")
        df_movies_in_theatre = pd.read_sql("select id, genre, content_id from movies_in_theatres", conn, index_col="id")

        # group dataframes by genre and analyze the result
        print(df_movies_in_theatre.groupby("genre")["content_id"].value_counts().head())
        print(df_movies_on_tv.groupby("genre")["content_id"].value_counts().head())
        # output of above statement shows that a movies appears multiple times in the same genre.
        # This is the result of the fact that a movie can be running in multiple theatres/channels,
        # hence there are multiple entries in db.

        # drop duplicates to get unique movies
        df_combined_movies_list = pd.concat([df_movies_in_theatre, df_movies_on_tv])
        df_combined_movies_list.drop_duplicates(inplace=True)
        # print(df_combined_movies_list.head())

        # group the combined list by genre and sort descending  
        grouped_by_genre_object = df_combined_movies_list.groupby("genre")
        sorted_series = grouped_by_genre_object["content_id"].count().sort_values(ascending=False)

        # get top 5 genres with highest movie count
        top_genres = sorted_series.head(5).index.tolist()
        # print(top_genres)

        # get the tmsId/content_id of the movies in top 5 genre
        movies_in_top_genre = df_combined_movies_list[df_combined_movies_list["genre"].isin(top_genres)]

        # get the details(title, release_year and description) of all movies in top 5 genre
        top_genres_as_string = "'" + "','".join(top_genres) + "'"

        query = "select distinct content_id, id, genre, title, release_year, description from {tablename} where genre in ({top_genre})".format(tablename="movies_in_theatres", top_genre= top_genres_as_string)
        theatre_movie_details = pd.read_sql(query, conn, index_col="id")
        query = "select distinct content_id, id, genre, title, release_year, description from {tablename} where genre in ({top_genre})".format(tablename="movies_on_tv", top_genre= top_genres_as_string)
        tv_movie_details = pd.read_sql(query, conn, index_col="id")

        # concat results from both tables and remove duplicates
        combined_movie_details = pd.concat([theatre_movie_details, tv_movie_details])
        combined_movie_details.drop_duplicates(subset=["genre", "content_id"], inplace=True)
        combined_movie_details = combined_movie_details.iloc[combined_movie_details.groupby('genre').content_id.transform('size').mul(-1).argsort(kind='mergesort')]
        combined_movie_details.set_index("content_id", inplace=True)
        return combined_movie_details
    except Exception as e:
        print("ERROR: Failed determining top 5 genres")
    finally:
        # close DB connection after transaction
        conn.close()

In [14]:
# sample parameters
zip_code = "78701"
start_date = "2020-10-11"
line_up_id = "USA-TX42500-X"
date_time = "2020-10-09T19:30Z"

try:
    movies_data = fetchDataFromWeb(SECRET, zip_code, start_date, line_up_id, date_time)
    saveDataIntoDB(movies_data)
    movie_details_top_genres = getTopGenres()
    movie_details_top_genres.to_json("movie_details_top_genres.json", orient="records")
except Exception as e:
    print("ERROR: Failed to fetch read data from API")
    raise(e)

2020-10-12 00:02:03,820 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-12 00:02:03,822 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,823 INFO sqlalchemy.engine.base.Engine ('MV011727750000', 'Turtle Odyssey', '4604', 2018, 'Documentary', 'The unique life cycle of an Australian green sea turtle and its journey across the open ocean.')
2020-10-12 00:02:03,830 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,831 INFO sqlalchemy.engine.base.Engine ('MV013787510000', "Into America's Wild", '4604', 2020, 'Documentary', 'Filmmaker Greg MacGillivray explores some of the most beautiful landscapes in North America.')
2020-10-12 00:02:03,832 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,834 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '5084', 2017, 'Comedy', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,836 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,837 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '5084', 2017, 'Adventure', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,840 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,841 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '5084', 2017, 'Music', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,845 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,848 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '5084', 2017, 'Animated', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,851 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,853 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '5084', 2017, 'Children', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,855 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,858 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '8749', 2017, 'Comedy', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,860 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,861 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '8749', 2017, 'Adventure', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,863 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,864 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '8749', 2017, 'Music', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,866 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,867 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '8749', 2017, 'Animated', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,870 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,872 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '8749', 2017, 'Children', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,878 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,879 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '5320', 2017, 'Comedy', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,881 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,882 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '5320', 2017, 'Adventure', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,884 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,885 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '5320', 2017, 'Music', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,887 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,890 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '5320', 2017, 'Animated', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,893 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,894 INFO sqlalchemy.engine.base.Engine ('MV009897380000', 'Coco', '5320', 2017, 'Children', "A boy embarks on a journey through the colorful Land of the Dead to discover his family's history.")
2020-10-12 00:02:03,896 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,897 INFO sqlalchemy.engine.base.Engine ('MV013618560000', 'Tenet', '5084', 2020, 'Action', 'A secret agent embarks on a dangerous, time-bending mission to prevent the start of World War III.')
2020-10-12 00:02:03,900 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,901 INFO sqlalchemy.engine.base.Engine ('MV013618560000', 'Tenet', '5084', 2020, 'Science fiction', 'A secret agent embarks on a dangerous, time-bending mission to prevent the start of World War III.')
2020-10-12 00:02:03,907 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,909 INFO sqlalchemy.engine.base.Engine ('MV013618560000', 'Tenet', '5084', 2020, 'Thriller', 'A secret agent embarks on a dangerous, time-bending mission to prevent the start of World War III.')
2020-10-12 00:02:03,911 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:03,912 INFO sqlalchemy.engine.base.Engine ('MV013618560000', 'Tenet', '8749', 2020, 'Action', 'A secret agent embarks on a dangerous, time-bending mission to prevent the start of World War III.')
2020-10-12 00:02:03,915 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,916 INFO sqlalchemy.engine.base.Engine ('MV013618560000', 'Tenet', '8749', 2020, 'Science fiction', 'A secret agent embarks on a dangerous, time-bending mission to prevent the start of World War III.')
2020-10-12 00:02:03,918 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,919 INFO sqlalchemy.engine.base.Engine ('MV013618560000', 'Tenet', '8749', 2020, 'Thriller', 'A secret agent embarks on a dangerous, time-bending mission to prevent the start of World War III.')
2020-10-12 00:02:03,921 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,922 INFO sqlalchemy.engine.base.Engine ('MV013618560000', 'Tenet', '5320', 2020, 'Action', 'A secret agent embarks on a dangerous, time-bending mission to prevent the start of World War III.')
2020-10-12 00:02:03,926 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,926 INFO sqlalchemy.engine.base.Engine ('MV013618560000', 'Tenet', '5320', 2020, 'Science fiction', 'A secret agent embarks on a dangerous, time-bending mission to prevent the start of World War III.')
2020-10-12 00:02:03,929 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,930 INFO sqlalchemy.engine.base.Engine ('MV013618560000', 'Tenet', '5320', 2020, 'Thriller', 'A secret agent embarks on a dangerous, time-bending mission to prevent the start of World War III.')
2020-10-12 00:02:03,932 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,933 INFO sqlalchemy.engine.base.Engine ('MV014168010000', 'Save Yourselves!', '5084', 2020, 'Comedy', 'Earth comes under attack after a couple retreat to the woods to live off the grid for one week.')
2020-10-12 00:02:03,938 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,940 INFO sqlalchemy.engine.base.Engine ('MV014439100000', 'On the Rocks', '5084', 2020, 'Comedy', 'A New York woman and her impulsive father try to find out if her husband is having an affair.')
2020-10-12 00:02:03,942 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,944 INFO sqlalchemy.engine.base.Engine ('MV003548780000', 'Drive', '5084', 2011, 'Crime drama', 'A stuntman who moonlights as a getaway driver has a price on his head after a botched robbery.')
2020-10-12 00:02:03,946 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,947 INFO sqlalchemy.engine.base.Engine ('MV003548780000', 'Drive', '5084', 2011, 'Action', 'A stuntman who moonlights as a getaway driver has a price on his head after a botched robbery.')
2020-10-12 00:02:03,949 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,950 INFO sqlalchemy.engine.base.Engine ('MV014505330000', 'The Wolf of Snow Hollow', '5084', 2020, 'Horror', 'Paranoia grips a small mountain town as bodies turn up after each full moon.')
2020-10-12 00:02:03,952 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,953 INFO sqlalchemy.engine.base.Engine ('MV014505330000', 'The Wolf of Snow Hollow', '5084', 2020, 'Thriller', 'Paranoia grips a small mountain town as bodies turn up after each full moon.')
2020-10-12 00:02:03,955 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,958 INFO sqlalchemy.engine.base.Engine ('MV000381250000', 'Batman: Mask of the Phantasm', '5084', 1993, 'Action', 'Police and gangsters mistake the Caped Crusader for a mysterious killer preying on Gotham City.')
2020-10-12 00:02:03,961 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,962 INFO sqlalchemy.engine.base.Engine ('MV000381250000', 'Batman: Mask of the Phantasm', '5084', 1993, 'Animated', 'Police and gangsters mistake the Caped Crusader for a mysterious killer preying on Gotham City.')
2020-10-12 00:02:03,964 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,965 INFO sqlalchemy.engine.base.Engine ('MV000381250000', 'Batman: Mask of the Phantasm', '5084', 1993, 'Children', 'Police and gangsters mistake the Caped Crusader for a mysterious killer preying on Gotham City.')
2020-10-12 00:02:03,968 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,969 INFO sqlalchemy.engine.base.Engine ('MV013450420000', 'Yellow Rose', '5084', 2019, 'Drama', 'A teen must decide whether to stay with her family or leave town to become a country music singer.')
2020-10-12 00:02:03,975 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,976 INFO sqlalchemy.engine.base.Engine ('MV013450420000', 'Yellow Rose', '5084', 2019, 'Music', 'A teen must decide whether to stay with her family or leave town to become a country music singer.')
2020-10-12 00:02:03,978 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,979 INFO sqlalchemy.engine.base.Engine ('MV013450420000', 'Yellow Rose', '5084', 2019, 'Country', 'A teen must decide whether to stay with her family or leave town to become a country music singer.')
2020-10-12 00:02:03,981 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,982 INFO sqlalchemy.engine.base.Engine ('MV013450420000', 'Yellow Rose', '5320', 2019, 'Drama', 'A teen must decide whether to stay with her family or leave town to become a country music singer.')
2020-10-12 00:02:03,985 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,985 INFO sqlalchemy.engine.base.Engine ('MV013450420000', 'Yellow Rose', '5320', 2019, 'Music', 'A teen must decide whether to stay with her family or leave town to become a country music singer.')
2020-10-12 00:02:03,988 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,989 INFO sqlalchemy.engine.base.Engine ('MV013450420000', 'Yellow Rose', '5320', 2019, 'Country', 'A teen must decide whether to stay with her family or leave town to become a country music singer.')

2020-10-12 00:02:03,993 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,994 INFO sqlalchemy.engine.base.Engine ('MV015233630000', 'Possessor: Uncut', '5084', 2020, 'Science fiction', "An elite assassin uses brain-implant technology to inhabit other people's bodies.")
2020-10-12 00:02:03,996 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:03,997 INFO sqlalchemy.engine.base.Engine ('MV015233630000', 'Possessor: Uncut', '5084', 2020, 'Thriller', "An elite assassin uses brain-implant technology to inhabit other people's bodies.")
2020-10-12 00:02:03,999 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,001 INFO sqlalchemy.engine.base.Engine ('MV015233630000', 'Possessor: Uncut', '8749', 2020, 'Science fiction', "An elite assassin uses brain-implant technology to inhabit other people's bodies.")
2020-10-12 00:02:04,004 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,006 INFO sqlalchemy.engine.base.Engine ('MV015233630000', 'Possessor: Uncut', '8749', 2020, 'Thriller', "An elite assassin uses brain-implant technology to inhabit other people's bodies.")
2020-10-12 00:02:04,010 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,011 INFO sqlalchemy.engine.base.Engine ('MV000371150000', 'Hocus Pocus', '5084', 1993, 'Comedy', 'Trick-or-treaters meet three witch sisters (Bette Midler, Sarah Jessica Parker, Kathy Najimy).')
2020-10-12 00:02:04,013 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,014 INFO sqlalchemy.engine.base.Engine ('MV000371150000', 'Hocus Pocus', '5084', 1993, 'Children', 'Trick-or-treaters meet three witch sisters (Bette Midler, Sarah Jessica Parker, Kathy Najimy).')
2020-10-12 00:02:04,017 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,018 INFO sqlalchemy.engine.base.Engine ('MV000371150000', 'Hocus Pocus', '8749', 1993, 'Comedy', 'Trick-or-treaters meet three witch sisters (Bette Midler, Sarah Jessica Parker, Kathy Najimy).')
2020-10-12 00:02:04,020 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,021 INFO sqlalchemy.engine.base.Engine ('MV000371150000', 'Hocus Pocus', '8749', 1993, 'Children', 'Trick-or-treaters meet three witch sisters (Bette Midler, Sarah Jessica Parker, Kathy Najimy).')
2020-10-12 00:02:04,025 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,026 INFO sqlalchemy.engine.base.Engine ('MV000371150000', 'Hocus Pocus', '5320', 1993, 'Comedy', 'Trick-or-treaters meet three witch sisters (Bette Midler, Sarah Jessica Parker, Kathy Najimy).')
2020-10-12 00:02:04,028 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,029 INFO sqlalchemy.engine.base.Engine ('MV000371150000', 'Hocus Pocus', '5320', 1993, 'Children', 'Trick-or-treaters meet three witch sisters (Bette Midler, Sarah Jessica Parker, Kathy Najimy).')
2020-10-12 00:02:04,031 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,033 INFO sqlalchemy.engine.base.Engine ('MV000491040000', 'Scream', '5084', 1996, 'Horror', "A psycho killer targets a past victim's daughter (Neve Campbell).")
2020-10-12 00:02:04,035 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,036 INFO sqlalchemy.engine.base.Engine ('MV000491040000', 'Scream', '5084', 1996, 'Comedy', "A psycho killer targets a past victim's daughter (Neve Campbell).")
2020-10-12 00:02:04,039 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,040 INFO sqlalchemy.engine.base.Engine ('MV013941890000', 'Kajillionaire', '5320', 2020, 'Comedy drama', 'A family of con artists encounter a stranger who turns their entire world upside down.')
2020-10-12 00:02:04,043 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,044 INFO sqlalchemy.engine.base.Engine ('MV010041030000', 'The New Mutants', '8749', 2020, 'Fantasy', 'Teenage mutants embrace their superpowers while undergoing treatments at a secret institution.')
2020-10-12 00:02:04,047 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,050 INFO sqlalchemy.engine.base.Engine ('MV010041030000', 'The New Mutants', '8749', 2020, 'Horror', 'Teenage mutants embrace their superpowers while undergoing treatments at a secret institution.')
2020-10-12 00:02:04,054 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,055 INFO sqlalchemy.engine.base.Engine ('MV010041030000', 'The New Mutants', '5320', 2020, 'Fantasy', 'Teenage mutants embrace their superpowers while undergoing treatments at a secret institution.')
2020-10-12 00:02:04,059 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,061 INFO sqlalchemy.engine.base.Engine ('MV010041030000', 'The New Mutants', '5320', 2020, 'Horror', 'Teenage mutants embrace their superpowers while undergoing treatments at a secret institution.')
2020-10-12 00:02:04,063 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,064 INFO sqlalchemy.engine.base.Engine ('MV009399060000', 'The War With Grandpa', '8749', 2020, 'Comedy', 'A scheming boy devises a series of outrageous pranks to win back his room from his grandfather.')
2020-10-12 00:02:04,066 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,068 INFO sqlalchemy.engine.base.Engine ('MV009399060000', 'The War With Grandpa', '5320', 2020, 'Comedy', 'A scheming boy devises a series of outrageous pranks to win back his room from his grandfather.')
2020-10-12 00:02:04,071 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,072 INFO sqlalchemy.engine.base.Engine ('MV003312740000', 'Michael Jordan: To the Max IMAX', '5320', 2000, 'Documentary', 'Filmmakers Don Kempf and James Stern pay tribute to the basketball player.')
2020-10-12 00:02:04,074 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:04,075 INFO sqlalchemy.engine.base.Engine ('MV014214110000', 'The Broken Hearts Gallery', '8749', 2020, 'Romantic comedy', 'A New York art gallery assistant creates an exhibit for souvenirs from past romantic relationships.')
2020-10-12 00:02:04,078 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,079 INFO sqlalchemy.engine.base.Engine ('MV014214110000', 'The Broken Hearts Gallery', '5320', 2020, 'Romantic comedy', 'A New York art gallery assistant creates an exhibit for souvenirs from past romantic relationships.')
2020-10-12 00:02:04,082 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,083 INFO sqlalchemy.engine.base.Engine ('MV001067170000', 'Shrek', '5320', 2001, 'Comedy', 'A monster (Mike Myers) and a donkey (Eddie Murphy) make a deal with a mean lord.')
2020-10-12 00:02:04,085 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,086 INFO sqlalchemy.engine.base.Engine ('MV001067170000', 'Shrek', '5320', 2001, 'Fantasy', 'A monster (Mike Myers) and a donkey (Eddie Murphy) make a deal with a mean lord.')
2020-10-12 00:02:04,089 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,090 INFO sqlalchemy.engine.base.Engine ('MV001067170000', 'Shrek', '5320', 2001, 'Animated', 'A monster (Mike Myers) and a donkey (Eddie Murphy) make a deal with a mean lord.')
2020-10-12 00:02:04,093 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,094 INFO sqlalchemy.engine.base.Engine ('MV001067170000', 'Shrek', '5320', 2001, 'Children', 'A monster (Mike Myers) and a donkey (Eddie Murphy) make a deal with a mean lord.')
2020-10-12 00:02:04,096 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,097 INFO sqlalchemy.engine.base.Engine ('MV006011370000', 'Annabelle', '5320', 2014, 'Horror', "A vintage doll becomes a conduit for ultimate evil after devil worshippers invade a couple's home.")
2020-10-12 00:02:04,100 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,101 INFO sqlalchemy.engine.base.Engine ('MV006011370000', 'Annabelle', '5320', 2014, 'Thriller', "A vintage doll becomes a conduit for ultimate evil after devil worshippers invade a couple's home.")
2020-10-12 00:02:04,104 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,106 INFO sqlalchemy.engine.base.Engine ('MV013812620000', 'Unhinged', '5320', 2020, 'Thriller', 'A case of road rage turns into full-blown terror when a crazed driver stalks a woman and her son.')
2020-10-12 00:02:04,108 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,110 INFO sqlalchemy.engine.base.Engine ('MV001969710000', 'Harry Potter and the Order of the Phoenix', '8749', 2007, 'Fantasy', "Harry (Daniel Radcliffe) teaches a group of students to defend Hogwarts from Voldemort's minions.")
2020-10-12 00:02:04,113 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,118 INFO sqlalchemy.engine.base.Engine ('MV001969710000', 'Harry Potter and the Order of the Phoenix', '8749', 2007, 'Adventure', "Harry (Daniel Radcliffe) teaches a group of students to defend Hogwarts from Voldemort's minions.")
2020-10-12 00:02:04,120 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,121 INFO sqlalchemy.engine.base.Engine ('MV000227710000', 'The Lost Boys', '8749', 1987, 'Horror', 'A woman (Dianne Wiest) and her sons (Jason Patric, Corey Haim) move to a town full of vampires.')
2020-10-12 00:02:04,125 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,126 INFO sqlalchemy.engine.base.Engine ('MV000227710000', 'The Lost Boys', '8749', 1987, 'Comedy', 'A woman (Dianne Wiest) and her sons (Jason Patric, Corey Haim) move to a town full of vampires.')
2020-10-12 00:02:04,129 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,130 INFO sqlalchemy.engine.base.Engine ('MV015239170000', 'The Call', '8749', 2020, 'Horror', 'A woman rises from the grave to seek revenge against a group of friends who tormented her.')
2020-10-12 00:02:04,132 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_in_theatres (content_id, title, theatre_id, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,133 INFO sqlalchemy.engine.base.Engine ('MV014421510000', 'Time', '8749', 2020, 'Documentary', 'Entrepreneur Fox Rich spends two decades campaigning for the release of her imprisoned husband.')
2020-10-12 00:02:04,145 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,146 INFO sqlalchemy.engine.base.Engine ('MV001478330000', 'Sardari Begum', '1542', 1997, 'Drama', 'A thumari singer (Kiron Kher) struggles all her life to find fame and fortune.')
2020-10-12 00:02:04,154 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,155 INFO sqlalchemy.engine.base.Engine ('MV001478330000', 'Sardari Begum', '1542', 1997, 'Biography', 'A thumari singer (Kiron Kher) struggles all her life to find fame and fortune.')
2020-10-12 00:02:04,159 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,160 INFO sqlalchemy.engine.base.Engine ('MV003358300000', 'Big Mommas: Like Father, Like Son', '182', 2011, 'Comedy', 'Malcolm Turner and his stepson go under cover at a girls school to find a killer.')
2020-10-12 00:02:04,163 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,164 INFO sqlalchemy.engine.base.Engine ('MV000792400000', 'For Love of the Game', '609', 1999, 'Drama', 'Pitcher (Kevin Costner) handles personal and professional crises.')
2020-10-12 00:02:04,167 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,168 INFO sqlalchemy.engine.base.Engine ('MV005916410000', 'X-Men III: The Last Stand', '058', 2006, 'Action', 'The discovery of a cure for mutations divides the followers of Charles Xavier and those of Magneto.')
2020-10-12 00:02:04,170 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,172 INFO sqlalchemy.engine.base.Engine ('MV005916410000', 'X-Men III: The Last Stand', '058', 2006, 'Adventure', 'The discovery of a cure for mutations divides the followers of Charles Xavier and those of Magneto.')

2020-10-12 00:02:04,175 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,176 INFO sqlalchemy.engine.base.Engine ('MV005916410000', 'X-Men III: The Last Stand', '058', 2006, 'Fantasy', 'The discovery of a cure for mutations divides the followers of Charles Xavier and those of Magneto.')
2020-10-12 00:02:04,178 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,179 INFO sqlalchemy.engine.base.Engine ('MV005916410000', 'X-Men III: The Last Stand', '058', 2006, 'Science fiction', 'The discovery of a cure for mutations divides the followers of Charles Xavier and those of Magneto.')
2020-10-12 00:02:04,181 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,182 INFO sqlalchemy.engine.base.Engine ('MV005916410000', 'X-Men III: The Last Stand', '111', 2006, 'Action', 'The discovery of a cure for mutations divides the followers of Charles Xavier and those of Magneto.')
2020-10-12 00:02:04,184 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,185 INFO sqlalchemy.engine.base.Engine ('MV005916410000', 'X-Men III: The Last Stand', '111', 2006, 'Adventure', 'The discovery of a cure for mutations divides the followers of Charles Xavier and those of Magneto.')
2020-10-12 00:02:04,188 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,189 INFO sqlalchemy.engine.base.Engine ('MV005916410000', 'X-Men III: The Last Stand', '111', 2006, 'Fantasy', 'The discovery of a cure for mutations divides the followers of Charles Xavier and those of Magneto.')
2020-10-12 00:02:04,191 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,192 INFO sqlalchemy.engine.base.Engine ('MV005916410000', 'X-Men III: The Last Stand', '111', 2006, 'Science fiction', 'The discovery of a cure for mutations divides the followers of Charles Xavier and those of Magneto.')
2020-10-12 00:02:04,195 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,196 INFO sqlalchemy.engine.base.Engine ('MV000344140000', 'Fried Green Tomatoes', '551', 1991, 'Drama', 'An old woman (Jessica Tandy) tells a friend (Kathy Bates) of two 1930s Southern women.')
2020-10-12 00:02:04,202 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,204 INFO sqlalchemy.engine.base.Engine ('MV000631330000', 'Pleasantville', '585', 1998, 'Comedy', "A high-tech remote control transports two '90s siblings into an idealistic 1950s TV sitcom.")
2020-10-12 00:02:04,208 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,209 INFO sqlalchemy.engine.base.Engine ('MV000379870000', "What's Eating Gilbert Grape", '621', 1993, 'Comedy drama', 'A young man (Johnny Depp) cares for an obese mother, a mentally ill brother and two teenage sisters.')
2020-10-12 00:02:04,211 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,212 INFO sqlalchemy.engine.base.Engine ('MV000439270000', 'The American President', '605', 1995, 'Romance', "A rival exploits the president's (Michael Douglas) romance with a lobbyist (Annette Bening).")
2020-10-12 00:02:04,214 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,215 INFO sqlalchemy.engine.base.Engine ('MV000439270000', 'The American President', '605', 1995, 'Comedy drama', "A rival exploits the president's (Michael Douglas) romance with a lobbyist (Annette Bening).")
2020-10-12 00:02:04,217 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,219 INFO sqlalchemy.engine.base.Engine ('MV000238350000', 'Cry Freedom', '583', 1987, 'Historical drama', 'Editor Donald Woods (Kevin Kline) fights apartheid with activist Steve Biko (Denzel Washington).')
2020-10-12 00:02:04,222 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,224 INFO sqlalchemy.engine.base.Engine ('MV000238350000', 'Cry Freedom', '583', 1987, 'Biography', 'Editor Donald Woods (Kevin Kline) fights apartheid with activist Steve Biko (Denzel Washington).')
2020-10-12 00:02:04,229 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,230 INFO sqlalchemy.engine.base.Engine ('MV001757050000', 'ATL', '050', 2006, 'Comedy drama', 'The lives of four working-class Atlanta teenagers revolve around hip-hop music and rollerskating.')
2020-10-12 00:02:04,233 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,234 INFO sqlalchemy.engine.base.Engine ('MV001757050000', 'ATL', '117', 2006, 'Comedy drama', 'The lives of four working-class Atlanta teenagers revolve around hip-hop music and rollerskating.')
2020-10-12 00:02:04,237 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,239 INFO sqlalchemy.engine.base.Engine ('MV000075320000', 'Berserk', '1248', 1967, 'Horror', "Scotland Yard checks spiking and buzzsawing at Monica's (Joan Crawford) circus.")
2020-10-12 00:02:04,242 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,244 INFO sqlalchemy.engine.base.Engine ('MV001337090000', 'The Cooler', '553', 2003, 'Drama', "A casino director's (Alec Baldwin) employee (William H. Macy) falls for a waitress (Maria Bello).")
2020-10-12 00:02:04,246 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,247 INFO sqlalchemy.engine.base.Engine ('MV001337090000', 'The Cooler', '553', 2003, 'Romance', "A casino director's (Alec Baldwin) employee (William H. Macy) falls for a waitress (Maria Bello).")
2020-10-12 00:02:04,250 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,251 INFO sqlalchemy.engine.base.Engine ('MV010821920000', 'Vive por mí', '971', 2016, 'Drama', 'Relato de la frágil vida que llevan cuatro personas durante un mes de su vida.')
2020-10-12 00:02:04,253 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,255 INFO sqlalchemy.engine.base.Engine ('MV010000430000', 'Happy Death Day', '091', 2017, 'Horror', 'A collegian must relive the day of her murder over and over until she figures out who killed her.')
2020-10-12 00:02:04,258 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:04,259 INFO sqlalchemy.engine.base.Engine ('MV010000430000', 'Happy Death Day', '091', 2017, 'Thriller', 'A collegian must relive the day of her murder over and over until she figures out who killed her.')
2020-10-12 00:02:04,262 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,263 INFO sqlalchemy.engine.base.Engine ('MV010000430000', 'Happy Death Day', '091', 2017, 'Comedy', 'A collegian must relive the day of her murder over and over until she figures out who killed her.')
2020-10-12 00:02:04,265 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,266 INFO sqlalchemy.engine.base.Engine ('MV010000430000', 'Happy Death Day', '109', 2017, 'Horror', 'A collegian must relive the day of her murder over and over until she figures out who killed her.')
2020-10-12 00:02:04,269 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,270 INFO sqlalchemy.engine.base.Engine ('MV010000430000', 'Happy Death Day', '109', 2017, 'Thriller', 'A collegian must relive the day of her murder over and over until she figures out who killed her.')
2020-10-12 00:02:04,273 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,275 INFO sqlalchemy.engine.base.Engine ('MV010000430000', 'Happy Death Day', '109', 2017, 'Comedy', 'A collegian must relive the day of her murder over and over until she figures out who killed her.')
2020-10-12 00:02:04,278 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,281 INFO sqlalchemy.engine.base.Engine ('MV002143870000', 'The Day of the Beast', '661', 1995, 'Horror', 'Un cura y sus ayudantes pretenden invocar al diablo para evitar el nacimiento del anticristo.')
2020-10-12 00:02:04,284 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,285 INFO sqlalchemy.engine.base.Engine ('MV002143870000', 'The Day of the Beast', '661', 1995, 'Dark comedy', 'Un cura y sus ayudantes pretenden invocar al diablo para evitar el nacimiento del anticristo.')
2020-10-12 00:02:04,287 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,288 INFO sqlalchemy.engine.base.Engine ('MV000457790000', 'Fear', '539', 1996, 'Thriller', "Deranged suitor (Mark Wahlberg) torments teen girl's (Reese Witherspoon) family and friends.")
2020-10-12 00:02:04,291 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,293 INFO sqlalchemy.engine.base.Engine ('MV000574880000', 'Senseless', '540', 1998, 'Comedy', "An experimental drug alters a collegian's (Marlon Wayans) senses.")
2020-10-12 00:02:04,296 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,297 INFO sqlalchemy.engine.base.Engine ('MV001292310000', 'Chicago', '572', 2002, 'Musical', 'A lawyer handles the cases of two murderous women who are looking to gain celebrity.')
2020-10-12 00:02:04,299 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,300 INFO sqlalchemy.engine.base.Engine ('MV001292310000', 'Chicago', '572', 2002, 'Drama', 'A lawyer handles the cases of two murderous women who are looking to gain celebrity.')
2020-10-12 00:02:04,302 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,304 INFO sqlalchemy.engine.base.Engine ('MV014067150000', '2 Minutes of Fame', '523', 2020, 'Comedy', 'A stand-up comic hopes to hit the big time in Los Angeles after he becomes a social media sensation.')
2020-10-12 00:02:04,307 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,309 INFO sqlalchemy.engine.base.Engine ('MV012295900000', 'In Bed With a Killer', '076', 2019, 'Thriller', "A single mother meets the man of her dreams. Little does she know he's hiding some dark secrets.")
2020-10-12 00:02:04,312 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,314 INFO sqlalchemy.engine.base.Engine ('MV012295900000', 'In Bed With a Killer', '630', 2019, 'Thriller', "A single mother meets the man of her dreams. Little does she know he's hiding some dark secrets.")
2020-10-12 00:02:04,316 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,317 INFO sqlalchemy.engine.base.Engine ('MV014096490000', 'Los hijos del patrón', '972', 2019, 'Action', 'Los traumas y los problemas económicos están dificultando la supervivencia de Carlos.')
2020-10-12 00:02:04,320 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,321 INFO sqlalchemy.engine.base.Engine ('MV011828350000', 'Love in Design', '039', 2018, 'Romance', 'A television star reunites with an old flame while renovating a historical manor.')
2020-10-12 00:02:04,323 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,324 INFO sqlalchemy.engine.base.Engine ('MV011828350000', 'Love in Design', '123', 2018, 'Romance', 'A television star reunites with an old flame while renovating a historical manor.')
2020-10-12 00:02:04,326 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,328 INFO sqlalchemy.engine.base.Engine ('MV006338310000', 'Descalzo sobre la tierra roja', '984', 2013, 'Drama', 'La historia de la vida del obispo del misionero español de Sao Félix do Araguaia Pere Casaldáliga.')
2020-10-12 00:02:04,330 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,332 INFO sqlalchemy.engine.base.Engine ('MV006338310000', 'Descalzo sobre la tierra roja', '984', 2013, 'Biography', 'La historia de la vida del obispo del misionero español de Sao Félix do Araguaia Pere Casaldáliga.')
2020-10-12 00:02:04,336 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,338 INFO sqlalchemy.engine.base.Engine ('MV014329430000', 'Estrategia de escape', '983', 2017, 'Science fiction', 'Dos hermanos atrapados en un bucle temporal deben evitar que ocurra un incendio catastrófico.')
2020-10-12 00:02:04,341 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,342 INFO sqlalchemy.engine.base.Engine ('MV011919670000', 'La vieja música', '985', 1985, 'Romance', 'Un exiliado uruguayo llega a España con su hija y busca a un antiguo amor.')
2020-10-12 00:02:04,344 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:04,345 INFO sqlalchemy.engine.base.Engine ('MV000323090000', 'Quigley Down Under', '622', 1990, 'Western', "Old West sharpshooter's (Tom Selleck) new boss (Alan Rickman) tells him to kill Aborigines.")
2020-10-12 00:02:04,348 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,349 INFO sqlalchemy.engine.base.Engine ('MV000000540000', 'Thief', '541', 1981, 'Crime drama', 'A safecracker (James Caan) wants to quit, but mobsters say no.')
2020-10-12 00:02:04,351 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,354 INFO sqlalchemy.engine.base.Engine ('MV000000540000', 'Thief', '541', 1981, 'Action', 'A safecracker (James Caan) wants to quit, but mobsters say no.')
2020-10-12 00:02:04,357 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,358 INFO sqlalchemy.engine.base.Engine ('MV001605690000', 'Stealth', '581', 2005, 'Action', 'Three pilots (Josh Lucas, Jessica Biel, Jamie Foxx) combat artificial intelligence.')
2020-10-12 00:02:04,361 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,361 INFO sqlalchemy.engine.base.Engine ('MV001605690000', 'Stealth', '581', 2005, 'Thriller', 'Three pilots (Josh Lucas, Jessica Biel, Jamie Foxx) combat artificial intelligence.')
2020-10-12 00:02:04,364 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,365 INFO sqlalchemy.engine.base.Engine ('MV000400150000', 'The Shadow', '542', 1994, 'Action', 'Caped avenger (Alec Baldwin) battles villain (John Lone) in 1930s Manhattan.')
2020-10-12 00:02:04,367 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,369 INFO sqlalchemy.engine.base.Engine ('MV000400150000', 'The Shadow', '542', 1994, 'Adventure', 'Caped avenger (Alec Baldwin) battles villain (John Lone) in 1930s Manhattan.')
2020-10-12 00:02:04,373 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,374 INFO sqlalchemy.engine.base.Engine ('MV003840260000', 'Treasure Buddies', '514', 2012, 'Comedy', 'The buddies travel to Egypt and race against an evil cat to find a great treasure.')
2020-10-12 00:02:04,377 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,378 INFO sqlalchemy.engine.base.Engine ('MV003840260000', 'Treasure Buddies', '514', 2012, 'Adventure', 'The buddies travel to Egypt and race against an evil cat to find a great treasure.')
2020-10-12 00:02:04,381 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,382 INFO sqlalchemy.engine.base.Engine ('MV003840260000', 'Treasure Buddies', '514', 2012, 'Children', 'The buddies travel to Egypt and race against an evil cat to find a great treasure.')
2020-10-12 00:02:04,385 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,386 INFO sqlalchemy.engine.base.Engine ('MV000137600000', 'Tootsie', '557', 1982, 'Comedy', 'Out-of-work actor Michael Dorsey (Dustin Hoffman) becomes soap-opera star Dorothy Michaels.')
2020-10-12 00:02:04,388 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,390 INFO sqlalchemy.engine.base.Engine ('MV001191500000', 'John Q', '519', 2002, 'Drama', 'A man (Denzel Washington) with a dying son takes hostages at a hospital.')
2020-10-12 00:02:04,393 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,394 INFO sqlalchemy.engine.base.Engine ('MV009264030000', "Don't Breathe", '973', 2016, 'Thriller', 'Unos ladrones entran a robar en la casa de un ciego que guarda un terrible secreto.')
2020-10-12 00:02:04,396 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,398 INFO sqlalchemy.engine.base.Engine ('MV009264030000', "Don't Breathe", '973', 2016, 'Horror', 'Unos ladrones entran a robar en la casa de un ciego que guarda un terrible secreto.')
2020-10-12 00:02:04,400 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,401 INFO sqlalchemy.engine.base.Engine ('MV001910280000', 'The Land Before Time XII: The Great Day of the Flyers', '584', 2006, 'Adventure', 'Littlefoot (Nick Price) and friends meet a mysterious creature (Rob Paulsen).')
2020-10-12 00:02:04,403 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,405 INFO sqlalchemy.engine.base.Engine ('MV001910280000', 'The Land Before Time XII: The Great Day of the Flyers', '584', 2006, 'Animated', 'Littlefoot (Nick Price) and friends meet a mysterious creature (Rob Paulsen).')
2020-10-12 00:02:04,408 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,410 INFO sqlalchemy.engine.base.Engine ('MV001910280000', 'The Land Before Time XII: The Great Day of the Flyers', '584', 2006, 'Children', 'Littlefoot (Nick Price) and friends meet a mysterious creature (Rob Paulsen).')
2020-10-12 00:02:04,413 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,415 INFO sqlalchemy.engine.base.Engine ('MV008768510000', 'Indignation', '538', 2016, 'Drama', 'A Jewish college student falls for a young woman while clashing with his dean in 1951 Ohio.')
2020-10-12 00:02:04,417 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,418 INFO sqlalchemy.engine.base.Engine ('MV007650660000', 'Goosebumps', '037', 2015, 'Fantasy', 'Monsters from the "Goosebumps" books of author R.L. Stine (Jack Black) magically come to life.')
2020-10-12 00:02:04,421 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,424 INFO sqlalchemy.engine.base.Engine ('MV007650660000', 'Goosebumps', '037', 2015, 'Adventure', 'Monsters from the "Goosebumps" books of author R.L. Stine (Jack Black) magically come to life.')
2020-10-12 00:02:04,427 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,428 INFO sqlalchemy.engine.base.Engine ('MV007650660000', 'Goosebumps', '037', 2015, 'Comedy', 'Monsters from the "Goosebumps" books of author R.L. Stine (Jack Black) magically come to life.')
2020-10-12 00:02:04,430 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,431 INFO sqlalchemy.engine.base.Engine ('MV007650660000', 'Goosebumps', '122', 2015, 'Fantasy', 'Monsters from the "Goosebumps" books of author R.L. Stine (Jack Black) magically come to life.')

2020-10-12 00:02:04,434 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,435 INFO sqlalchemy.engine.base.Engine ('MV007650660000', 'Goosebumps', '122', 2015, 'Adventure', 'Monsters from the "Goosebumps" books of author R.L. Stine (Jack Black) magically come to life.')
2020-10-12 00:02:04,437 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,438 INFO sqlalchemy.engine.base.Engine ('MV007650660000', 'Goosebumps', '122', 2015, 'Comedy', 'Monsters from the "Goosebumps" books of author R.L. Stine (Jack Black) magically come to life.')
2020-10-12 00:02:04,441 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,442 INFO sqlalchemy.engine.base.Engine ('MV010956330000', 'Sgt. Stubby: An American Hero', '521', 2018, 'Adventure', 'A stray dog is rescued off the streets by a soldier and goes on to become a hero of World War I.')
2020-10-12 00:02:04,444 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,445 INFO sqlalchemy.engine.base.Engine ('MV010956330000', 'Sgt. Stubby: An American Hero', '521', 2018, 'War', 'A stray dog is rescued off the streets by a soldier and goes on to become a hero of World War I.')
2020-10-12 00:02:04,447 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,448 INFO sqlalchemy.engine.base.Engine ('MV010956330000', 'Sgt. Stubby: An American Hero', '521', 2018, 'Animated', 'A stray dog is rescued off the streets by a soldier and goes on to become a hero of World War I.')
2020-10-12 00:02:04,450 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,451 INFO sqlalchemy.engine.base.Engine ('MV010956330000', 'Sgt. Stubby: An American Hero', '521', 2018, 'Children', 'A stray dog is rescued off the streets by a soldier and goes on to become a hero of World War I.')
2020-10-12 00:02:04,453 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,454 INFO sqlalchemy.engine.base.Engine ('MV006734910000', 'Vice', '554', 2015, 'Action', 'An artificial human (Ambyr Childers) at an exclusive resort flees after becoming self-aware.')
2020-10-12 00:02:04,458 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,459 INFO sqlalchemy.engine.base.Engine ('MV006734910000', 'Vice', '554', 2015, 'Science fiction', 'An artificial human (Ambyr Childers) at an exclusive resort flees after becoming self-aware.')
2020-10-12 00:02:04,461 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,462 INFO sqlalchemy.engine.base.Engine ('MV006734910000', 'Vice', '554', 2015, 'Thriller', 'An artificial human (Ambyr Childers) at an exclusive resort flees after becoming self-aware.')
2020-10-12 00:02:04,464 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,465 INFO sqlalchemy.engine.base.Engine ('MV001043210000', 'The Watcher', '536', 2000, 'Thriller', 'Agente (James Spader) del FBI emerge y persigue a asesino (Keanu Reeves) en serie.')
2020-10-12 00:02:04,467 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,469 INFO sqlalchemy.engine.base.Engine ('MV000969820000', 'The Watcher', '531', 2000, 'Thriller', 'An FBI agent (James Spader) comes out of hiding to catch a serial killer (Keanu Reeves).')
2020-10-12 00:02:04,471 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,473 INFO sqlalchemy.engine.base.Engine ('MV009025200000', 'Life on the Line', '535', 2015, 'Thriller', 'A lineman and his crew risk their lives to keep the electrical grid running during a deadly storm.')
2020-10-12 00:02:04,475 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,478 INFO sqlalchemy.engine.base.Engine ('MV009025200000', 'Life on the Line', '535', 2015, 'Action', 'A lineman and his crew risk their lives to keep the electrical grid running during a deadly storm.')
2020-10-12 00:02:04,481 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,483 INFO sqlalchemy.engine.base.Engine ('MV009025200000', 'Life on the Line', '535', 2015, 'Drama', 'A lineman and his crew risk their lives to keep the electrical grid running during a deadly storm.')
2020-10-12 00:02:04,486 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,488 INFO sqlalchemy.engine.base.Engine ('MV012290610000', 'Ek Musafir Ek Hasina', '1533', 1962, 'Comedy', 'A runaway bride is helped by a charming man, who soon suffers from amnesia and forgets her.')
2020-10-12 00:02:04,491 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,492 INFO sqlalchemy.engine.base.Engine ('MV012290610000', 'Ek Musafir Ek Hasina', '1533', 1962, 'Action', 'A runaway bride is helped by a charming man, who soon suffers from amnesia and forgets her.')
2020-10-12 00:02:04,494 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,495 INFO sqlalchemy.engine.base.Engine ('MV012290610000', 'Ek Musafir Ek Hasina', '1533', 1962, 'Mystery', 'A runaway bride is helped by a charming man, who soon suffers from amnesia and forgets her.')
2020-10-12 00:02:04,498 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,499 INFO sqlalchemy.engine.base.Engine ('MV002034680000', 'Margaret', '532', 2011, 'Drama', 'A teenager feels responsible for a fatal traffic accident and tries to make amends.')
2020-10-12 00:02:04,502 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,503 INFO sqlalchemy.engine.base.Engine ('MV012005180000', 'An Acceptable Loss', '556', 2018, 'Thriller', 'A former national security adviser risks her life to expose a massive cover-up.')
2020-10-12 00:02:04,506 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,508 INFO sqlalchemy.engine.base.Engine ('MV000364580000', 'CB4', '522', 1993, 'Comedy', 'Middle-class pals (Chris Rock, Allen Payne, Deezer D) try to be rap stars.')
2020-10-12 00:02:04,511 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,512 INFO sqlalchemy.engine.base.Engine ('MV001779230000', 'Idiocracy', '516', 2006, 'Comedy', 'A dullard awakens 500 years in the future and finds that he is the smartest person alive.')

2020-10-12 00:02:04,515 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,516 INFO sqlalchemy.engine.base.Engine ('MV001779230000', 'Idiocracy', '516', 2006, 'Science fiction', 'A dullard awakens 500 years in the future and finds that he is the smartest person alive.')
2020-10-12 00:02:04,518 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,541 INFO sqlalchemy.engine.base.Engine ('MV007764970000', 'The Surface', '1849', 2015, 'Drama', 'A young man struggles to slowly create his own sense of family.')
2020-10-12 00:02:04,544 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,545 INFO sqlalchemy.engine.base.Engine ('MV007764970000', 'The Surface', '1849', 2015, 'Romance', 'A young man struggles to slowly create his own sense of family.')
2020-10-12 00:02:04,547 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,548 INFO sqlalchemy.engine.base.Engine ('MV000883000000', 'Frequency', '511', 2000, 'Fantasy', 'A cop (Jim Caviezel) makes radio contact with his dead father (Dennis Quaid).')
2020-10-12 00:02:04,552 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,553 INFO sqlalchemy.engine.base.Engine ('MV003767670000', 'Friends With Kids', '598', 2011, 'Romantic comedy', 'Buddies (Jennifer Westfeldt, Adam Scott) agree to a have baby but remain just pals.')
2020-10-12 00:02:04,556 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,557 INFO sqlalchemy.engine.base.Engine ('MV000348620000', 'Beethoven', '608', 1992, 'Comedy', 'Kids talk father (Charles Grodin) into adopting a St. Bernard.')
2020-10-12 00:02:04,559 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,561 INFO sqlalchemy.engine.base.Engine ('MV000348620000', 'Beethoven', '608', 1992, 'Children', 'Kids talk father (Charles Grodin) into adopting a St. Bernard.')
2020-10-12 00:02:04,564 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,565 INFO sqlalchemy.engine.base.Engine ('MV000427940000', 'Species', '596', 1995, 'Science fiction', 'A scientist (Ben Kingsley) leads a hunt for a deadly beauty who morphs into a monster.')
2020-10-12 00:02:04,568 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,570 INFO sqlalchemy.engine.base.Engine ('MV000061020000', "National Lampoon's Animal House", '602', 1978, 'Comedy', 'Bluto (John Belushi), Otter and the Deltas run wild at 1962 Faber College.')
2020-10-12 00:02:04,573 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,575 INFO sqlalchemy.engine.base.Engine ('MV010921590000', 'Once Upon a Time... In Hollywood', '582', 2019, 'Comedy drama', 'A TV star and his longtime stunt double make their way around a changing industry in 1969 Hollywood.')
2020-10-12 00:02:04,577 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,578 INFO sqlalchemy.engine.base.Engine ('MV010921590000', 'Once Upon a Time... In Hollywood', '582', 2019, 'Dark comedy', 'A TV star and his longtime stunt double make their way around a changing industry in 1969 Hollywood.')
2020-10-12 00:02:04,581 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,582 INFO sqlalchemy.engine.base.Engine ('MV002579480000', 'Up in the Air', '599', 2009, 'Comedy drama', 'A corporate downsizing specialist faces an end to life on the road as he nears a travel milestone.')
2020-10-12 00:02:04,585 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,587 INFO sqlalchemy.engine.base.Engine ('MV000543860000', 'Jackie Brown', '603', 1997, 'Crime drama', 'A smuggler (Pam Grier) seeks clemency by framing her boss (Samuel L. Jackson).')
2020-10-12 00:02:04,590 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,592 INFO sqlalchemy.engine.base.Engine ('MV006378460000', 'Tres bodas de más', '982', 2013, 'Comedy', 'Ruth, que tendrá que enfrentarse a su pasado y decidir con quién quiere compartir su futuro.')
2020-10-12 00:02:04,594 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,596 INFO sqlalchemy.engine.base.Engine ('MV000206880000', 'Aliens', '512', 1986, 'Science fiction', 'Ripley (Sigourney Weaver) and a dwindling number of Marines battle an army of monstrous predators.')
2020-10-12 00:02:04,598 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,600 INFO sqlalchemy.engine.base.Engine ('MV000206880000', 'Aliens', '512', 1986, 'Horror', 'Ripley (Sigourney Weaver) and a dwindling number of Marines battle an army of monstrous predators.')
2020-10-12 00:02:04,603 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,604 INFO sqlalchemy.engine.base.Engine ('MV000206880000', 'Aliens', '512', 1986, 'Action', 'Ripley (Sigourney Weaver) and a dwindling number of Marines battle an army of monstrous predators.')
2020-10-12 00:02:04,607 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,608 INFO sqlalchemy.engine.base.Engine ('MV000811250000', 'Bounce', '537', 2000, 'Romance', 'An ad executive (Ben Affleck) falls in love with a young widow (Gwyneth Paltrow).')
2020-10-12 00:02:04,611 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,612 INFO sqlalchemy.engine.base.Engine ('MV000811250000', 'Bounce', '537', 2000, 'Drama', 'An ad executive (Ben Affleck) falls in love with a young widow (Gwyneth Paltrow).')
2020-10-12 00:02:04,615 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,617 INFO sqlalchemy.engine.base.Engine ('MV001496520000', 'Open Water', '520', 2003, 'Thriller', 'Scuba divers (Blanchard Ryan, Daniel Travis) become stranded in shark-infested waters.')
2020-10-12 00:02:04,619 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,623 INFO sqlalchemy.engine.base.Engine ('MV001428440000', 'Connie and Carla', '586', 2004, 'Comedy', 'Two women (Nia Vardalos, Toni Collette) disguise themselves as drag queens.')
2020-10-12 00:02:04,625 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:04,626 INFO sqlalchemy.engine.base.Engine ('MV002775080000', 'The Last Exorcism', '533', 2010, 'Horror', 'A deceitful cleric (Patrick Fabian) must summon faith when he finds real evil at a Louisiana farm.')
2020-10-12 00:02:04,628 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,630 INFO sqlalchemy.engine.base.Engine ('MV002775080000', 'The Last Exorcism', '533', 2010, 'Thriller', 'A deceitful cleric (Patrick Fabian) must summon faith when he finds real evil at a Louisiana farm.')
2020-10-12 00:02:04,632 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,633 INFO sqlalchemy.engine.base.Engine ('MV007793670000', 'Ride Along 2', '068', 2016, 'Comedy', 'Lawmen James Payton (Ice Cube) and Ben Barber (Kevin Hart) pursue a violent drug lord in Miami.')
2020-10-12 00:02:04,637 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,638 INFO sqlalchemy.engine.base.Engine ('MV007793670000', 'Ride Along 2', '068', 2016, 'Action', 'Lawmen James Payton (Ice Cube) and Ben Barber (Kevin Hart) pursue a violent drug lord in Miami.')
2020-10-12 00:02:04,640 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,641 INFO sqlalchemy.engine.base.Engine ('MV007793670000', 'Ride Along 2', '108', 2016, 'Comedy', 'Lawmen James Payton (Ice Cube) and Ben Barber (Kevin Hart) pursue a violent drug lord in Miami.')
2020-10-12 00:02:04,644 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,645 INFO sqlalchemy.engine.base.Engine ('MV007793670000', 'Ride Along 2', '108', 2016, 'Action', 'Lawmen James Payton (Ice Cube) and Ben Barber (Kevin Hart) pursue a violent drug lord in Miami.')
2020-10-12 00:02:04,648 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,649 INFO sqlalchemy.engine.base.Engine ('MV002762410000', 'The American', '513', 2010, 'Thriller', 'An assassin (George Clooney) hides out in a picturesque Italian town after an assignment ends badly.')
2020-10-12 00:02:04,653 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,655 INFO sqlalchemy.engine.base.Engine ('MV002762410000', 'The American', '513', 2010, 'Drama', 'An assassin (George Clooney) hides out in a picturesque Italian town after an assignment ends badly.')
2020-10-12 00:02:04,657 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,658 INFO sqlalchemy.engine.base.Engine ('MV002762410000', 'The American', '513', 2010, 'Action', 'An assassin (George Clooney) hides out in a picturesque Italian town after an assignment ends badly.')
2020-10-12 00:02:04,660 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,662 INFO sqlalchemy.engine.base.Engine ('MV000350290000', 'Far and Away', '518', 1992, 'Drama', 'An Irish farmer (Tom Cruise) and a rich girl (Nicole Kidman) come to 1890s America.')
2020-10-12 00:02:04,664 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,665 INFO sqlalchemy.engine.base.Engine ('MV000350290000', 'Far and Away', '518', 1992, 'Adventure', 'An Irish farmer (Tom Cruise) and a rich girl (Nicole Kidman) come to 1890s America.')
2020-10-12 00:02:04,668 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,669 INFO sqlalchemy.engine.base.Engine ('MV000350290000', 'Far and Away', '518', 1992, 'Romance', 'An Irish farmer (Tom Cruise) and a rich girl (Nicole Kidman) come to 1890s America.')
2020-10-12 00:02:04,672 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,673 INFO sqlalchemy.engine.base.Engine ('MV002609860000', 'Kismet Konnection', '1532', 2008, 'Comedy drama', 'Raj has always has bad luck follow him till meets a quirky oracle.')
2020-10-12 00:02:04,675 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,676 INFO sqlalchemy.engine.base.Engine ('MV002609860000', 'Kismet Konnection', '1532', 2008, 'Romance', 'Raj has always has bad luck follow him till meets a quirky oracle.')
2020-10-12 00:02:04,679 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,680 INFO sqlalchemy.engine.base.Engine ('MV007435740000', 'Maze Runner: The Scorch Trials', '083', 2015, 'Science fiction', "Thomas (Dylan O'Brien) and his fellow teenage Gladers face the dangerous obstacles of the Scorch.")
2020-10-12 00:02:04,682 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,683 INFO sqlalchemy.engine.base.Engine ('MV007435740000', 'Maze Runner: The Scorch Trials', '083', 2015, 'Adventure', "Thomas (Dylan O'Brien) and his fellow teenage Gladers face the dangerous obstacles of the Scorch.")
2020-10-12 00:02:04,685 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,686 INFO sqlalchemy.engine.base.Engine ('MV007435740000', 'Maze Runner: The Scorch Trials', '083', 2015, 'Action', "Thomas (Dylan O'Brien) and his fellow teenage Gladers face the dangerous obstacles of the Scorch.")
2020-10-12 00:02:04,689 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,691 INFO sqlalchemy.engine.base.Engine ('MV007435740000', 'Maze Runner: The Scorch Trials', '083', 2015, 'Thriller', "Thomas (Dylan O'Brien) and his fellow teenage Gladers face the dangerous obstacles of the Scorch.")
2020-10-12 00:02:04,694 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,695 INFO sqlalchemy.engine.base.Engine ('MV007435740000', 'Maze Runner: The Scorch Trials', '632', 2015, 'Science fiction', "Thomas (Dylan O'Brien) and his fellow teenage Gladers face the dangerous obstacles of the Scorch.")
2020-10-12 00:02:04,698 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,699 INFO sqlalchemy.engine.base.Engine ('MV007435740000', 'Maze Runner: The Scorch Trials', '632', 2015, 'Adventure', "Thomas (Dylan O'Brien) and his fellow teenage Gladers face the dangerous obstacles of the Scorch.")
2020-10-12 00:02:04,701 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,702 INFO sqlalchemy.engine.base.Engine ('MV007435740000', 'Maze Runner: The Scorch Trials', '632', 2015, 'Action', "Thomas (Dylan O'Brien) and his fellow teenage Gladers face the dangerous obstacles of the Scorch.")

2020-10-12 00:02:04,705 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,706 INFO sqlalchemy.engine.base.Engine ('MV007435740000', 'Maze Runner: The Scorch Trials', '632', 2015, 'Thriller', "Thomas (Dylan O'Brien) and his fellow teenage Gladers face the dangerous obstacles of the Scorch.")
2020-10-12 00:02:04,708 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,709 INFO sqlalchemy.engine.base.Engine ('MV000029520000', 'Friday the 13th', '063', 1980, 'Horror', 'Someone or something slaughters teen counselors one by one at Camp Crystal Lake.')
2020-10-12 00:02:04,711 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,713 INFO sqlalchemy.engine.base.Engine ('MV000029520000', 'Friday the 13th', '105', 1980, 'Horror', 'Someone or something slaughters teen counselors one by one at Camp Crystal Lake.')
2020-10-12 00:02:04,716 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,717 INFO sqlalchemy.engine.base.Engine ('MV000949390000', 'Kunwara', '1539', 2000, 'Comedy', "A man's (Govinda) love for an Indian student (Urmila Matondkar) is in jeopardy.")
2020-10-12 00:02:04,720 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,722 INFO sqlalchemy.engine.base.Engine ('MV000524250000', 'I Know What You Did Last Summer', '571', 1997, 'Horror', "A killer stalks North Carolina teens who disposed of an auto accident's live victim.")
2020-10-12 00:02:04,724 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,725 INFO sqlalchemy.engine.base.Engine ('MV002822420000', 'Megamind', '262', 2010, 'Comedy', 'An evil genius must create a new opponent after he finally defeats his heroic nemesis.')
2020-10-12 00:02:04,727 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,728 INFO sqlalchemy.engine.base.Engine ('MV002822420000', 'Megamind', '262', 2010, 'Adventure', 'An evil genius must create a new opponent after he finally defeats his heroic nemesis.')
2020-10-12 00:02:04,731 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,731 INFO sqlalchemy.engine.base.Engine ('MV002822420000', 'Megamind', '262', 2010, 'Animated', 'An evil genius must create a new opponent after he finally defeats his heroic nemesis.')
2020-10-12 00:02:04,734 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,735 INFO sqlalchemy.engine.base.Engine ('MV002822420000', 'Megamind', '262', 2010, 'Children', 'An evil genius must create a new opponent after he finally defeats his heroic nemesis.')
2020-10-12 00:02:04,738 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,739 INFO sqlalchemy.engine.base.Engine ('MV000351690000', 'Patriot Games', '555', 1992, 'Thriller', 'An ex-CIA analyst (Harrison Ford) protects his family from IRA-fringe terrorists on his trail.')
2020-10-12 00:02:04,742 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,744 INFO sqlalchemy.engine.base.Engine ('MV000351690000', 'Patriot Games', '555', 1992, 'Action', 'An ex-CIA analyst (Harrison Ford) protects his family from IRA-fringe terrorists on his trail.')
2020-10-12 00:02:04,755 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,756 INFO sqlalchemy.engine.base.Engine ('MV001776820000', 'Pathfinder', '534', 2007, 'Adventure', 'American Indians adopt a Norse boy who was left behind by Viking invaders.')
2020-10-12 00:02:04,759 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,760 INFO sqlalchemy.engine.base.Engine ('MV001776820000', 'Pathfinder', '534', 2007, 'Action', 'American Indians adopt a Norse boy who was left behind by Viking invaders.')
2020-10-12 00:02:04,763 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,765 INFO sqlalchemy.engine.base.Engine ('MV004070110000', 'I, Frankenstein', '595', 2014, 'Fantasy', "Still alive in modern times, Frankenstein's creature becomes enmeshed in a war involving immortals.")
2020-10-12 00:02:04,768 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,770 INFO sqlalchemy.engine.base.Engine ('MV004070110000', 'I, Frankenstein', '595', 2014, 'Action', "Still alive in modern times, Frankenstein's creature becomes enmeshed in a war involving immortals.")
2020-10-12 00:02:04,772 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,773 INFO sqlalchemy.engine.base.Engine ('MV000186900000', 'Fright Night', '640', 1985, 'Horror', "The host of a late-night TV horror show believes a teen's next-door neighbor is a vampire.")
2020-10-12 00:02:04,776 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,777 INFO sqlalchemy.engine.base.Engine ('MV000186900000', 'Fright Night', '640', 1985, 'Comedy', "The host of a late-night TV horror show believes a teen's next-door neighbor is a vampire.")
2020-10-12 00:02:04,779 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,780 INFO sqlalchemy.engine.base.Engine ('MV000269690000', 'Field of Dreams', '552', 1989, 'Fantasy', 'A voice tells an Iowa farmer (Kevin Costner) to build a baseball field.')
2020-10-12 00:02:04,782 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,783 INFO sqlalchemy.engine.base.Engine ('MV013418870000', 'Coyote Lake', '524', 2019, 'Thriller', 'Dos huéspedes indeseados amenazan a una joven y a su madre autoritaria en un pequeño hostal.')
2020-10-12 00:02:04,786 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,787 INFO sqlalchemy.engine.base.Engine ('MV000240190000', 'Teen Wolf Too', '633', 1987, 'Comedy', 'College freshman (Jason Bateman) exhibits dormant family trait.')
2020-10-12 00:02:04,790 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,791 INFO sqlalchemy.engine.base.Engine ('MV000240190000', 'Teen Wolf Too', '633', 1987, 'Fantasy', 'College freshman (Jason Bateman) exhibits dormant family trait.')
2020-10-12 00:02:04,793 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:04,794 INFO sqlalchemy.engine.base.Engine ('MV007559250000', 'American Ultra', '597', 2015, 'Action', 'A small-town stoner must use his latent, deadly skills to prevent the CIA from taking him out.')
2020-10-12 00:02:04,797 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,798 INFO sqlalchemy.engine.base.Engine ('MV007559250000', 'American Ultra', '597', 2015, 'Comedy', 'A small-town stoner must use his latent, deadly skills to prevent the CIA from taking him out.')
2020-10-12 00:02:04,800 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,802 INFO sqlalchemy.engine.base.Engine ('MV000373380000', 'True Romance', '606', 1993, 'Action', 'Detroit lovers (Christian Slater, Patricia Arquette) on the run head for Hollywood.')
2020-10-12 00:02:04,805 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,807 INFO sqlalchemy.engine.base.Engine ('MV000373380000', 'True Romance', '606', 1993, 'Crime drama', 'Detroit lovers (Christian Slater, Patricia Arquette) on the run head for Hollywood.')
2020-10-12 00:02:04,809 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,811 INFO sqlalchemy.engine.base.Engine ('MV000003520000', 'Race Street', '064', 1948, 'Crime drama', 'Policeman (William Bendix) and bookie (George Raft) bust San Francisco racket.')
2020-10-12 00:02:04,814 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,815 INFO sqlalchemy.engine.base.Engine ('MV000003520000', 'Race Street', '631', 1948, 'Crime drama', 'Policeman (William Bendix) and bookie (George Raft) bust San Francisco racket.')
2020-10-12 00:02:04,818 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,820 INFO sqlalchemy.engine.base.Engine ('MV014469510000', 'Huracán', '517', 2019, 'Drama', 'Un trastorno de la personalidad provoca que un luchador de MMA se vuelva imprudente y agresivo.')
2020-10-12 00:02:04,823 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,824 INFO sqlalchemy.engine.base.Engine ('MV000361300000', 'Scent of a Woman', '623', 1992, 'Drama', "Blind ex-colonel (Al Pacino) takes his preppie guide (Chris O'Donnell) to New York.")
2020-10-12 00:02:04,827 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,828 INFO sqlalchemy.engine.base.Engine ('MV001472690000', 'Nosotras las taquígrafas', '979', 1950, 'Drama', 'La vida de varias mujeres que trabajan en una oficina, una de las cuales está enamorada de su jefe.')
2020-10-12 00:02:04,831 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,832 INFO sqlalchemy.engine.base.Engine ('MV000373850000', 'La Mujer Marcada', '980', 1957, 'Drama', 'Una mujer desfigurada sufre trastornos emocionales y se somete a una cirugía estética.')
2020-10-12 00:02:04,835 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,836 INFO sqlalchemy.engine.base.Engine ('MV003540650000', 'Beats, Rhymes & Life: The Travels of A Tribe Called Quest', '604', 2011, 'Documentary', "Michael Rapaport examines the hip-hop band's music and the conflicts that drove its members apart.")
2020-10-12 00:02:04,839 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,840 INFO sqlalchemy.engine.base.Engine ('MV000879850000', 'Alvin and the Chipmunks Meet Frankenstein', '620', 1999, 'Adventure', 'The Chipmunks discover that Dr. Frankenstein and his monster are living in a theme park attraction.')
2020-10-12 00:02:04,843 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,845 INFO sqlalchemy.engine.base.Engine ('MV000879850000', 'Alvin and the Chipmunks Meet Frankenstein', '620', 1999, 'Animated', 'The Chipmunks discover that Dr. Frankenstein and his monster are living in a theme park attraction.')
2020-10-12 00:02:04,847 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,849 INFO sqlalchemy.engine.base.Engine ('MV000879850000', 'Alvin and the Chipmunks Meet Frankenstein', '620', 1999, 'Children', 'The Chipmunks discover that Dr. Frankenstein and his monster are living in a theme park attraction.')
2020-10-12 00:02:04,852 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,853 INFO sqlalchemy.engine.base.Engine ('MV004446060000', 'Kick-Ass 2', '627', 2013, 'Action', 'Kick-Ass joins a team of amateur superheroes and tangles with the villain formerly called Red Mist.')
2020-10-12 00:02:04,856 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,857 INFO sqlalchemy.engine.base.Engine ('MV004446060000', 'Kick-Ass 2', '627', 2013, 'Comedy', 'Kick-Ass joins a team of amateur superheroes and tangles with the villain formerly called Red Mist.')
2020-10-12 00:02:04,859 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,861 INFO sqlalchemy.engine.base.Engine ('MV012588240000', 'Olympic Dreams', '558', 2019, 'Romantic comedy', 'A young cross-country skier bonds with a volunteer doctor in the Olympic athletes village.')
2020-10-12 00:02:04,864 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,865 INFO sqlalchemy.engine.base.Engine ('MV000381060000', "Beethoven's 2nd", '584', 1993, 'Comedy', "A St. Bernard's evil owner tries to abduct her litter from a family who saved them from death.")
2020-10-12 00:02:04,868 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,870 INFO sqlalchemy.engine.base.Engine ('MV000381060000', "Beethoven's 2nd", '584', 1993, 'Children', "A St. Bernard's evil owner tries to abduct her litter from a family who saved them from death.")
2020-10-12 00:02:04,873 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,875 INFO sqlalchemy.engine.base.Engine ('MV001502580000', 'Little Black Book', '605', 2004, 'Romantic comedy', "A woman (Brittany Murphy) interviews her beau's former girlfriends.")
2020-10-12 00:02:04,878 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,880 INFO sqlalchemy.engine.base.Engine ('MV001296160000', 'Catch Me if You Can', '553', 2002, 'Comedy drama', 'An FBI agent (Tom Hanks) pursues a con man (Leonardo DiCaprio) who changes identities.')

2020-10-12 00:02:04,883 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,884 INFO sqlalchemy.engine.base.Engine ('MV001296160000', 'Catch Me if You Can', '553', 2002, 'Crime drama', 'An FBI agent (Tom Hanks) pursues a con man (Leonardo DiCaprio) who changes identities.')
2020-10-12 00:02:04,887 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,889 INFO sqlalchemy.engine.base.Engine ('MV001315880000', 'The Recruit', '540', 2003, 'Thriller', 'A CIA agent (Al Pacino) gives his protégé (Colin Farrell) a special assignment.')
2020-10-12 00:02:04,893 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,895 INFO sqlalchemy.engine.base.Engine ('MV003716340000', 'The Best Exotic Marigold Hotel', '515', 2011, 'Comedy drama', 'British retirees move to India and find that their new home is a dilapidated hotel.')
2020-10-12 00:02:04,897 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,899 INFO sqlalchemy.engine.base.Engine ('MV007117820000', 'The Diary of a Teenage Girl', '621', 2015, 'Drama', 'In 1970s San Francisco, a precocious 15-year-old embarks on an enthusiastic sexual odyssey.')
2020-10-12 00:02:04,901 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,902 INFO sqlalchemy.engine.base.Engine ('MV001099680000', 'Legally Blonde', '551', 2001, 'Comedy', 'A sorority queen (Reese Witherspoon) enrolls in Harvard to win back her boyfriend.')
2020-10-12 00:02:04,905 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,907 INFO sqlalchemy.engine.base.Engine ('MV003857660000', 'The Watch', '539', 2012, 'Comedy', 'Four members of a neighborhood-watch group uncover an alien invasion in their Ohio town.')
2020-10-12 00:02:04,910 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,911 INFO sqlalchemy.engine.base.Engine ('MV003857660000', 'The Watch', '539', 2012, 'Science fiction', 'Four members of a neighborhood-watch group uncover an alien invasion in their Ohio town.')
2020-10-12 00:02:04,914 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,915 INFO sqlalchemy.engine.base.Engine ('MV000706990000', 'Life', '523', 1999, 'Comedy drama', 'Two wrongly jailed men (Eddie Murphy, Martin Lawrence) become close friends.')
2020-10-12 00:02:04,918 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,919 INFO sqlalchemy.engine.base.Engine ('MV008642830000', 'Aquí estoy, aquí no', '984', 2012, 'Comedy drama', 'El periodista Ramiro Hidalgo es contratado para escribir la biografía de una leyenda del rock.')
2020-10-12 00:02:04,922 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,923 INFO sqlalchemy.engine.base.Engine ('MV008642830000', 'Aquí estoy, aquí no', '984', 2012, 'Romance', 'El periodista Ramiro Hidalgo es contratado para escribir la biografía de una leyenda del rock.')
2020-10-12 00:02:04,925 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,926 INFO sqlalchemy.engine.base.Engine ('MV012168050000', 'El amigo del pueblo', '983', 2016, 'Action', 'La rivalidad entre los que manejan el narcotráfico desata secuestros y muerte.')
2020-10-12 00:02:04,928 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,929 INFO sqlalchemy.engine.base.Engine ('MV000543490000', 'Home Alone 3', '514', 1997, 'Comedy', 'A clever boy (Alex D. Linz) stymies spies (Olek Krupa, Rya Kihlstedt) seeking a computer chip.')
2020-10-12 00:02:04,931 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,934 INFO sqlalchemy.engine.base.Engine ('MV000543490000', 'Home Alone 3', '514', 1997, 'Children', 'A clever boy (Alex D. Linz) stymies spies (Olek Krupa, Rya Kihlstedt) seeking a computer chip.')
2020-10-12 00:02:04,937 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,939 INFO sqlalchemy.engine.base.Engine ('MV012320130000', 'The White Crow', '585', 2018, 'Biography', 'A life-changing visit to Paris makes Russian ballet dancer Rudolf Nureyev seek asylum in France.')
2020-10-12 00:02:04,942 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,943 INFO sqlalchemy.engine.base.Engine ('MV012320130000', 'The White Crow', '585', 2018, 'Historical drama', 'A life-changing visit to Paris makes Russian ballet dancer Rudolf Nureyev seek asylum in France.')
2020-10-12 00:02:04,945 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,947 INFO sqlalchemy.engine.base.Engine ('MV005848310000', 'It Follows', '058', 2014, 'Horror', 'After a sexual encounter, a teen has the inescapable feeling that something is after her.')
2020-10-12 00:02:04,949 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:04,950 INFO sqlalchemy.engine.base.Engine ('MV005848310000', 'It Follows', '058', 2014, 'Thriller', 'After a sexual encounter, a teen has the inescapable feeling that something is after her.')
2020-10-12 00:02:04,952 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,022 INFO sqlalchemy.engine.base.Engine ('MV005848310000', 'It Follows', '111', 2014, 'Horror', 'After a sexual encounter, a teen has the inescapable feeling that something is after her.')
2020-10-12 00:02:05,025 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,026 INFO sqlalchemy.engine.base.Engine ('MV005848310000', 'It Follows', '111', 2014, 'Thriller', 'After a sexual encounter, a teen has the inescapable feeling that something is after her.')
2020-10-12 00:02:05,029 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,030 INFO sqlalchemy.engine.base.Engine ('MV001691860000', 'Spymate', '521', 2006, 'Comedy', 'A former agent and his onetime chimpanzee partner reunite for a final mission.')
2020-10-12 00:02:05,032 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,033 INFO sqlalchemy.engine.base.Engine ('MV001691860000', 'Spymate', '521', 2006, 'Children', 'A former agent and his onetime chimpanzee partner reunite for a final mission.')

2020-10-12 00:02:05,036 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,038 INFO sqlalchemy.engine.base.Engine ('MV003536920000', 'El Plebe Chakaloso', '972', 2010, 'Crime drama', 'Una historia de corrupción y avaricia entre un policía y dos cárteles.')
2020-10-12 00:02:05,041 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,043 INFO sqlalchemy.engine.base.Engine ('MV003536920000', 'El Plebe Chakaloso', '972', 2010, 'Action', 'Una historia de corrupción y avaricia entre un policía y dos cárteles.')
2020-10-12 00:02:05,045 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,046 INFO sqlalchemy.engine.base.Engine ('MV000503380000', 'Volcano', '609', 1997, 'Action', 'A Los Angeles emergency official takes charge when earthquakes and erupting lava ravage the city.')
2020-10-12 00:02:05,048 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,049 INFO sqlalchemy.engine.base.Engine ('MV011995720000', 'Colores verdaderos', '971', 2018, 'Action', 'Después de pasar siete años en la cárcel, Carlos intenta comenzar una nueva vida.')
2020-10-12 00:02:05,051 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,052 INFO sqlalchemy.engine.base.Engine ('MV000358560000', 'El andariego', '985', 1978, 'Comedy', 'Tras perder el trabajo, tres hombres organizan un espectáculo teatral al lado del camino.')
2020-10-12 00:02:05,055 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,056 INFO sqlalchemy.engine.base.Engine ('MV000016070000', 'Calamity Jane', '1248', 1953, 'Musical', 'Sharpshooter Jane (Doris Day) aims for Wild Bill Hickok (Howard Keel).')
2020-10-12 00:02:05,059 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,060 INFO sqlalchemy.engine.base.Engine ('MV001793440000', 'Half Nelson', '516', 2006, 'Drama', 'A teacher struggles with drug addiction while trying to help a girl from a broken home.')
2020-10-12 00:02:05,063 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,064 INFO sqlalchemy.engine.base.Engine ('MV003681120000', 'Red Tails', '542', 2012, 'Historical drama', 'The U.S. military forms the first all-black aerial-combat unit.')
2020-10-12 00:02:05,066 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,067 INFO sqlalchemy.engine.base.Engine ('MV003681120000', 'Red Tails', '542', 2012, 'War', 'The U.S. military forms the first all-black aerial-combat unit.')
2020-10-12 00:02:05,070 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,071 INFO sqlalchemy.engine.base.Engine ('MV007435960000', 'The Visit', '091', 2015, 'Thriller', 'Two siblings discover a shocking secret about their grandparents while staying at their farm.')
2020-10-12 00:02:05,075 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,077 INFO sqlalchemy.engine.base.Engine ('MV007435960000', 'The Visit', '091', 2015, 'Horror', 'Two siblings discover a shocking secret about their grandparents while staying at their farm.')
2020-10-12 00:02:05,080 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,081 INFO sqlalchemy.engine.base.Engine ('MV007435960000', 'The Visit', '091', 2015, 'Dark comedy', 'Two siblings discover a shocking secret about their grandparents while staying at their farm.')
2020-10-12 00:02:05,084 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,085 INFO sqlalchemy.engine.base.Engine ('MV007435960000', 'The Visit', '109', 2015, 'Thriller', 'Two siblings discover a shocking secret about their grandparents while staying at their farm.')
2020-10-12 00:02:05,088 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,089 INFO sqlalchemy.engine.base.Engine ('MV007435960000', 'The Visit', '109', 2015, 'Horror', 'Two siblings discover a shocking secret about their grandparents while staying at their farm.')
2020-10-12 00:02:05,091 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,093 INFO sqlalchemy.engine.base.Engine ('MV007435960000', 'The Visit', '109', 2015, 'Dark comedy', 'Two siblings discover a shocking secret about their grandparents while staying at their farm.')
2020-10-12 00:02:05,095 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,097 INFO sqlalchemy.engine.base.Engine ('MV000584320000', 'The Players Club', '182', 1998, 'Comedy drama', 'Trouble ensues for a single mother (LisaRaye) working as a stripper to pay her college tuition.')
2020-10-12 00:02:05,100 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,101 INFO sqlalchemy.engine.base.Engine ('MV011951800000', 'Five Feet Apart', '572', 2019, 'Romance', 'Two cystic fibrosis patients fall in love but must stay five feet apart at all times.')
2020-10-12 00:02:05,103 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,104 INFO sqlalchemy.engine.base.Engine ('MV011951800000', 'Five Feet Apart', '572', 2019, 'Drama', 'Two cystic fibrosis patients fall in love but must stay five feet apart at all times.')
2020-10-12 00:02:05,107 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,109 INFO sqlalchemy.engine.base.Engine ('MV000383060000', 'Clerks', '522', 1994, 'Comedy', "A young man (Brian O'Halloran) works at a New Jersey convenience store.")
2020-10-12 00:02:05,112 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,114 INFO sqlalchemy.engine.base.Engine ('MV014031320000', 'Deadly Mile High Club', '076', 2020, 'Thriller', 'A deranged flight instructor hatches a devious plan to make a student fall in love with her.')
2020-10-12 00:02:05,116 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,118 INFO sqlalchemy.engine.base.Engine ('MV014031320000', 'Deadly Mile High Club', '630', 2020, 'Thriller', 'A deranged flight instructor hatches a devious plan to make a student fall in love with her.')

2020-10-12 00:02:05,120 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,122 INFO sqlalchemy.engine.base.Engine ('MV003981830000', 'Bashment', '1849', 2010, 'Drama', 'Reggae performers beat gay people and serve light sentences after they blame the victims.')
2020-10-12 00:02:05,125 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,127 INFO sqlalchemy.engine.base.Engine ('MV001187640000', 'Besos Prohibidos', '890', 1956, 'Drama', 'Empresario quiere casarse con una cantante supuestamente viuda.')
2020-10-12 00:02:05,129 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,131 INFO sqlalchemy.engine.base.Engine ('MV010261390000', 'Eat, Play, Love', '039', 2017, 'Romance', "A veterinarian secretly loves the owner of a dog shelter, who's already engaged.")
2020-10-12 00:02:05,133 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,136 INFO sqlalchemy.engine.base.Engine ('MV010261390000', 'Eat, Play, Love', '123', 2017, 'Romance', "A veterinarian secretly loves the owner of a dog shelter, who's already engaged.")
2020-10-12 00:02:05,139 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,140 INFO sqlalchemy.engine.base.Engine ('MV002465440000', 'The Hunt for Eagle One', '973', 2006, 'Action', 'Un soldado (Mark Dacascos) lidera a sus hombres para rescatar a un capitán (Theresa Randle).')
2020-10-12 00:02:05,143 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,144 INFO sqlalchemy.engine.base.Engine ('MV002465440000', 'The Hunt for Eagle One', '973', 2006, 'War', 'Un soldado (Mark Dacascos) lidera a sus hombres para rescatar a un capitán (Theresa Randle).')
2020-10-12 00:02:05,147 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,148 INFO sqlalchemy.engine.base.Engine ('MV002465440000', 'The Hunt for Eagle One', '973', 2006, 'Thriller', 'Un soldado (Mark Dacascos) lidera a sus hombres para rescatar a un capitán (Theresa Randle).')
2020-10-12 00:02:05,151 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,152 INFO sqlalchemy.engine.base.Engine ('MV001383670000', 'El hombre de la isla', '841', 1959, 'Drama', 'Una mujer va a una isla remota para casarse con un hombre que al principio la maltrata.')
2020-10-12 00:02:05,155 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,156 INFO sqlalchemy.engine.base.Engine ('MV001094420000', 'The Pledge', '536', 2001, 'Crime drama', 'Un detective (Jack Nicholson) promete capturar al asesino de una niña.')
2020-10-12 00:02:05,159 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,160 INFO sqlalchemy.engine.base.Engine ('MV001094420000', 'The Pledge', '536', 2001, 'Mystery', 'Un detective (Jack Nicholson) promete capturar al asesino de una niña.')
2020-10-12 00:02:05,164 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,167 INFO sqlalchemy.engine.base.Engine ('MV001023440000', 'The Pledge', '531', 2001, 'Crime drama', "A detective (Jack Nicholson) promises to find a young girl's murderer.")
2020-10-12 00:02:05,169 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,170 INFO sqlalchemy.engine.base.Engine ('MV001023440000', 'The Pledge', '531', 2001, 'Mystery', "A detective (Jack Nicholson) promises to find a young girl's murderer.")
2020-10-12 00:02:05,172 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,173 INFO sqlalchemy.engine.base.Engine ('MV000031270000', 'Chinatown', '622', 1974, 'Crime drama', 'A 1930s private eye (Jack Nicholson) uncovers corruption and murder.')
2020-10-12 00:02:05,178 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,179 INFO sqlalchemy.engine.base.Engine ('MV002241420000', 'Disaster Movie', '535', 2008, 'Comedy', 'A group of impossibly attractive 20-somethings must dodge catastrophic events.')
2020-10-12 00:02:05,185 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,186 INFO sqlalchemy.engine.base.Engine ('MV000623110000', 'Rounders', '538', 1998, 'Drama', 'A law student (Matt Damon) and his pal (Edward Norton) gamble for high stakes.')
2020-10-12 00:02:05,188 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,189 INFO sqlalchemy.engine.base.Engine ('MV000122650000', 'An Officer and a Gentleman', '557', 1982, 'Drama', 'A hardened loner shapes up for a military drill instructor and a factory girl from town.')
2020-10-12 00:02:05,193 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,194 INFO sqlalchemy.engine.base.Engine ('MV012587710000', 'The Good Liar', '520', 2019, 'Thriller', 'A career con artist walks a treacherous tightrope when he tries to swindle a well-to-do widow.')
2020-10-12 00:02:05,196 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,197 INFO sqlalchemy.engine.base.Engine ('MV012587710000', 'The Good Liar', '520', 2019, 'Crime drama', 'A career con artist walks a treacherous tightrope when he tries to swindle a well-to-do widow.')
2020-10-12 00:02:05,199 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,200 INFO sqlalchemy.engine.base.Engine ('MV009141230000', 'The Resurrection of Gavin Stone', '519', 2017, 'Comedy drama', 'A former child star learns valuable lessons after landing the role of Jesus in a church production.')
2020-10-12 00:02:05,203 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,205 INFO sqlalchemy.engine.base.Engine ('MV003756120000', 'The Lucky One', '541', 2012, 'Drama', 'A war vet looks for the woman he believes brought him good luck during his tour of duty in Iraq.')
2020-10-12 00:02:05,208 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,209 INFO sqlalchemy.engine.base.Engine ('MV003756120000', 'The Lucky One', '541', 2012, 'Romance', 'A war vet looks for the woman he believes brought him good luck during his tour of duty in Iraq.')
2020-10-12 00:02:05,215 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:05,216 INFO sqlalchemy.engine.base.Engine ('MV014407530000', 'Surge', '556', 2020, 'Documentary', 'A record number of first-time female candidates run for office during the 2018 midterm elections.')
2020-10-12 00:02:05,218 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,219 INFO sqlalchemy.engine.base.Engine ('MV000551510000', 'Half Baked', '583', 1998, 'Comedy', 'Potheads (Dave Chappelle, Guillermo Diaz, Jim Breuer) sell marijuana to raise bail for a friend.')
2020-10-12 00:02:05,225 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,227 INFO sqlalchemy.engine.base.Engine ('MV001437160000', "Love Don't Cost a Thing", '050', 2003, 'Romantic comedy', 'A teen (Nick Cannon) hires a cheerleader (Christina Milian) to pose as his girlfriend.')
2020-10-12 00:02:05,230 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,232 INFO sqlalchemy.engine.base.Engine ('MV001437160000', "Love Don't Cost a Thing", '117', 2003, 'Romantic comedy', 'A teen (Nick Cannon) hires a cheerleader (Christina Milian) to pose as his girlfriend.')
2020-10-12 00:02:05,235 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,237 INFO sqlalchemy.engine.base.Engine ('MV001045710000', 'Antitrust', '598', 2001, 'Thriller', 'Software corporation offers a position to a computer genius (Ryan Phillippe).')
2020-10-12 00:02:05,243 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,245 INFO sqlalchemy.engine.base.Engine ('MV004087310000', 'The Runway', '982', 2010, 'Drama', 'Residentes del Condado Cork ayudan a un piloto sudamericano que se estrelló en su ciudad.')
2020-10-12 00:02:05,247 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,249 INFO sqlalchemy.engine.base.Engine ('MV000324110000', "Jacob's Ladder", '533', 1990, 'Horror', 'Hellish hallucinations haunt a veteran (Tim Robbins) and others who were in his battalion.')
2020-10-12 00:02:05,251 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,252 INFO sqlalchemy.engine.base.Engine ('MV000324110000', "Jacob's Ladder", '533', 1990, 'Drama', 'Hellish hallucinations haunt a veteran (Tim Robbins) and others who were in his battalion.')
2020-10-12 00:02:05,255 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,256 INFO sqlalchemy.engine.base.Engine ('MV000324110000', "Jacob's Ladder", '533', 1990, 'Thriller', 'Hellish hallucinations haunt a veteran (Tim Robbins) and others who were in his battalion.')
2020-10-12 00:02:05,258 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,260 INFO sqlalchemy.engine.base.Engine ('MV000631380000', 'Urban Legend', '596', 1998, 'Horror', 'A murderer stalks college students in the tradition of local urban legends.')
2020-10-12 00:02:05,263 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,264 INFO sqlalchemy.engine.base.Engine ('MV009902600000', "The Girl in the Spider's Web", '602', 2018, 'Action', 'Computer hacker Lisbeth Salander must race against time to recover stolen nuclear weapon codes.')
2020-10-12 00:02:05,267 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,271 INFO sqlalchemy.engine.base.Engine ('MV009902600000', "The Girl in the Spider's Web", '602', 2018, 'Thriller', 'Computer hacker Lisbeth Salander must race against time to recover stolen nuclear weapon codes.')
2020-10-12 00:02:05,274 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,276 INFO sqlalchemy.engine.base.Engine ('MV001448490000', 'Dirty Dancing: Havana Nights', '511', 2004, 'Romance', 'Love blossoms between a Cuban (Diego Luna) and an American teen (Romola Garai).')
2020-10-12 00:02:05,280 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,281 INFO sqlalchemy.engine.base.Engine ('MV001448490000', 'Dirty Dancing: Havana Nights', '511', 2004, 'Drama', 'Love blossoms between a Cuban (Diego Luna) and an American teen (Romola Garai).')
2020-10-12 00:02:05,283 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,284 INFO sqlalchemy.engine.base.Engine ('MV000323440000', 'Desperate Hours', '599', 1990, 'Crime drama', "An escaped psycho (Mickey Rourke) invades a Utah couple's (Anthony Hopkins, Mimi Rogers) home.")
2020-10-12 00:02:05,286 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,289 INFO sqlalchemy.engine.base.Engine ('MV001476230000', 'Johnson Family Vacation', '586', 2004, 'Comedy', 'Disaster strikes when a man takes his wife and children on a road trip from Los Angeles to Missouri.')
2020-10-12 00:02:05,291 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,295 INFO sqlalchemy.engine.base.Engine ('MV000828430000', 'The Hurricane', '537', 1999, 'Drama', "A boxer (Denzel Washington) is long imprisoned for murders he didn't commit.")
2020-10-12 00:02:05,298 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,300 INFO sqlalchemy.engine.base.Engine ('MV000586150000', "John Carpenter's Vampires", '595', 1998, 'Horror', 'Vampire killers (James Woods, Daniel Baldwin) pursue a 600-year-old specimen.')
2020-10-12 00:02:05,304 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,308 INFO sqlalchemy.engine.base.Engine ('MV000586150000', "John Carpenter's Vampires", '595', 1998, 'Action', 'Vampire killers (James Woods, Daniel Baldwin) pursue a 600-year-old specimen.')
2020-10-12 00:02:05,310 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,312 INFO sqlalchemy.engine.base.Engine ('MV000586150000', "John Carpenter's Vampires", '595', 1998, 'Western', 'Vampire killers (James Woods, Daniel Baldwin) pursue a 600-year-old specimen.')
2020-10-12 00:02:05,315 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,316 INFO sqlalchemy.engine.base.Engine ('MV000649210000', 'I Still Know What You Did Last Summer', '571', 1998, 'Horror', 'A killer stalks young people (Jennifer Love Hewitt, Brandy) at an island resort.')
2020-10-12 00:02:05,319 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:05,320 INFO sqlalchemy.engine.base.Engine ('MV008331720000', 'King Arthur: Legend of the Sword', '534', 2017, 'Adventure', 'Robbed of his birthright, Arthur embraces his destiny after pulling the Excalibur sword from stone.')
2020-10-12 00:02:05,326 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,329 INFO sqlalchemy.engine.base.Engine ('MV008331720000', 'King Arthur: Legend of the Sword', '534', 2017, 'Action', 'Robbed of his birthright, Arthur embraces his destiny after pulling the Excalibur sword from stone.')
2020-10-12 00:02:05,332 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,332 INFO sqlalchemy.engine.base.Engine ('MV008331720000', 'King Arthur: Legend of the Sword', '534', 2017, 'Fantasy', 'Robbed of his birthright, Arthur embraces his destiny after pulling the Excalibur sword from stone.')
2020-10-12 00:02:05,335 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,337 INFO sqlalchemy.engine.base.Engine ('MV000062320000', 'Impact', '064', 1949, 'Crime drama', 'Man (Brian Donlevy) hides with widow (Ella Raines) after wife botches his murder.')
2020-10-12 00:02:05,340 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,342 INFO sqlalchemy.engine.base.Engine ('MV000062320000', 'Impact', '631', 1949, 'Crime drama', 'Man (Brian Donlevy) hides with widow (Ella Raines) after wife botches his murder.')
2020-10-12 00:02:05,345 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,346 INFO sqlalchemy.engine.base.Engine ('MV000342250000', 'The Addams Family', '037', 1991, 'Comedy', 'Gomez, Morticia and their ghoulish household are prey to a scam involving long-lost Uncle Fester.')
2020-10-12 00:02:05,349 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,350 INFO sqlalchemy.engine.base.Engine ('MV000342250000', 'The Addams Family', '122', 1991, 'Comedy', 'Gomez, Morticia and their ghoulish household are prey to a scam involving long-lost Uncle Fester.')
2020-10-12 00:02:05,354 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,359 INFO sqlalchemy.engine.base.Engine ('MV012588050000', 'Lying and Stealing', '513', 2019, 'Thriller', 'An art thief teams up with a sexy con woman to pull off the ultimate heist and set himself free.')
2020-10-12 00:02:05,361 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,363 INFO sqlalchemy.engine.base.Engine ('MV012588050000', 'Lying and Stealing', '513', 2019, 'Crime drama', 'An art thief teams up with a sexy con woman to pull off the ultimate heist and set himself free.')
2020-10-12 00:02:05,365 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,366 INFO sqlalchemy.engine.base.Engine ('MV006741130000', 'Séptimo', '524', 2013, 'Thriller', 'Un hombre emprende una búsqueda desesperada cuando sus hijos desaparecen en su edificio.')
2020-10-12 00:02:05,369 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,370 INFO sqlalchemy.engine.base.Engine ('MV003466120000', 'One for the Money', '597', 2012, 'Action', "A rookie bounty hunter (Katherine Heigl) goes after her former high-school flame (Jason O'Mara).")
2020-10-12 00:02:05,372 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,375 INFO sqlalchemy.engine.base.Engine ('MV003466120000', 'One for the Money', '597', 2012, 'Comedy', "A rookie bounty hunter (Katherine Heigl) goes after her former high-school flame (Jason O'Mara).")
2020-10-12 00:02:05,378 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,382 INFO sqlalchemy.engine.base.Engine ('MV000945750000', 'Dragonheart: A New Beginning', '620', 2000, 'Fantasy', 'A young stable boy (Christopher Masterson) rescues a baby dragon.')
2020-10-12 00:02:05,385 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,386 INFO sqlalchemy.engine.base.Engine ('MV000945750000', 'Dragonheart: A New Beginning', '620', 2000, 'Adventure', 'A young stable boy (Christopher Masterson) rescues a baby dragon.')
2020-10-12 00:02:05,388 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,392 INFO sqlalchemy.engine.base.Engine ('MV000945750000', 'Dragonheart: A New Beginning', '620', 2000, 'Action', 'A young stable boy (Christopher Masterson) rescues a baby dragon.')
2020-10-12 00:02:05,395 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,396 INFO sqlalchemy.engine.base.Engine ('MV000077450000', 'Decision at Sundown', '640', 1957, 'Western', 'Gunman (Randolph Scott) rides into Sundown for showdown with big shot (John Carroll).')
2020-10-12 00:02:05,398 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,400 INFO sqlalchemy.engine.base.Engine ('MV000229240000', 'Ahí viene Martín Corona', '935', 1952, 'Western', 'Las aventuras del legendario héroe mexicano Martín Corona y su romance con una hermosa española.')
2020-10-12 00:02:05,404 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,408 INFO sqlalchemy.engine.base.Engine ('MV000229240000', 'Ahí viene Martín Corona', '935', 1952, 'Comedy drama', 'Las aventuras del legendario héroe mexicano Martín Corona y su romance con una hermosa española.')
2020-10-12 00:02:05,411 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,413 INFO sqlalchemy.engine.base.Engine ('MV000991410000', 'Thirteen Days', '552', 2000, 'Historical drama', 'President Kennedy and members of his staff react to news of a Soviet missile buildup in Cuba.')
2020-10-12 00:02:05,415 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,417 INFO sqlalchemy.engine.base.Engine ('MV007534630000', 'The Fate of the Furious', '068', 2017, 'Action', 'Members of the crew spring into action when a mysterious woman forces Dom to betray them all.')
2020-10-12 00:02:05,420 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,421 INFO sqlalchemy.engine.base.Engine ('MV007534630000', 'The Fate of the Furious', '068', 2017, 'Adventure', 'Members of the crew spring into action when a mysterious woman forces Dom to betray them all.')

2020-10-12 00:02:05,423 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,424 INFO sqlalchemy.engine.base.Engine ('MV007534630000', 'The Fate of the Furious', '068', 2017, 'Thriller', 'Members of the crew spring into action when a mysterious woman forces Dom to betray them all.')
2020-10-12 00:02:05,427 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,429 INFO sqlalchemy.engine.base.Engine ('MV007534630000', 'The Fate of the Furious', '108', 2017, 'Action', 'Members of the crew spring into action when a mysterious woman forces Dom to betray them all.')
2020-10-12 00:02:05,433 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,434 INFO sqlalchemy.engine.base.Engine ('MV007534630000', 'The Fate of the Furious', '108', 2017, 'Adventure', 'Members of the crew spring into action when a mysterious woman forces Dom to betray them all.')
2020-10-12 00:02:05,437 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,438 INFO sqlalchemy.engine.base.Engine ('MV007534630000', 'The Fate of the Furious', '108', 2017, 'Thriller', 'Members of the crew spring into action when a mysterious woman forces Dom to betray them all.')
2020-10-12 00:02:05,441 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,442 INFO sqlalchemy.engine.base.Engine ('MV001201260000', 'All About the Benjamins', '029', 2002, 'Action', 'Two men (Ice Cube, Mike Epps) try to foil a group of diamond thieves.')
2020-10-12 00:02:05,445 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,446 INFO sqlalchemy.engine.base.Engine ('MV001201260000', 'All About the Benjamins', '029', 2002, 'Comedy', 'Two men (Ice Cube, Mike Epps) try to foil a group of diamond thieves.')
2020-10-12 00:02:05,449 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,450 INFO sqlalchemy.engine.base.Engine ('MV001201260000', 'All About the Benjamins', '181', 2002, 'Action', 'Two men (Ice Cube, Mike Epps) try to foil a group of diamond thieves.')
2020-10-12 00:02:05,452 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,453 INFO sqlalchemy.engine.base.Engine ('MV001201260000', 'All About the Benjamins', '181', 2002, 'Comedy', 'Two men (Ice Cube, Mike Epps) try to foil a group of diamond thieves.')
2020-10-12 00:02:05,456 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,457 INFO sqlalchemy.engine.base.Engine ('MV001792100000', 'The Last King of Scotland', '532', 2006, 'Biography', 'The personal physician of Ugandan dictator Idi Amin witnesses his murderous reign of terror.')
2020-10-12 00:02:05,461 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,463 INFO sqlalchemy.engine.base.Engine ('MV001792100000', 'The Last King of Scotland', '532', 2006, 'Drama', 'The personal physician of Ugandan dictator Idi Amin witnesses his murderous reign of terror.')
2020-10-12 00:02:05,466 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,467 INFO sqlalchemy.engine.base.Engine ('MV013647250000', 'Speed of Life', '558', 2019, 'Drama', 'A woman loses the man she loves when he falls into a wormhole during an argument.')
2020-10-12 00:02:05,470 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,471 INFO sqlalchemy.engine.base.Engine ('MV000039950000', 'Friday the 13th, Part 2', '063', 1981, 'Horror', 'Jason is waiting for another batch of teens (Amy Steel, John Furey, Adrienne King).')
2020-10-12 00:02:05,474 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,563 INFO sqlalchemy.engine.base.Engine ('MV000039950000', 'Friday the 13th, Part 2', '105', 1981, 'Horror', 'Jason is waiting for another batch of teens (Amy Steel, John Furey, Adrienne King).')
2020-10-12 00:02:05,565 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,566 INFO sqlalchemy.engine.base.Engine ('MV012523700000', 'Hustlers', '555', 2019, 'Comedy drama', 'Four strippers turn the tables on their Wall Street clients after the 2008 economic collapse.')
2020-10-12 00:02:05,568 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,569 INFO sqlalchemy.engine.base.Engine ('MV001801350000', 'The Holiday', '026', 2006, 'Romantic comedy', 'Two women, who each have just endured a horrid breakup with a lover, swap homes for Christmas.')
2020-10-12 00:02:05,573 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,575 INFO sqlalchemy.engine.base.Engine ('MV001801350000', 'The Holiday', '026', 2006, 'Holiday', 'Two women, who each have just endured a horrid breakup with a lover, swap homes for Christmas.')
2020-10-12 00:02:05,577 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,578 INFO sqlalchemy.engine.base.Engine ('MV001801350000', 'The Holiday', '170', 2006, 'Romantic comedy', 'Two women, who each have just endured a horrid breakup with a lover, swap homes for Christmas.')
2020-10-12 00:02:05,581 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,582 INFO sqlalchemy.engine.base.Engine ('MV001801350000', 'The Holiday', '170', 2006, 'Holiday', 'Two women, who each have just endured a horrid breakup with a lover, swap homes for Christmas.')
2020-10-12 00:02:05,585 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,586 INFO sqlalchemy.engine.base.Engine ('MV001157830000', 'Big Fat Liar', '584', 2002, 'Comedy', "A sleazy producer (Paul Giamatti) steals a teen's (Frankie Muniz) story for a movie.")
2020-10-12 00:02:05,591 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,593 INFO sqlalchemy.engine.base.Engine ('MV001157830000', 'Big Fat Liar', '584', 2002, 'Children', "A sleazy producer (Paul Giamatti) steals a teen's (Frankie Muniz) story for a movie.")
2020-10-12 00:02:05,596 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,597 INFO sqlalchemy.engine.base.Engine ('MV001231170000', 'Undercover Brother', '604', 2002, 'Comedy', 'A private detective (Eddie Griffin) tries to foil conspirators.')

2020-10-12 00:02:05,600 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,601 INFO sqlalchemy.engine.base.Engine ('MV003840260000', 'Treasure Buddies', '521', 2012, 'Comedy', 'The buddies travel to Egypt and race against an evil cat to find a great treasure.')
2020-10-12 00:02:05,604 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,605 INFO sqlalchemy.engine.base.Engine ('MV003840260000', 'Treasure Buddies', '521', 2012, 'Adventure', 'The buddies travel to Egypt and race against an evil cat to find a great treasure.')
2020-10-12 00:02:05,608 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,609 INFO sqlalchemy.engine.base.Engine ('MV003840260000', 'Treasure Buddies', '521', 2012, 'Children', 'The buddies travel to Egypt and race against an evil cat to find a great treasure.')
2020-10-12 00:02:05,612 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,613 INFO sqlalchemy.engine.base.Engine ('MV001622690000', 'Two for the Money', '606', 2005, 'Drama', 'Two men (Al Pacino, Matthew McConaughey) handicap football games for high-rolling gamblers.')
2020-10-12 00:02:05,615 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,617 INFO sqlalchemy.engine.base.Engine ('MV011822700000', 'Zombieland: Double Tap', '581', 2019, 'Comedy', 'Post-apocalyptic warriors square off against smarter, faster and seemingly indestructible zombies.')
2020-10-12 00:02:05,620 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,623 INFO sqlalchemy.engine.base.Engine ('MV011822700000', 'Zombieland: Double Tap', '581', 2019, 'Horror', 'Post-apocalyptic warriors square off against smarter, faster and seemingly indestructible zombies.')
2020-10-12 00:02:05,626 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,627 INFO sqlalchemy.engine.base.Engine ('MV011822700000', 'Zombieland: Double Tap', '581', 2019, 'Action', 'Post-apocalyptic warriors square off against smarter, faster and seemingly indestructible zombies.')
2020-10-12 00:02:05,630 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,631 INFO sqlalchemy.engine.base.Engine ('MV000195420000', 'Youngblood', '633', 1986, 'Drama', 'New York farm boy (Rob Lowe) goes to Canada to play semipro hockey.')
2020-10-12 00:02:05,633 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,634 INFO sqlalchemy.engine.base.Engine ('MV010112930000', 'Maisanta', '984', 2016, 'Drama', 'EL joven Pedro Pérez Delgado vivirá intensas historias de amor en una Venezuela en transición.')
2020-10-12 00:02:05,637 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,638 INFO sqlalchemy.engine.base.Engine ('MV001243360000', 'Los tres bohemios', '985', 1957, 'Comedy', 'Tres jóvenes cantantes reciben ayuda de la dueña de un restaurante.')
2020-10-12 00:02:05,640 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,641 INFO sqlalchemy.engine.base.Engine ('MV000224910000', 'The Untouchables', '603', 1987, 'Crime drama', 'Eliot Ness (Kevin Costner) and men fight Al Capone (Robert De Niro) in Chicago.')
2020-10-12 00:02:05,643 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,645 INFO sqlalchemy.engine.base.Engine ('MV000468250000', 'Courage Under Fire', '551', 1996, 'Drama', 'Officer (Denzel Washington) reviews medal candidacy of female helicopter pilot (Meg Ryan).')
2020-10-12 00:02:05,648 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,650 INFO sqlalchemy.engine.base.Engine ('MV001522020000', 'El Rápido de las 9:15', '979', 1941, 'Drama', 'Un tren se dirige a un puente a punto de derrumbarse debido a una lluvia torrencial.')
2020-10-12 00:02:05,654 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,655 INFO sqlalchemy.engine.base.Engine ('MV000230090000', 'El fantasma de la opereta', '980', 1960, 'Comedy', 'Un mesero y una cantante deciden montar un espectáculo en un viejo teatro habitado por fantasmas.')
2020-10-12 00:02:05,658 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,660 INFO sqlalchemy.engine.base.Engine ('MV014301420000', 'Atentado terrorista', '983', 2013, 'Action', 'El comandante Marte se enfrenta a una peligrosa operación en la que deberá desactivar una bomba.')
2020-10-12 00:02:05,663 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,664 INFO sqlalchemy.engine.base.Engine ('MV000403940000', 'The River Wild', '605', 1994, 'Action', 'A rafter (Meryl Streep) runs rapids with her family and bad guys (Kevin Bacon).')
2020-10-12 00:02:05,666 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,667 INFO sqlalchemy.engine.base.Engine ('MV005675610000', 'Love Is Strange', '621', 2014, 'Drama', 'A recently married gay couple must move into separate households after losing their home.')
2020-10-12 00:02:05,669 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,671 INFO sqlalchemy.engine.base.Engine ('MV012837770000', 'Bloodshot', '582', 2020, 'Action', 'An unstoppable reanimated soldier embarks on a mission to recover his true memories.')
2020-10-12 00:02:05,674 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,676 INFO sqlalchemy.engine.base.Engine ('MV012837770000', 'Bloodshot', '582', 2020, 'Adventure', 'An unstoppable reanimated soldier embarks on a mission to recover his true memories.')
2020-10-12 00:02:05,679 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,681 INFO sqlalchemy.engine.base.Engine ('MV012837770000', 'Bloodshot', '582', 2020, 'Fantasy', 'An unstoppable reanimated soldier embarks on a mission to recover his true memories.')
2020-10-12 00:02:05,683 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,684 INFO sqlalchemy.engine.base.Engine ('MV000969820000', 'The Watcher', '539', 2000, 'Thriller', 'An FBI agent (James Spader) comes out of hiding to catch a serial killer (Keanu Reeves).')

2020-10-12 00:02:05,686 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,687 INFO sqlalchemy.engine.base.Engine ('MV001840330000', 'Bridge to Terabithia', '514', 2007, 'Fantasy', 'Two youths (Josh Hutcherson, AnnaSophia Robb) create an imaginary world filled with magical beings.')
2020-10-12 00:02:05,690 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,691 INFO sqlalchemy.engine.base.Engine ('MV001840330000', 'Bridge to Terabithia', '514', 2007, 'Drama', 'Two youths (Josh Hutcherson, AnnaSophia Robb) create an imaginary world filled with magical beings.')
2020-10-12 00:02:05,694 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,694 INFO sqlalchemy.engine.base.Engine ('MV001840330000', 'Bridge to Terabithia', '514', 2007, 'Children', 'Two youths (Josh Hutcherson, AnnaSophia Robb) create an imaginary world filled with magical beings.')
2020-10-12 00:02:05,697 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,698 INFO sqlalchemy.engine.base.Engine ('MV000883000000', 'Frequency', '518', 2000, 'Fantasy', 'A cop (Jim Caviezel) makes radio contact with his dead father (Dennis Quaid).')
2020-10-12 00:02:05,700 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,701 INFO sqlalchemy.engine.base.Engine ('MV002034680000', 'Margaret', '540', 2011, 'Drama', 'A teenager feels responsible for a fatal traffic accident and tries to make amends.')
2020-10-12 00:02:05,705 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,707 INFO sqlalchemy.engine.base.Engine ('MV001779230000', 'Idiocracy', '523', 2006, 'Comedy', 'A dullard awakens 500 years in the future and finds that he is the smartest person alive.')
2020-10-12 00:02:05,709 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,711 INFO sqlalchemy.engine.base.Engine ('MV001779230000', 'Idiocracy', '523', 2006, 'Science fiction', 'A dullard awakens 500 years in the future and finds that he is the smartest person alive.')
2020-10-12 00:02:05,713 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,714 INFO sqlalchemy.engine.base.Engine ('MV001233890000', 'Los chiflados del rock and roll', '890', 1957, 'Drama', 'Tres bohemios deciden conquistar a una lugareña adinerada.')
2020-10-12 00:02:05,717 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,718 INFO sqlalchemy.engine.base.Engine ('MV012712580000', 'Killerman', '535', 2019, 'Action', 'An amnesiac money launderer searches for answers while trying to dodge a crew of crooked cops.')
2020-10-12 00:02:05,721 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,723 INFO sqlalchemy.engine.base.Engine ('MV012712580000', 'Killerman', '535', 2019, 'Thriller', 'An amnesiac money launderer searches for answers while trying to dodge a crew of crooked cops.')
2020-10-12 00:02:05,726 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,727 INFO sqlalchemy.engine.base.Engine ('MV012712580000', 'Killerman', '535', 2019, 'Crime drama', 'An amnesiac money launderer searches for answers while trying to dodge a crew of crooked cops.')
2020-10-12 00:02:05,733 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,734 INFO sqlalchemy.engine.base.Engine ('MV004662130000', 'Crónicas de un Tiroteo: El Corazón de los Hombres', '971', 2011, 'Action', 'La historia de dos gemelos. Cuando uno es asesinado, el otro es forzado a tomar su lugar.')
2020-10-12 00:02:05,737 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,739 INFO sqlalchemy.engine.base.Engine ('MV004662130000', 'Crónicas de un Tiroteo: El Corazón de los Hombres', '971', 2011, 'Crime drama', 'La historia de dos gemelos. Cuando uno es asesinado, el otro es forzado a tomar su lugar.')
2020-10-12 00:02:05,742 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,743 INFO sqlalchemy.engine.base.Engine ('MV000061020000', "National Lampoon's Animal House", '609', 1978, 'Comedy', 'Bluto (John Belushi), Otter and the Deltas run wild at 1962 Faber College.')
2020-10-12 00:02:05,745 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,747 INFO sqlalchemy.engine.base.Engine ('MV011164590000', 'Fast & Furious Presents: Hobbs & Shaw', '515', 2019, 'Action', 'A lawman and an operative battle a cybernetically enhanced soldier who possesses a lethal pathogen.')
2020-10-12 00:02:05,749 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,750 INFO sqlalchemy.engine.base.Engine ('MV011164590000', 'Fast & Furious Presents: Hobbs & Shaw', '515', 2019, 'Adventure', 'A lawman and an operative battle a cybernetically enhanced soldier who possesses a lethal pathogen.')
2020-10-12 00:02:05,753 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,755 INFO sqlalchemy.engine.base.Engine ('MV011164590000', 'Fast & Furious Presents: Hobbs & Shaw', '515', 2019, 'Comedy', 'A lawman and an operative battle a cybernetically enhanced soldier who possesses a lethal pathogen.')
2020-10-12 00:02:05,760 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,761 INFO sqlalchemy.engine.base.Engine ('MV001177420000', "Hart's War", '583', 2002, 'War', 'A black airman (Terrence Howard) stands trial for murder in a Nazi camp.')
2020-10-12 00:02:05,763 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,765 INFO sqlalchemy.engine.base.Engine ('MV001177420000', "Hart's War", '583', 2002, 'Drama', 'A black airman (Terrence Howard) stands trial for murder in a Nazi camp.')
2020-10-12 00:02:05,767 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,769 INFO sqlalchemy.engine.base.Engine ('MV007533460000', 'Maze Runner: The Death Cure', '083', 2018, 'Science fiction', 'Thomas leads the Gladers into a WCKD-controlled labyrinth that may be the deadliest maze of all.')
2020-10-12 00:02:05,771 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,772 INFO sqlalchemy.engine.base.Engine ('MV007533460000', 'Maze Runner: The Death Cure', '083', 2018, 'Adventure', 'Thomas leads the Gladers into a WCKD-controlled labyrinth that may be the deadliest maze of all.')

2020-10-12 00:02:05,775 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,776 INFO sqlalchemy.engine.base.Engine ('MV007533460000', 'Maze Runner: The Death Cure', '083', 2018, 'Action', 'Thomas leads the Gladers into a WCKD-controlled labyrinth that may be the deadliest maze of all.')
2020-10-12 00:02:05,780 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,781 INFO sqlalchemy.engine.base.Engine ('MV007533460000', 'Maze Runner: The Death Cure', '083', 2018, 'Thriller', 'Thomas leads the Gladers into a WCKD-controlled labyrinth that may be the deadliest maze of all.')
2020-10-12 00:02:05,784 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,785 INFO sqlalchemy.engine.base.Engine ('MV007533460000', 'Maze Runner: The Death Cure', '632', 2018, 'Science fiction', 'Thomas leads the Gladers into a WCKD-controlled labyrinth that may be the deadliest maze of all.')
2020-10-12 00:02:05,788 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,789 INFO sqlalchemy.engine.base.Engine ('MV007533460000', 'Maze Runner: The Death Cure', '632', 2018, 'Adventure', 'Thomas leads the Gladers into a WCKD-controlled labyrinth that may be the deadliest maze of all.')
2020-10-12 00:02:05,792 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,794 INFO sqlalchemy.engine.base.Engine ('MV007533460000', 'Maze Runner: The Death Cure', '632', 2018, 'Action', 'Thomas leads the Gladers into a WCKD-controlled labyrinth that may be the deadliest maze of all.')
2020-10-12 00:02:05,796 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,797 INFO sqlalchemy.engine.base.Engine ('MV007533460000', 'Maze Runner: The Death Cure', '632', 2018, 'Thriller', 'Thomas leads the Gladers into a WCKD-controlled labyrinth that may be the deadliest maze of all.')
2020-10-12 00:02:05,799 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,800 INFO sqlalchemy.engine.base.Engine ('MV001736570000', 'Inside Man', '554', 2006, 'Thriller', 'A tough detective matches wits with a bank robber, while an enigmatic woman has her own agenda.')
2020-10-12 00:02:05,803 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,804 INFO sqlalchemy.engine.base.Engine ('MV001736570000', 'Inside Man', '554', 2006, 'Crime drama', 'A tough detective matches wits with a bank robber, while an enigmatic woman has her own agenda.')
2020-10-12 00:02:05,809 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,810 INFO sqlalchemy.engine.base.Engine ('MV008021910000', 'War Dogs', '516', 2016, 'Comedy drama', 'Arms dealers find themselves in over their heads after landing a contract to supply Afghan forces.')
2020-10-12 00:02:05,812 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,813 INFO sqlalchemy.engine.base.Engine ('MV013947210000', 'Los fugitivos', '972', 2019, 'Western', 'Cinco prisioneros escapan de la cárcel y, en su intento por alejarse de la zona, matan a un policía.')
2020-10-12 00:02:05,816 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,817 INFO sqlalchemy.engine.base.Engine ('MV000206880000', 'Aliens', '519', 1986, 'Science fiction', 'Ripley (Sigourney Weaver) and a dwindling number of Marines battle an army of monstrous predators.')
2020-10-12 00:02:05,819 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,820 INFO sqlalchemy.engine.base.Engine ('MV000206880000', 'Aliens', '519', 1986, 'Horror', 'Ripley (Sigourney Weaver) and a dwindling number of Marines battle an army of monstrous predators.')
2020-10-12 00:02:05,824 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,825 INFO sqlalchemy.engine.base.Engine ('MV000206880000', 'Aliens', '519', 1986, 'Action', 'Ripley (Sigourney Weaver) and a dwindling number of Marines battle an army of monstrous predators.')
2020-10-12 00:02:05,828 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,829 INFO sqlalchemy.engine.base.Engine ('MV001131940000', 'Driven', '973', 2001, 'Action', 'Un expiloto de autos de carrera deja de lado su retiro para guiar a un talentoso e inmaduro joven.')
2020-10-12 00:02:05,831 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,832 INFO sqlalchemy.engine.base.Engine ('MV001905420000', 'Talk to Me', '585', 2007, 'Biography', 'Radio host Ralph "Petey" Greene gives voice to the black movement in 1960s Washington, D.C.')
2020-10-12 00:02:05,835 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,836 INFO sqlalchemy.engine.base.Engine ('MV001905420000', 'Talk to Me', '585', 2007, 'Docudrama', 'Radio host Ralph "Petey" Greene gives voice to the black movement in 1960s Washington, D.C.')
2020-10-12 00:02:05,838 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,841 INFO sqlalchemy.engine.base.Engine ('MV002775080000', 'The Last Exorcism', '541', 2010, 'Horror', 'A deceitful cleric (Patrick Fabian) must summon faith when he finds real evil at a Louisiana farm.')
2020-10-12 00:02:05,843 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,844 INFO sqlalchemy.engine.base.Engine ('MV002775080000', 'The Last Exorcism', '541', 2010, 'Thriller', 'A deceitful cleric (Patrick Fabian) must summon faith when he finds real evil at a Louisiana farm.')
2020-10-12 00:02:05,848 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,850 INFO sqlalchemy.engine.base.Engine ('MV011967480000', 'Cuando dejes de quererme', '982', 2018, 'Drama', 'Laura regresa desde Argentina a España para investigar quién mató a su padre hace 30 años.')
2020-10-12 00:02:05,853 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,854 INFO sqlalchemy.engine.base.Engine ('MV011967480000', 'Cuando dejes de quererme', '982', 2018, 'Thriller', 'Laura regresa desde Argentina a España para investigar quién mató a su padre hace 30 años.')
2020-10-12 00:02:05,857 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:05,859 INFO sqlalchemy.engine.base.Engine ('MV010063180000', 'Leatherface', '058', 2017, 'Horror', 'A Texas mental patient embarks on a violent rampage that shapes him into a legendary killer.')
2020-10-12 00:02:05,860 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,861 INFO sqlalchemy.engine.base.Engine ('MV010063180000', 'Leatherface', '111', 2017, 'Horror', 'A Texas mental patient embarks on a violent rampage that shapes him into a legendary killer.')
2020-10-12 00:02:05,863 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,865 INFO sqlalchemy.engine.base.Engine ('MV000852340000', 'Boiler Room', '553', 2000, 'Drama', 'A man (Giovanni Ribisi) begins trading stocks with a dubious firm.')
2020-10-12 00:02:05,868 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,869 INFO sqlalchemy.engine.base.Engine ('MV003664050000', 'The Dark Knight Rises', '627', 2012, 'Action', 'Batman re-emerges from his self-imposed exile to battle a merciless terrorist named Bane.')
2020-10-12 00:02:05,872 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,875 INFO sqlalchemy.engine.base.Engine ('MV003664050000', 'The Dark Knight Rises', '627', 2012, 'Adventure', 'Batman re-emerges from his self-imposed exile to battle a merciless terrorist named Bane.')
2020-10-12 00:02:05,878 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,879 INFO sqlalchemy.engine.base.Engine ('MV003664050000', 'The Dark Knight Rises', '627', 2012, 'Thriller', 'Batman re-emerges from his self-imposed exile to battle a merciless terrorist named Bane.')
2020-10-12 00:02:05,881 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,882 INFO sqlalchemy.engine.base.Engine ('MV003664050000', 'The Dark Knight Rises', '627', 2012, 'Fantasy', 'Batman re-emerges from his self-imposed exile to battle a merciless terrorist named Bane.')
2020-10-12 00:02:05,884 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,885 INFO sqlalchemy.engine.base.Engine ('MV000846640000', 'Wonder Boys', '556', 2000, 'Comedy drama', 'A writer (Michael Douglas) and his student (Tobey Maguire) collide with life.')
2020-10-12 00:02:05,887 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,890 INFO sqlalchemy.engine.base.Engine ('MV002762410000', 'The American', '520', 2010, 'Thriller', 'An assassin (George Clooney) hides out in a picturesque Italian town after an assignment ends badly.')
2020-10-12 00:02:05,893 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,895 INFO sqlalchemy.engine.base.Engine ('MV002762410000', 'The American', '520', 2010, 'Drama', 'An assassin (George Clooney) hides out in a picturesque Italian town after an assignment ends badly.')
2020-10-12 00:02:05,897 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,898 INFO sqlalchemy.engine.base.Engine ('MV002762410000', 'The American', '520', 2010, 'Action', 'An assassin (George Clooney) hides out in a picturesque Italian town after an assignment ends badly.')
2020-10-12 00:02:05,901 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,901 INFO sqlalchemy.engine.base.Engine ('MV007600360000', 'Amy', '572', 2015, 'Documentary', 'Archival footage presents an intimate portrait of the life of singer/songwriter Amy Winehouse.')
2020-10-12 00:02:05,904 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,904 INFO sqlalchemy.engine.base.Engine ('MV007600360000', 'Amy', '572', 2015, 'Biography', 'Archival footage presents an intimate portrait of the life of singer/songwriter Amy Winehouse.')
2020-10-12 00:02:05,907 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,908 INFO sqlalchemy.engine.base.Engine ('MV007600360000', 'Amy', '572', 2015, 'Music', 'Archival footage presents an intimate portrait of the life of singer/songwriter Amy Winehouse.')
2020-10-12 00:02:05,910 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,911 INFO sqlalchemy.engine.base.Engine ('MV007600360000', 'Amy', '572', 2015, 'Soul', 'Archival footage presents an intimate portrait of the life of singer/songwriter Amy Winehouse.')
2020-10-12 00:02:05,913 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,914 INFO sqlalchemy.engine.base.Engine ('MV007600360000', 'Amy', '572', 2015, 'R&B', 'Archival footage presents an intimate portrait of the life of singer/songwriter Amy Winehouse.')
2020-10-12 00:02:05,917 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,918 INFO sqlalchemy.engine.base.Engine ('MV007600360000', 'Amy', '572', 2015, 'Jazz', 'Archival footage presents an intimate portrait of the life of singer/songwriter Amy Winehouse.')
2020-10-12 00:02:05,920 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,922 INFO sqlalchemy.engine.base.Engine ('MV013059740000', "My Husband's Secret Twin", '076', 2019, 'Thriller', "When a woman's husband begins to act strangely, she embarks on a quest to find out what's wrong.")
2020-10-12 00:02:05,924 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,926 INFO sqlalchemy.engine.base.Engine ('MV013059740000', "My Husband's Secret Twin", '630', 2019, 'Thriller', "When a woman's husband begins to act strangely, she embarks on a quest to find out what's wrong.")
2020-10-12 00:02:05,930 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,931 INFO sqlalchemy.engine.base.Engine ('MV002100260000', 'Shelter', '1849', 2007, 'Drama', "A surfer (Trevor Wright) begins a secret romance with his best friend's brother (Brad Rowe).")
2020-10-12 00:02:05,933 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,934 INFO sqlalchemy.engine.base.Engine ('MV002100260000', 'Shelter', '1849', 2007, 'Romance', "A surfer (Trevor Wright) begins a secret romance with his best friend's brother (Brad Rowe).")
2020-10-12 00:02:05,937 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:05,938 INFO sqlalchemy.engine.base.Engine ('MV001563470000', 'Crash', '511', 2004, 'Drama', 'Racial tensions collide among Los Angeles residents (Sandra Bullock, Don Cheadle, Matt Dillon).')
2020-10-12 00:02:05,942 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,943 INFO sqlalchemy.engine.base.Engine ('MV012589860000', 'X-Men: Dark Phoenix', '512', 2019, 'Action', 'The X-Men unite to try and save Jean Grey from a powerful force that makes her dangerously unstable.')
2020-10-12 00:02:05,946 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,948 INFO sqlalchemy.engine.base.Engine ('MV012589860000', 'X-Men: Dark Phoenix', '512', 2019, 'Adventure', 'The X-Men unite to try and save Jean Grey from a powerful force that makes her dangerously unstable.')
2020-10-12 00:02:05,950 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,952 INFO sqlalchemy.engine.base.Engine ('MV012589860000', 'X-Men: Dark Phoenix', '512', 2019, 'Science fiction', 'The X-Men unite to try and save Jean Grey from a powerful force that makes her dangerously unstable.')
2020-10-12 00:02:05,955 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,958 INFO sqlalchemy.engine.base.Engine ('MV012589860000', 'X-Men: Dark Phoenix', '512', 2019, 'Fantasy', 'The X-Men unite to try and save Jean Grey from a powerful force that makes her dangerously unstable.')
2020-10-12 00:02:05,960 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,962 INFO sqlalchemy.engine.base.Engine ('MV010234130000', 'Descendants 2', '042', 2017, 'Comedy', 'When the pressure to be perfect gets to be too much for Mal, she returns to the Isle of the Lost.')
2020-10-12 00:02:05,964 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,965 INFO sqlalchemy.engine.base.Engine ('MV010234130000', 'Descendants 2', '042', 2017, 'Action', 'When the pressure to be perfect gets to be too much for Mal, she returns to the Isle of the Lost.')
2020-10-12 00:02:05,968 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:05,969 INFO sqlalchemy.engine.base.Engine ('MV010234130000', 'Descendants 2', '042', 2017, 'Adventure', 'When the pressure to be perfect gets to be too much for Mal, she returns to the Isle of the Lost.')
2020-10-12 00:02:05,972 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,065 INFO sqlalchemy.engine.base.Engine ('MV010234130000', 'Descendants 2', '042', 2017, 'Fantasy', 'When the pressure to be perfect gets to be too much for Mal, she returns to the Isle of the Lost.')
2020-10-12 00:02:06,067 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,069 INFO sqlalchemy.engine.base.Engine ('MV010234130000', 'Descendants 2', '042', 2017, 'Children', 'When the pressure to be perfect gets to be too much for Mal, she returns to the Isle of the Lost.')
2020-10-12 00:02:06,073 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,074 INFO sqlalchemy.engine.base.Engine ('MV010234130000', 'Descendants 2', '251', 2017, 'Comedy', 'When the pressure to be perfect gets to be too much for Mal, she returns to the Isle of the Lost.')
2020-10-12 00:02:06,077 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,079 INFO sqlalchemy.engine.base.Engine ('MV010234130000', 'Descendants 2', '251', 2017, 'Action', 'When the pressure to be perfect gets to be too much for Mal, she returns to the Isle of the Lost.')
2020-10-12 00:02:06,083 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,085 INFO sqlalchemy.engine.base.Engine ('MV010234130000', 'Descendants 2', '251', 2017, 'Adventure', 'When the pressure to be perfect gets to be too much for Mal, she returns to the Isle of the Lost.')
2020-10-12 00:02:06,087 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,088 INFO sqlalchemy.engine.base.Engine ('MV010234130000', 'Descendants 2', '251', 2017, 'Fantasy', 'When the pressure to be perfect gets to be too much for Mal, she returns to the Isle of the Lost.')
2020-10-12 00:02:06,092 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,093 INFO sqlalchemy.engine.base.Engine ('MV010234130000', 'Descendants 2', '251', 2017, 'Children', 'When the pressure to be perfect gets to be too much for Mal, she returns to the Isle of the Lost.')
2020-10-12 00:02:06,097 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,100 INFO sqlalchemy.engine.base.Engine ('MV011872460000', 'Falling for You', '039', 2018, 'Drama', 'A radio station manager meets her match when she asks a salesman to enter a bachelor bake-off.')
2020-10-12 00:02:06,103 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,105 INFO sqlalchemy.engine.base.Engine ('MV011872460000', 'Falling for You', '039', 2018, 'Romance', 'A radio station manager meets her match when she asks a salesman to enter a bachelor bake-off.')
2020-10-12 00:02:06,109 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,110 INFO sqlalchemy.engine.base.Engine ('MV011872460000', 'Falling for You', '123', 2018, 'Drama', 'A radio station manager meets her match when she asks a salesman to enter a bachelor bake-off.')
2020-10-12 00:02:06,113 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,115 INFO sqlalchemy.engine.base.Engine ('MV011872460000', 'Falling for You', '123', 2018, 'Romance', 'A radio station manager meets her match when she asks a salesman to enter a bachelor bake-off.')
2020-10-12 00:02:06,117 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,119 INFO sqlalchemy.engine.base.Engine ('MV000012420000', 'His Girl Friday', '1248', 1940, 'Comedy', 'Editor (Cary Grant) tries to keep ace reporter (Rosalind Russell) from remarrying.')
2020-10-12 00:02:06,121 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,123 INFO sqlalchemy.engine.base.Engine ('MV001776820000', 'Pathfinder', '542', 2007, 'Adventure', 'American Indians adopt a Norse boy who was left behind by Viking invaders.')
2020-10-12 00:02:06,126 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:06,128 INFO sqlalchemy.engine.base.Engine ('MV001776820000', 'Pathfinder', '542', 2007, 'Action', 'American Indians adopt a Norse boy who was left behind by Viking invaders.')
2020-10-12 00:02:06,131 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,134 INFO sqlalchemy.engine.base.Engine ('MV000223020000', 'Ishtar', '623', 1987, 'Comedy', 'Booked in Marrakech, two New York singers stop in Ishtar, meet a beautiful rebel and alarm the CIA.')
2020-10-12 00:02:06,136 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,138 INFO sqlalchemy.engine.base.Engine ('MV004070110000', 'I, Frankenstein', '596', 2014, 'Fantasy', "Still alive in modern times, Frankenstein's creature becomes enmeshed in a war involving immortals.")
2020-10-12 00:02:06,144 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,146 INFO sqlalchemy.engine.base.Engine ('MV004070110000', 'I, Frankenstein', '596', 2014, 'Action', "Still alive in modern times, Frankenstein's creature becomes enmeshed in a war involving immortals.")
2020-10-12 00:02:06,148 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,149 INFO sqlalchemy.engine.base.Engine ('MV001550760000', 'Assault on Precinct 13', '538', 2005, 'Action', 'Gunmen attack a crumbling police station to kill a gangster (Laurence Fishburne).')
2020-10-12 00:02:06,152 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,154 INFO sqlalchemy.engine.base.Engine ('MV001550760000', 'Assault on Precinct 13', '538', 2005, 'Crime drama', 'Gunmen attack a crumbling police station to kill a gangster (Laurence Fishburne).')
2020-10-12 00:02:06,157 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,160 INFO sqlalchemy.engine.base.Engine ('MV001550760000', 'Assault on Precinct 13', '538', 2005, 'Thriller', 'Gunmen attack a crumbling police station to kill a gangster (Laurence Fishburne).')
2020-10-12 00:02:06,163 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,165 INFO sqlalchemy.engine.base.Engine ('MV014287650000', 'Inheritance', '536', 2020, 'Thriller', 'Una impactante herencia secreta amenaza con destruir a una poderosa familia.')
2020-10-12 00:02:06,168 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,170 INFO sqlalchemy.engine.base.Engine ('MV013963510000', 'Inheritance', '531', 2020, 'Thriller', 'A shocking secret inheritance threatens to destroy the lives of a woman and her daughter.')
2020-10-12 00:02:06,173 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,175 INFO sqlalchemy.engine.base.Engine ('MV003829690000', 'Arbitrage', '598', 2012, 'Drama', 'A critical error forces a hedge-fund magnate to seek help from an unlikely source.')
2020-10-12 00:02:06,177 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,178 INFO sqlalchemy.engine.base.Engine ('MV003829690000', 'Arbitrage', '598', 2012, 'Thriller', 'A critical error forces a hedge-fund magnate to seek help from an unlikely source.')
2020-10-12 00:02:06,180 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,181 INFO sqlalchemy.engine.base.Engine ('MV000690390000', 'October Sky', '620', 1999, 'Docudrama', "A West Virginia miner's son (Jake Gyllenhaal) becomes a NASA scientist.")
2020-10-12 00:02:06,183 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,184 INFO sqlalchemy.engine.base.Engine ('MV013763840000', 'Greed', '586', 2019, 'Comedy', 'A self-made fashion billionaire throws an extravagant birthday party on the Greek island of Mykonos.')
2020-10-12 00:02:06,188 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,190 INFO sqlalchemy.engine.base.Engine ('MV014469510000', 'Huracán', '524', 2019, 'Drama', 'Un trastorno de la personalidad provoca que un luchador de MMA se vuelva imprudente y agresivo.')
2020-10-12 00:02:06,193 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,193 INFO sqlalchemy.engine.base.Engine ('MV010952090000', 'Woman Walks Ahead', '557', 2017, 'Western', 'A painter goes west to meet Sitting Bull, finding the U.S. Army intent on war with Native Americans.')
2020-10-12 00:02:06,196 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,197 INFO sqlalchemy.engine.base.Engine ('MV010952090000', 'Woman Walks Ahead', '557', 2017, 'Historical drama', 'A painter goes west to meet Sitting Bull, finding the U.S. Army intent on war with Native Americans.')
2020-10-12 00:02:06,199 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,200 INFO sqlalchemy.engine.base.Engine ('MV000276420000', 'Drugstore Cowboy', '599', 1989, 'Drama', "An addict (Matt Dillon), his wife (Kelly Lynch) and another couple steal drugs in '71 Portland, Ore.")
2020-10-12 00:02:06,202 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,204 INFO sqlalchemy.engine.base.Engine ('MV001649590000', "Carlito's Way: Rise to Power", '640', 2005, 'Crime drama', 'A New York gangster (Jay Hernandez) becomes a powerful drug kingpin.')
2020-10-12 00:02:06,208 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,210 INFO sqlalchemy.engine.base.Engine ('MV000046990000', 'Billy Two Hats', '622', 1973, 'Western', "Scot (Gregory Peck) robs bank with young Indian (Desi Arnaz Jr.), who falls for rancher's wife.")
2020-10-12 00:02:06,213 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,214 INFO sqlalchemy.engine.base.Engine ('MV003365830000', 'Rise of the Planet of the Apes', '533', 2011, 'Science fiction', 'A substance designed to help the brain repair itself gives rise to a superintelligent chimp.')
2020-10-12 00:02:06,220 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,221 INFO sqlalchemy.engine.base.Engine ('MV003365830000', 'Rise of the Planet of the Apes', '533', 2011, 'Action', 'A substance designed to help the brain repair itself gives rise to a superintelligent chimp.')
2020-10-12 00:02:06,225 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:06,228 INFO sqlalchemy.engine.base.Engine ('MV003365830000', 'Rise of the Planet of the Apes', '533', 2011, 'Adventure', 'A substance designed to help the brain repair itself gives rise to a superintelligent chimp.')
2020-10-12 00:02:06,231 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,232 INFO sqlalchemy.engine.base.Engine ('MV000206380000', 'Back to School', '597', 1986, 'Comedy', 'Earthy self-made man (Rodney Dangerfield) joins son (Keith Gordon) at college.')
2020-10-12 00:02:06,235 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,235 INFO sqlalchemy.engine.base.Engine ('MV014520350000', 'Siempre, Luis', '513', 2020, 'Documentary', 'Puerto Rican migrant Luis Miranda moves to the United States and fights for Latino communities.')
2020-10-12 00:02:06,238 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,240 INFO sqlalchemy.engine.base.Engine ('MV001823160000', "I'll Always Know What You Did Last Summer", '571', 2006, 'Horror', 'A mysterious killer stalks a group of friends who kept an accidental death a secret.')
2020-10-12 00:02:06,242 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,243 INFO sqlalchemy.engine.base.Engine ('MV001823160000', "I'll Always Know What You Did Last Summer", '571', 2006, 'Thriller', 'A mysterious killer stalks a group of friends who kept an accidental death a secret.')
2020-10-12 00:02:06,245 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,246 INFO sqlalchemy.engine.base.Engine ('MV000208050000', 'Stand by Me', '602', 1986, 'Comedy drama', 'Boy (Wil Wheaton) and buddies go on hike to find dead body in 1959.')
2020-10-12 00:02:06,249 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,250 INFO sqlalchemy.engine.base.Engine ('MV003566190000', "I Don't Know How She Does It", '558', 2011, 'Comedy', 'A Boston financial executive (Sarah Jessica Parker) struggles to balance career and family.')
2020-10-12 00:02:06,252 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,253 INFO sqlalchemy.engine.base.Engine ('MV012314840000', 'Crawl', '595', 2019, 'Horror', 'Gigantic alligators swarm around a woman and her father as floodwaters engulf their family home.')
2020-10-12 00:02:06,256 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,257 INFO sqlalchemy.engine.base.Engine ('MV012314840000', 'Crawl', '595', 2019, 'Thriller', 'Gigantic alligators swarm around a woman and her father as floodwaters engulf their family home.')
2020-10-12 00:02:06,259 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,265 INFO sqlalchemy.engine.base.Engine ('MV000365980000', 'The Sandlot', '608', 1993, 'Comedy drama', 'Neighborhood baseball whiz (Mike Vitar) helps clumsy new kid (Thomas Guiry).')
2020-10-12 00:02:06,269 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,270 INFO sqlalchemy.engine.base.Engine ('MV000365980000', 'The Sandlot', '608', 1993, 'Children', 'Neighborhood baseball whiz (Mike Vitar) helps clumsy new kid (Thomas Guiry).')
2020-10-12 00:02:06,272 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,274 INFO sqlalchemy.engine.base.Engine ('MV001790020000', 'Open Season', '584', 2006, 'Comedy', 'A mule deer (Ashton Kutcher) shakes up the easy life of a domesticated bear (Martin Lawrence).')
2020-10-12 00:02:06,276 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,278 INFO sqlalchemy.engine.base.Engine ('MV001790020000', 'Open Season', '584', 2006, 'Adventure', 'A mule deer (Ashton Kutcher) shakes up the easy life of a domesticated bear (Martin Lawrence).')
2020-10-12 00:02:06,281 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,282 INFO sqlalchemy.engine.base.Engine ('MV001790020000', 'Open Season', '584', 2006, 'Animated', 'A mule deer (Ashton Kutcher) shakes up the easy life of a domesticated bear (Martin Lawrence).')
2020-10-12 00:02:06,285 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,286 INFO sqlalchemy.engine.base.Engine ('MV001790020000', 'Open Season', '584', 2006, 'Children', 'A mule deer (Ashton Kutcher) shakes up the easy life of a domesticated bear (Martin Lawrence).')
2020-10-12 00:02:06,289 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,290 INFO sqlalchemy.engine.base.Engine ('MV001605740000', 'Deuce Bigalow: European Gigolo', '604', 2005, 'Comedy', 'A pimp (Eddie Griffin) uses Deuce (Rob Schneider) as bait to find a killer.')
2020-10-12 00:02:06,294 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,297 INFO sqlalchemy.engine.base.Engine ('MV003716340000', 'The Best Exotic Marigold Hotel', '522', 2011, 'Comedy drama', 'British retirees move to India and find that their new home is a dilapidated hotel.')
2020-10-12 00:02:06,300 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,302 INFO sqlalchemy.engine.base.Engine ('MV000543490000', 'Home Alone 3', '521', 1997, 'Comedy', 'A clever boy (Alex D. Linz) stymies spies (Olek Krupa, Rya Kihlstedt) seeking a computer chip.')
2020-10-12 00:02:06,304 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,306 INFO sqlalchemy.engine.base.Engine ('MV000543490000', 'Home Alone 3', '521', 1997, 'Children', 'A clever boy (Alex D. Linz) stymies spies (Olek Krupa, Rya Kihlstedt) seeking a computer chip.')
2020-10-12 00:02:06,309 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,310 INFO sqlalchemy.engine.base.Engine ('MV000062710000', 'Woman on Pier 13', '064', 1950, 'Crime drama', 'A man is blackmailed into rejoining the Communist Party.')
2020-10-12 00:02:06,313 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,315 INFO sqlalchemy.engine.base.Engine ('MV000062710000', 'Woman on Pier 13', '631', 1950, 'Crime drama', 'A man is blackmailed into rejoining the Communist Party.')

2020-10-12 00:02:06,319 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,322 INFO sqlalchemy.engine.base.Engine ('MV000245430000', 'Los galleros de Jalisco', '985', 1974, 'Drama', 'Dos hombres murieron en una riña de gallos y les dejaron un horrible futuro a sus hijos.')
2020-10-12 00:02:06,325 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,326 INFO sqlalchemy.engine.base.Engine ('MV000379280000', 'Addams Family Values', '037', 1993, 'Comedy', "The Addams' new nanny targets Uncle Fester's (Christopher Lloyd) fortune.")
2020-10-12 00:02:06,329 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,330 INFO sqlalchemy.engine.base.Engine ('MV000379280000', 'Addams Family Values', '122', 1993, 'Comedy', "The Addams' new nanny targets Uncle Fester's (Christopher Lloyd) fortune.")
2020-10-12 00:02:06,333 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,335 INFO sqlalchemy.engine.base.Engine ('MV012352620000', 'Ma', '534', 2019, 'Thriller', 'A seemingly friendly woman terrorizes a group of teens after letting them party in her basement.')
2020-10-12 00:02:06,338 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,340 INFO sqlalchemy.engine.base.Engine ('MV012352620000', 'Ma', '534', 2019, 'Horror', 'A seemingly friendly woman terrorizes a group of teens after letting them party in her basement.')
2020-10-12 00:02:06,343 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,344 INFO sqlalchemy.engine.base.Engine ('MV001793440000', 'Half Nelson', '523', 2006, 'Drama', 'A teacher struggles with drug addiction while trying to help a girl from a broken home.')
2020-10-12 00:02:06,346 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,347 INFO sqlalchemy.engine.base.Engine ('MV000264720000', 'Domingo Corrales', '980', 1988, 'Drama', 'Un hijo venga el asesinato de su padre perpetrado por un grupo de narcotraficantes.')
2020-10-12 00:02:06,349 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,350 INFO sqlalchemy.engine.base.Engine ('MV009714510000', 'Norman: The Moderate Rise and Tragic Fall of a New York Fixer', '621', 2016, 'Comedy drama', 'A financial schemer (Richard Gere) finds himself in the middle of an international scandal.')
2020-10-12 00:02:06,352 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,353 INFO sqlalchemy.engine.base.Engine ('MV009714510000', 'Norman: The Moderate Rise and Tragic Fall of a New York Fixer', '621', 2016, 'Drama', 'A financial schemer (Richard Gere) finds himself in the middle of an international scandal.')
2020-10-12 00:02:06,356 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,357 INFO sqlalchemy.engine.base.Engine ('MV009714510000', 'Norman: The Moderate Rise and Tragic Fall of a New York Fixer', '621', 2016, 'Thriller', 'A financial schemer (Richard Gere) finds himself in the middle of an international scandal.')
2020-10-12 00:02:06,361 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,363 INFO sqlalchemy.engine.base.Engine ('MV002112380000', 'Forgetting Sarah Marshall', '030', 2008, 'Romantic comedy', 'A struggling musician encounters his ex-lover and her new boyfriend while vacationing in Hawaii.')
2020-10-12 00:02:06,366 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,367 INFO sqlalchemy.engine.base.Engine ('MV002112380000', 'Forgetting Sarah Marshall', '168', 2008, 'Romantic comedy', 'A struggling musician encounters his ex-lover and her new boyfriend while vacationing in Hawaii.')
2020-10-12 00:02:06,369 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,370 INFO sqlalchemy.engine.base.Engine ('MV001860860000', 'Irresistible', '661', 2006, 'Drama', 'Una mujer (Susan Sarandon) cree que una amiga (Emily Blunt) de su esposo (Sam Neill) arruinará todo.')
2020-10-12 00:02:06,372 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,374 INFO sqlalchemy.engine.base.Engine ('MV001860860000', 'Irresistible', '661', 2006, 'Thriller', 'Una mujer (Susan Sarandon) cree que una amiga (Emily Blunt) de su esposo (Sam Neill) arruinará todo.')
2020-10-12 00:02:06,377 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,379 INFO sqlalchemy.engine.base.Engine ('MV003759410000', 'Deewaar', '1542', 1975, 'Crime drama', 'A policeman (Shashi Kapoor) heads for a showdown with his criminal brother (Amitabh Bachchan).')
2020-10-12 00:02:06,382 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,383 INFO sqlalchemy.engine.base.Engine ('MV000501780000', 'The Saint', '187', 1997, 'Action', 'Agent Simon Templar (Val Kilmer) falls for a U.S. scientist (Elisabeth Shue).')
2020-10-12 00:02:06,386 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,388 INFO sqlalchemy.engine.base.Engine ('MV000501780000', 'The Saint', '187', 1997, 'Adventure', 'Agent Simon Templar (Val Kilmer) falls for a U.S. scientist (Elisabeth Shue).')
2020-10-12 00:02:06,391 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,393 INFO sqlalchemy.engine.base.Engine ('MV000501780000', 'The Saint', '187', 1997, 'Romance', 'Agent Simon Templar (Val Kilmer) falls for a U.S. scientist (Elisabeth Shue).')
2020-10-12 00:02:06,395 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,396 INFO sqlalchemy.engine.base.Engine ('MV012532740000', "It's a Date", '182', 2018, 'Romance', 'The owner of a dating service falls in love with one of her clients.')
2020-10-12 00:02:06,398 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,399 INFO sqlalchemy.engine.base.Engine ('MV002661710000', 'Barnyard', '514', 2006, 'Comedy', 'A carefree bull (Kevin James) must find the courage to lead when responsibility is thrust upon him.')
2020-10-12 00:02:06,402 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,404 INFO sqlalchemy.engine.base.Engine ('MV002661710000', 'Barnyard', '514', 2006, 'Adventure', 'A carefree bull (Kevin James) must find the courage to lead when responsibility is thrust upon him.')

2020-10-12 00:02:06,408 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,410 INFO sqlalchemy.engine.base.Engine ('MV002661710000', 'Barnyard', '514', 2006, 'Animated', 'A carefree bull (Kevin James) must find the courage to lead when responsibility is thrust upon him.')
2020-10-12 00:02:06,412 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,413 INFO sqlalchemy.engine.base.Engine ('MV002661710000', 'Barnyard', '514', 2006, 'Children', 'A carefree bull (Kevin James) must find the courage to lead when responsibility is thrust upon him.')
2020-10-12 00:02:06,416 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,417 INFO sqlalchemy.engine.base.Engine ('MV005267150000', 'Friday the 13th - Part III', '063', 1982, 'Horror', 'Killer Jason terrorizes teens (Dana Kimmell, Paul Kratka, Tracie Savage) and a biker gang.')
2020-10-12 00:02:06,419 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,420 INFO sqlalchemy.engine.base.Engine ('MV005267150000', 'Friday the 13th - Part III', '105', 1982, 'Horror', 'Killer Jason terrorizes teens (Dana Kimmell, Paul Kratka, Tracie Savage) and a biker gang.')
2020-10-12 00:02:06,422 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,424 INFO sqlalchemy.engine.base.Engine ('MV002080640000', 'The Dark Knight', '069', 2008, 'Action', 'Batman (Christian Bale) battles a vicious criminal known as the Joker (Heath Ledger).')
2020-10-12 00:02:06,426 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,430 INFO sqlalchemy.engine.base.Engine ('MV002080640000', 'The Dark Knight', '069', 2008, 'Adventure', 'Batman (Christian Bale) battles a vicious criminal known as the Joker (Heath Ledger).')
2020-10-12 00:02:06,433 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,434 INFO sqlalchemy.engine.base.Engine ('MV002080640000', 'The Dark Knight', '069', 2008, 'Fantasy', 'Batman (Christian Bale) battles a vicious criminal known as the Joker (Heath Ledger).')
2020-10-12 00:02:06,436 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,437 INFO sqlalchemy.engine.base.Engine ('MV002080640000', 'The Dark Knight', '116', 2008, 'Action', 'Batman (Christian Bale) battles a vicious criminal known as the Joker (Heath Ledger).')
2020-10-12 00:02:06,439 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,442 INFO sqlalchemy.engine.base.Engine ('MV002080640000', 'The Dark Knight', '116', 2008, 'Adventure', 'Batman (Christian Bale) battles a vicious criminal known as the Joker (Heath Ledger).')
2020-10-12 00:02:06,448 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,449 INFO sqlalchemy.engine.base.Engine ('MV002080640000', 'The Dark Knight', '116', 2008, 'Fantasy', 'Batman (Christian Bale) battles a vicious criminal known as the Joker (Heath Ledger).')
2020-10-12 00:02:06,456 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,458 INFO sqlalchemy.engine.base.Engine ('MV001789080000', 'Step Up', '050', 2006, 'Musical', "A troubled guy's (Channing Tatum) dancing attracts the attention of a ballerina (Jenna Dewan).")
2020-10-12 00:02:06,460 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,462 INFO sqlalchemy.engine.base.Engine ('MV001789080000', 'Step Up', '050', 2006, 'Drama', "A troubled guy's (Channing Tatum) dancing attracts the attention of a ballerina (Jenna Dewan).")
2020-10-12 00:02:06,464 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,465 INFO sqlalchemy.engine.base.Engine ('MV001789080000', 'Step Up', '117', 2006, 'Musical', "A troubled guy's (Channing Tatum) dancing attracts the attention of a ballerina (Jenna Dewan).")
2020-10-12 00:02:06,468 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,470 INFO sqlalchemy.engine.base.Engine ('MV001789080000', 'Step Up', '117', 2006, 'Drama', "A troubled guy's (Channing Tatum) dancing attracts the attention of a ballerina (Jenna Dewan).")
2020-10-12 00:02:06,472 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,474 INFO sqlalchemy.engine.base.Engine ('MV000551550000', 'The Big Lebowski', '133', 1998, 'Comedy', 'Bowling buddies (Jeff Bridges, John Goodman) try to help a multimillionaire.')
2020-10-12 00:02:06,476 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,477 INFO sqlalchemy.engine.base.Engine ('MV003325590000', 'The Boy Who Cried Werewolf', '262', 2010, 'Comedy', 'A lab accident transforms an awkward teenager (Victoria Justice) into a werewolf.')
2020-10-12 00:02:06,479 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,481 INFO sqlalchemy.engine.base.Engine ('MV003325590000', 'The Boy Who Cried Werewolf', '262', 2010, 'Thriller', 'A lab accident transforms an awkward teenager (Victoria Justice) into a werewolf.')
2020-10-12 00:02:06,484 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,485 INFO sqlalchemy.engine.base.Engine ('MV003325590000', 'The Boy Who Cried Werewolf', '262', 2010, 'Mystery', 'A lab accident transforms an awkward teenager (Victoria Justice) into a werewolf.')
2020-10-12 00:02:06,490 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,494 INFO sqlalchemy.engine.base.Engine ('MV003325590000', 'The Boy Who Cried Werewolf', '262', 2010, 'Children', 'A lab accident transforms an awkward teenager (Victoria Justice) into a werewolf.')
2020-10-12 00:02:06,497 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,499 INFO sqlalchemy.engine.base.Engine ('MV012921280000', 'Timeless Love', '051', 2018, 'Romance', 'A woman seems to have the perfect life with a wonderful husband and two children.')
2020-10-12 00:02:06,501 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,503 INFO sqlalchemy.engine.base.Engine ('MV012921280000', 'Timeless Love', '629', 2018, 'Romance', 'A woman seems to have the perfect life with a wonderful husband and two children.')

2020-10-12 00:02:06,506 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,509 INFO sqlalchemy.engine.base.Engine ('MV000240330000', 'Los Tres Alegres Compadres', '979', 1951, 'Action', 'Dos hermanos forman el más descabellado trío de aventureros junto a su padre.')
2020-10-12 00:02:06,512 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,515 INFO sqlalchemy.engine.base.Engine ('MV008787910000', 'La reina de tapas', '984', 2012, 'Comedy', 'Un funcionario corrupto descubre una mentira sobre un negocio y chantajea al dueño.')
2020-10-12 00:02:06,519 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,520 INFO sqlalchemy.engine.base.Engine ('MV003685510000', 'Safe House', '537', 2012, 'Action', "A rookie and a renegade agent try to stay alive while trying to determine who's trying to kill them.")
2020-10-12 00:02:06,522 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,614 INFO sqlalchemy.engine.base.Engine ('MV003685510000', 'Safe House', '537', 2012, 'Thriller', "A rookie and a renegade agent try to stay alive while trying to determine who's trying to kill them.")
2020-10-12 00:02:06,616 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,617 INFO sqlalchemy.engine.base.Engine ('MV001023440000', 'The Pledge', '539', 2001, 'Crime drama', "A detective (Jack Nicholson) promises to find a young girl's murderer.")
2020-10-12 00:02:06,620 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,621 INFO sqlalchemy.engine.base.Engine ('MV001023440000', 'The Pledge', '539', 2001, 'Mystery', "A detective (Jack Nicholson) promises to find a young girl's murderer.")
2020-10-12 00:02:06,627 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,628 INFO sqlalchemy.engine.base.Engine ('MV002296200000', 'Never Back Down', '532', 2008, 'Action', 'A teen is lured into combat in an underground fighting league.')
2020-10-12 00:02:06,631 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,632 INFO sqlalchemy.engine.base.Engine ('MV005954580000', 'Una maestra con cariño', '983', 2012, 'Drama', 'El director de una escuela de primaria busca evitar la demolición de la escuela.')
2020-10-12 00:02:06,635 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,636 INFO sqlalchemy.engine.base.Engine ('MV009266860000', 'La Revancha', '972', 2016, 'Action', 'Antonio está entre el resentimiento y la venganza, por haber perdido su libertad y a su hermano.')
2020-10-12 00:02:06,638 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,641 INFO sqlalchemy.engine.base.Engine ('MV009266860000', 'La Revancha', '972', 2016, 'Thriller', 'Antonio está entre el resentimiento y la venganza, por haber perdido su libertad y a su hermano.')
2020-10-12 00:02:06,644 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,645 INFO sqlalchemy.engine.base.Engine ('MV011810040000', 'Miss Bala', '582', 2019, 'Action', 'A young woman must outwit a ruthless drug cartel to save her kidnapped friend in Mexico.')
2020-10-12 00:02:06,648 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,650 INFO sqlalchemy.engine.base.Engine ('MV011810040000', 'Miss Bala', '582', 2019, 'Thriller', 'A young woman must outwit a ruthless drug cartel to save her kidnapped friend in Mexico.')
2020-10-12 00:02:06,653 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,654 INFO sqlalchemy.engine.base.Engine ('MV001282390000', 'Maid in Manhattan', '605', 2002, 'Romantic comedy', 'A senatorial candidate (Ralph Fiennes) falls for a chambermaid (Jennifer Lopez).')
2020-10-12 00:02:06,656 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,658 INFO sqlalchemy.engine.base.Engine ('MV002464410000', 'Whiteout', '606', 2009, 'Thriller', 'As the only U.S. Marshal assigned to Antarctica, a woman has just three days to solve a murder.')
2020-10-12 00:02:06,660 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,661 INFO sqlalchemy.engine.base.Engine ('MV002464410000', 'Whiteout', '606', 2009, 'Mystery', 'As the only U.S. Marshal assigned to Antarctica, a woman has just three days to solve a murder.')
2020-10-12 00:02:06,664 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,666 INFO sqlalchemy.engine.base.Engine ('MV012256050000', '21 Bridges', '551', 2019, 'Action', "An NYPD detective searches for two cop killers as authorities close all of Manhattan's 21 bridges.")
2020-10-12 00:02:06,669 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,671 INFO sqlalchemy.engine.base.Engine ('MV012256050000', '21 Bridges', '551', 2019, 'Thriller', "An NYPD detective searches for two cop killers as authorities close all of Manhattan's 21 bridges.")
2020-10-12 00:02:06,674 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,676 INFO sqlalchemy.engine.base.Engine ('MV012256050000', '21 Bridges', '551', 2019, 'Crime drama', "An NYPD detective searches for two cop killers as authorities close all of Manhattan's 21 bridges.")
2020-10-12 00:02:06,679 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,680 INFO sqlalchemy.engine.base.Engine ('MV002349620000', '12 Rounds', '603', 2009, 'Action', 'A cop (John Cena) must solve an elaborate series of puzzles to save his captive fiancee.')
2020-10-12 00:02:06,682 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,683 INFO sqlalchemy.engine.base.Engine ('MV002349620000', '12 Rounds', '603', 2009, 'Thriller', 'A cop (John Cena) must solve an elaborate series of puzzles to save his captive fiancee.')
2020-10-12 00:02:06,686 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,687 INFO sqlalchemy.engine.base.Engine ('MV006405490000', 'A Good Man', '971', 2014, 'Action', 'Alexander, un soldado retirado, se enfrenta a la mafia rusa y china para proteger a sus vecinos.')
2020-10-12 00:02:06,690 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:06,691 INFO sqlalchemy.engine.base.Engine ('MV000324110000', "Jacob's Ladder", '541', 1990, 'Horror', 'Hellish hallucinations haunt a veteran (Tim Robbins) and others who were in his battalion.')
2020-10-12 00:02:06,693 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,694 INFO sqlalchemy.engine.base.Engine ('MV000324110000', "Jacob's Ladder", '541', 1990, 'Drama', 'Hellish hallucinations haunt a veteran (Tim Robbins) and others who were in his battalion.')
2020-10-12 00:02:06,697 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,698 INFO sqlalchemy.engine.base.Engine ('MV000324110000', "Jacob's Ladder", '541', 1990, 'Thriller', 'Hellish hallucinations haunt a veteran (Tim Robbins) and others who were in his battalion.')
2020-10-12 00:02:06,702 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,703 INFO sqlalchemy.engine.base.Engine ('MV009902600000', "The Girl in the Spider's Web", '609', 2018, 'Action', 'Computer hacker Lisbeth Salander must race against time to recover stolen nuclear weapon codes.')
2020-10-12 00:02:06,705 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,707 INFO sqlalchemy.engine.base.Engine ('MV009902600000', "The Girl in the Spider's Web", '609', 2018, 'Thriller', 'Computer hacker Lisbeth Salander must race against time to recover stolen nuclear weapon codes.')
2020-10-12 00:02:06,710 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,711 INFO sqlalchemy.engine.base.Engine ('MV003728180000', 'The Apparition', '535', 2012, 'Horror', "A parapsychology experiment gives rise to a malevolent spirit that feeds on a couple's fear.")
2020-10-12 00:02:06,713 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,714 INFO sqlalchemy.engine.base.Engine ('MV000367820000', 'Menace II Society', '029', 1993, 'Drama', 'Drugs and violence fill the lives of an inner-city youth and his friends.')
2020-10-12 00:02:06,716 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,717 INFO sqlalchemy.engine.base.Engine ('MV000367820000', 'Menace II Society', '181', 1993, 'Drama', 'Drugs and violence fill the lives of an inner-city youth and his friends.')
2020-10-12 00:02:06,719 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,720 INFO sqlalchemy.engine.base.Engine ('MV001448490000', 'Dirty Dancing: Havana Nights', '518', 2004, 'Romance', 'Love blossoms between a Cuban (Diego Luna) and an American teen (Romola Garai).')
2020-10-12 00:02:06,728 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,729 INFO sqlalchemy.engine.base.Engine ('MV001448490000', 'Dirty Dancing: Havana Nights', '518', 2004, 'Drama', 'Love blossoms between a Cuban (Diego Luna) and an American teen (Romola Garai).')
2020-10-12 00:02:06,731 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,732 INFO sqlalchemy.engine.base.Engine ('MV011168760000', 'Leitis in Waiting', '1849', 2018, 'Documentary', 'An intrepid group of transgender women fights intolerance in the South Pacific kingdom of Tonga.')
2020-10-12 00:02:06,734 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,735 INFO sqlalchemy.engine.base.Engine ('MV006862520000', 'Finn', '918', 2013, 'Drama', 'Finn, niño de 9 años ve a un extraño tocando el violín y queda encantado.')
2020-10-12 00:02:06,738 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,739 INFO sqlalchemy.engine.base.Engine ('MV000130450000', 'Valley Girl', '633', 1983, 'Romantic comedy', 'Funny-talking California girl (Deborah Foreman) falls for punk rocker (Nicolas Cage).')
2020-10-12 00:02:06,742 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,743 INFO sqlalchemy.engine.base.Engine ('MV012528660000', 'Midway', '516', 2019, 'War', 'The U.S. Navy and a squad of fighter pilots battle Japanese forces during the Battle of Midway.')
2020-10-12 00:02:06,745 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,747 INFO sqlalchemy.engine.base.Engine ('MV012528660000', 'Midway', '516', 2019, 'Historical drama', 'The U.S. Navy and a squad of fighter pilots battle Japanese forces during the Battle of Midway.')
2020-10-12 00:02:06,749 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,750 INFO sqlalchemy.engine.base.Engine ('MV000586150000', "John Carpenter's Vampires", '596', 1998, 'Horror', 'Vampire killers (James Woods, Daniel Baldwin) pursue a 600-year-old specimen.')
2020-10-12 00:02:06,753 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,754 INFO sqlalchemy.engine.base.Engine ('MV000586150000', "John Carpenter's Vampires", '596', 1998, 'Action', 'Vampire killers (James Woods, Daniel Baldwin) pursue a 600-year-old specimen.')
2020-10-12 00:02:06,756 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,758 INFO sqlalchemy.engine.base.Engine ('MV000586150000', "John Carpenter's Vampires", '596', 1998, 'Western', 'Vampire killers (James Woods, Daniel Baldwin) pursue a 600-year-old specimen.')
2020-10-12 00:02:06,760 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,761 INFO sqlalchemy.engine.base.Engine ('MV010663180000', 'El techo', '982', 2016, 'Drama', 'Tres amigos de la Habana se reúnen todos los días para contar historias y compartir sus sueños.')
2020-10-12 00:02:06,765 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,767 INFO sqlalchemy.engine.base.Engine ('MV008331720000', 'King Arthur: Legend of the Sword', '542', 2017, 'Adventure', 'Robbed of his birthright, Arthur embraces his destiny after pulling the Excalibur sword from stone.')
2020-10-12 00:02:06,769 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,770 INFO sqlalchemy.engine.base.Engine ('MV008331720000', 'King Arthur: Legend of the Sword', '542', 2017, 'Action', 'Robbed of his birthright, Arthur embraces his destiny after pulling the Excalibur sword from stone.')
2020-10-12 00:02:06,773 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:06,774 INFO sqlalchemy.engine.base.Engine ('MV008331720000', 'King Arthur: Legend of the Sword', '542', 2017, 'Fantasy', 'Robbed of his birthright, Arthur embraces his destiny after pulling the Excalibur sword from stone.')
2020-10-12 00:02:06,777 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,778 INFO sqlalchemy.engine.base.Engine ('MV012588050000', 'Lying and Stealing', '520', 2019, 'Thriller', 'An art thief teams up with a sexy con woman to pull off the ultimate heist and set himself free.')
2020-10-12 00:02:06,780 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,781 INFO sqlalchemy.engine.base.Engine ('MV012588050000', 'Lying and Stealing', '520', 2019, 'Crime drama', 'An art thief teams up with a sexy con woman to pull off the ultimate heist and set himself free.')
2020-10-12 00:02:06,783 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,784 INFO sqlalchemy.engine.base.Engine ('MV000833190000', 'The Legend of Bagger Vance', '583', 2000, 'Drama', 'A golf caddy (Will Smith) helps a disillusioned young war veteran (Matt Damon).')
2020-10-12 00:02:06,787 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,788 INFO sqlalchemy.engine.base.Engine ('MV001983600000', 'No Country for Old Men', '585', 2007, 'Crime drama', 'A hunter (Josh Brolin) becomes the hunted after taking money from the scene of a drug deal gone bad.')
2020-10-12 00:02:06,792 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,793 INFO sqlalchemy.engine.base.Engine ('MV001983600000', 'No Country for Old Men', '585', 2007, 'Thriller', 'A hunter (Josh Brolin) becomes the hunted after taking money from the scene of a drug deal gone bad.')
2020-10-12 00:02:06,795 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,796 INFO sqlalchemy.engine.base.Engine ('MV000008010000', 'Hombre', '607', 1967, 'Western', 'Apache-raised white man (Paul Newman) protects stagecoach passengers.')
2020-10-12 00:02:06,798 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,799 INFO sqlalchemy.engine.base.Engine ('MV001297980000', 'Monte Walsh', '079', 2003, 'Western', 'A cowboy (Tom Selleck) battles corporations that are buying land.')
2020-10-12 00:02:06,802 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,802 INFO sqlalchemy.engine.base.Engine ('MV001297980000', 'Monte Walsh', '079', 2003, 'Drama', 'A cowboy (Tom Selleck) battles corporations that are buying land.')
2020-10-12 00:02:06,805 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,806 INFO sqlalchemy.engine.base.Engine ('MV001297980000', 'Monte Walsh', '461', 2003, 'Western', 'A cowboy (Tom Selleck) battles corporations that are buying land.')
2020-10-12 00:02:06,808 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,810 INFO sqlalchemy.engine.base.Engine ('MV001297980000', 'Monte Walsh', '461', 2003, 'Drama', 'A cowboy (Tom Selleck) battles corporations that are buying land.')
2020-10-12 00:02:06,814 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,815 INFO sqlalchemy.engine.base.Engine ('MV000187370000', 'Back to the Future', '058', 1985, 'Comedy', "Teen (Michael J. Fox) goes to 1955 in crackpot's (Christopher Lloyd) DeLorean time machine.")
2020-10-12 00:02:06,817 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,818 INFO sqlalchemy.engine.base.Engine ('MV000187370000', 'Back to the Future', '058', 1985, 'Science fiction', "Teen (Michael J. Fox) goes to 1955 in crackpot's (Christopher Lloyd) DeLorean time machine.")
2020-10-12 00:02:06,821 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,822 INFO sqlalchemy.engine.base.Engine ('MV000187370000', 'Back to the Future', '058', 1985, 'Fantasy', "Teen (Michael J. Fox) goes to 1955 in crackpot's (Christopher Lloyd) DeLorean time machine.")
2020-10-12 00:02:06,824 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,826 INFO sqlalchemy.engine.base.Engine ('MV000187370000', 'Back to the Future', '058', 1985, 'Adventure', "Teen (Michael J. Fox) goes to 1955 in crackpot's (Christopher Lloyd) DeLorean time machine.")
2020-10-12 00:02:06,828 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,829 INFO sqlalchemy.engine.base.Engine ('MV000187370000', 'Back to the Future', '111', 1985, 'Comedy', "Teen (Michael J. Fox) goes to 1955 in crackpot's (Christopher Lloyd) DeLorean time machine.")
2020-10-12 00:02:06,832 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,833 INFO sqlalchemy.engine.base.Engine ('MV000187370000', 'Back to the Future', '111', 1985, 'Science fiction', "Teen (Michael J. Fox) goes to 1955 in crackpot's (Christopher Lloyd) DeLorean time machine.")
2020-10-12 00:02:06,836 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,837 INFO sqlalchemy.engine.base.Engine ('MV000187370000', 'Back to the Future', '111', 1985, 'Fantasy', "Teen (Michael J. Fox) goes to 1955 in crackpot's (Christopher Lloyd) DeLorean time machine.")
2020-10-12 00:02:06,841 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,842 INFO sqlalchemy.engine.base.Engine ('MV000187370000', 'Back to the Future', '111', 1985, 'Adventure', "Teen (Michael J. Fox) goes to 1955 in crackpot's (Christopher Lloyd) DeLorean time machine.")
2020-10-12 00:02:06,844 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,845 INFO sqlalchemy.engine.base.Engine ('MV011111610000', 'Jumanji: The Next Level', '581', 2019, 'Adventure', 'Martha, Fridge and Bethany re-enter the fantastical world of Jumanji to bring Spencer home.')
2020-10-12 00:02:06,847 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,848 INFO sqlalchemy.engine.base.Engine ('MV011111610000', 'Jumanji: The Next Level', '581', 2019, 'Action', 'Martha, Fridge and Bethany re-enter the fantastical world of Jumanji to bring Spencer home.')
2020-10-12 00:02:06,851 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:06,851 INFO sqlalchemy.engine.base.Engine ('MV011111610000', 'Jumanji: The Next Level', '581', 2019, 'Comedy', 'Martha, Fridge and Bethany re-enter the fantastical world of Jumanji to bring Spencer home.')
2020-10-12 00:02:06,854 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,856 INFO sqlalchemy.engine.base.Engine ('MV011111610000', 'Jumanji: The Next Level', '581', 2019, 'Fantasy', 'Martha, Fridge and Bethany re-enter the fantastical world of Jumanji to bring Spencer home.')
2020-10-12 00:02:06,859 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,860 INFO sqlalchemy.engine.base.Engine ('MV011971550000', 'Happy Death Day 2U', '538', 2019, 'Horror', 'A college student must die over and over again to save her friends from a psychotic masked killer.')
2020-10-12 00:02:06,864 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,865 INFO sqlalchemy.engine.base.Engine ('MV011971550000', 'Happy Death Day 2U', '538', 2019, 'Thriller', 'A college student must die over and over again to save her friends from a psychotic masked killer.')
2020-10-12 00:02:06,867 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,869 INFO sqlalchemy.engine.base.Engine ('MV011971550000', 'Happy Death Day 2U', '538', 2019, 'Comedy', 'A college student must die over and over again to save her friends from a psychotic masked killer.')
2020-10-12 00:02:06,871 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,873 INFO sqlalchemy.engine.base.Engine ('MV002443070000', 'Open Season 2', '584', 2008, 'Comedy', 'Animals band (Mike Epps, Joel McHale) together to rescue a kidnapped dachshund.')
2020-10-12 00:02:06,876 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,878 INFO sqlalchemy.engine.base.Engine ('MV002443070000', 'Open Season 2', '584', 2008, 'Adventure', 'Animals band (Mike Epps, Joel McHale) together to rescue a kidnapped dachshund.')
2020-10-12 00:02:06,880 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,881 INFO sqlalchemy.engine.base.Engine ('MV002443070000', 'Open Season 2', '584', 2008, 'Animated', 'Animals band (Mike Epps, Joel McHale) together to rescue a kidnapped dachshund.')
2020-10-12 00:02:06,883 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,885 INFO sqlalchemy.engine.base.Engine ('MV002443070000', 'Open Season 2', '584', 2008, 'Children', 'Animals band (Mike Epps, Joel McHale) together to rescue a kidnapped dachshund.')
2020-10-12 00:02:06,887 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,888 INFO sqlalchemy.engine.base.Engine ('MV004162590000', 'The Ghoul', '064', 1933, 'Horror', 'Servant (Ernest Thesiger) robs jewel, Egyptologist (Boris Karloff) rises from grave.')
2020-10-12 00:02:06,890 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,892 INFO sqlalchemy.engine.base.Engine ('MV004162590000', 'The Ghoul', '631', 1933, 'Horror', 'Servant (Ernest Thesiger) robs jewel, Egyptologist (Boris Karloff) rises from grave.')
2020-10-12 00:02:06,895 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,896 INFO sqlalchemy.engine.base.Engine ('MV010763980000', 'Skyscraper', '068', 2018, 'Action', "A former FBI agent must save his family from a blazing fire in the world's tallest building.")
2020-10-12 00:02:06,899 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,900 INFO sqlalchemy.engine.base.Engine ('MV010763980000', 'Skyscraper', '068', 2018, 'Thriller', "A former FBI agent must save his family from a blazing fire in the world's tallest building.")
2020-10-12 00:02:06,903 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,903 INFO sqlalchemy.engine.base.Engine ('MV010763980000', 'Skyscraper', '108', 2018, 'Action', "A former FBI agent must save his family from a blazing fire in the world's tallest building.")
2020-10-12 00:02:06,905 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,907 INFO sqlalchemy.engine.base.Engine ('MV010763980000', 'Skyscraper', '108', 2018, 'Thriller', "A former FBI agent must save his family from a blazing fire in the world's tallest building.")
2020-10-12 00:02:06,910 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,911 INFO sqlalchemy.engine.base.Engine ('MV000613650000', 'Armageddon', '553', 1998, 'Science fiction', 'A NASA rep recruits an oil driller and his team of mavericks to save Earth from an asteroid.')
2020-10-12 00:02:06,913 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,914 INFO sqlalchemy.engine.base.Engine ('MV000613650000', 'Armageddon', '553', 1998, 'Action', 'A NASA rep recruits an oil driller and his team of mavericks to save Earth from an asteroid.')
2020-10-12 00:02:06,918 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,919 INFO sqlalchemy.engine.base.Engine ('MV000613650000', 'Armageddon', '553', 1998, 'Adventure', 'A NASA rep recruits an oil driller and his team of mavericks to save Earth from an asteroid.')
2020-10-12 00:02:06,922 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,924 INFO sqlalchemy.engine.base.Engine ('MV001792100000', 'The Last King of Scotland', '540', 2006, 'Biography', 'The personal physician of Ugandan dictator Idi Amin witnesses his murderous reign of terror.')
2020-10-12 00:02:06,927 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,928 INFO sqlalchemy.engine.base.Engine ('MV001792100000', 'The Last King of Scotland', '540', 2006, 'Drama', 'The personal physician of Ugandan dictator Idi Amin witnesses his murderous reign of terror.')
2020-10-12 00:02:06,930 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,931 INFO sqlalchemy.engine.base.Engine ('MV005009050000', 'Divergent', '175', 2014, 'Science fiction', "In a future society, a young woman uncovers a plot to kill those who don't fit into specific groups.")
2020-10-12 00:02:06,933 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:06,934 INFO sqlalchemy.engine.base.Engine ('MV005009050000', 'Divergent', '175', 2014, 'Action', "In a future society, a young woman uncovers a plot to kill those who don't fit into specific groups.")
2020-10-12 00:02:06,936 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,937 INFO sqlalchemy.engine.base.Engine ('MV005009050000', 'Divergent', '175', 2014, 'Adventure', "In a future society, a young woman uncovers a plot to kill those who don't fit into specific groups.")
2020-10-12 00:02:06,941 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,942 INFO sqlalchemy.engine.base.Engine ('MV001836560000', 'Stomp the Yard', '556', 2007, 'Drama', "A troubled dancer enrolls in Atlanta's Truth University after his brother's death.")
2020-10-12 00:02:06,945 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,946 INFO sqlalchemy.engine.base.Engine ('MV001836560000', 'Stomp the Yard', '556', 2007, 'Musical', "A troubled dancer enrolls in Atlanta's Truth University after his brother's death.")
2020-10-12 00:02:06,948 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,949 INFO sqlalchemy.engine.base.Engine ('MV001561110000', 'Fever Pitch', '557', 2005, 'Romantic comedy', 'A woman (Drew Barrymore) falls in love with a die-hard baseball fan (Jimmy Fallon).')
2020-10-12 00:02:06,953 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,954 INFO sqlalchemy.engine.base.Engine ('MV001476290000', 'Mean Girls', '558', 2004, 'Comedy', 'A teen (Lindsay Lohan) becomes friends with three cruel schoolmates.')
2020-10-12 00:02:06,958 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,960 INFO sqlalchemy.engine.base.Engine ('MV000287860000', 'Cry Baby', '622', 1990, 'Musical comedy', "A 1950s teen rebel (Johnny Depp) courts a country-club blonde (Amy Locane) with rock 'n' roll.")
2020-10-12 00:02:06,962 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,963 INFO sqlalchemy.engine.base.Engine ('MV000326580000', 'Kindergarten Cop', '620', 1990, 'Comedy', 'Undercover officer (Arnold Schwarzenegger) teaches rowdy class of peewees.')
2020-10-12 00:02:06,966 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,967 INFO sqlalchemy.engine.base.Engine ('MV002118240000', 'The Zookeeper', '078', 2001, 'Drama', 'En una ciudad en guerra, el guardia de un zoológico lucha por sobrevivir y cuidar a los animales.')
2020-10-12 00:02:06,969 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,971 INFO sqlalchemy.engine.base.Engine ('MV000203070000', 'Top Gun', '554', 1986, 'Action', 'A hot-shot Navy jet pilot (Tom Cruise) downs MiGs and loves an astrophysicist (Kelly McGillis).')
2020-10-12 00:02:06,974 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,976 INFO sqlalchemy.engine.base.Engine ('MV000203070000', 'Top Gun', '554', 1986, 'Adventure', 'A hot-shot Navy jet pilot (Tom Cruise) downs MiGs and loves an astrophysicist (Kelly McGillis).')
2020-10-12 00:02:06,978 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,979 INFO sqlalchemy.engine.base.Engine ('MV000506130000', 'The Fifth Element', '086', 1997, 'Science fiction', 'A New York City cabdriver tries to save 2259 Earth from impact with an onrushing anti-life force.')
2020-10-12 00:02:06,981 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,982 INFO sqlalchemy.engine.base.Engine ('MV000506130000', 'The Fifth Element', '086', 1997, 'Adventure', 'A New York City cabdriver tries to save 2259 Earth from impact with an onrushing anti-life force.')
2020-10-12 00:02:06,984 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,986 INFO sqlalchemy.engine.base.Engine ('MV000506130000', 'The Fifth Element', '086', 1997, 'Action', 'A New York City cabdriver tries to save 2259 Earth from impact with an onrushing anti-life force.')
2020-10-12 00:02:06,989 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,992 INFO sqlalchemy.engine.base.Engine ('MV000506130000', 'The Fifth Element', '086', 1997, 'Fantasy', 'A New York City cabdriver tries to save 2259 Earth from impact with an onrushing anti-life force.')
2020-10-12 00:02:06,995 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,996 INFO sqlalchemy.engine.base.Engine ('MV000506130000', 'The Fifth Element', '110', 1997, 'Science fiction', 'A New York City cabdriver tries to save 2259 Earth from impact with an onrushing anti-life force.')
2020-10-12 00:02:06,997 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:06,998 INFO sqlalchemy.engine.base.Engine ('MV000506130000', 'The Fifth Element', '110', 1997, 'Adventure', 'A New York City cabdriver tries to save 2259 Earth from impact with an onrushing anti-life force.')
2020-10-12 00:02:07,000 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,002 INFO sqlalchemy.engine.base.Engine ('MV000506130000', 'The Fifth Element', '110', 1997, 'Action', 'A New York City cabdriver tries to save 2259 Earth from impact with an onrushing anti-life force.')
2020-10-12 00:02:07,005 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,006 INFO sqlalchemy.engine.base.Engine ('MV000506130000', 'The Fifth Element', '110', 1997, 'Fantasy', 'A New York City cabdriver tries to save 2259 Earth from impact with an onrushing anti-life force.')
2020-10-12 00:02:07,099 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,100 INFO sqlalchemy.engine.base.Engine ('MV001257800000', 'Punch-Drunk Love', '515', 2002, 'Romantic comedy', 'An oddball (Adam Sandler) follows his dream woman (Emily Watson) to Hawaii.')
2020-10-12 00:02:07,102 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,103 INFO sqlalchemy.engine.base.Engine ('MV015294170000', 'Betrayed by My Husband', '076', 2017, 'Thriller', 'A woman spots her deceased husband during a business trip and realizes that he faked his death.')
2020-10-12 00:02:07,105 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)

2020-10-12 00:02:07,109 INFO sqlalchemy.engine.base.Engine ('MV015294170000', 'Betrayed by My Husband', '630', 2017, 'Thriller', 'A woman spots her deceased husband during a business trip and realizes that he faked his death.')
2020-10-12 00:02:07,112 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,113 INFO sqlalchemy.engine.base.Engine ('MV001510200000', 'Taxi', '586', 2004, 'Comedy', 'A bumbling policeman (Jimmy Fallon) and a cabby (Queen Latifah) chase bank robbers.')
2020-10-12 00:02:07,116 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,117 INFO sqlalchemy.engine.base.Engine ('MV001510200000', 'Taxi', '586', 2004, 'Action', 'A bumbling policeman (Jimmy Fallon) and a cabby (Queen Latifah) chase bank robbers.')
2020-10-12 00:02:07,118 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,121 INFO sqlalchemy.engine.base.Engine ('MV001851100000', 'Scooby-Doo! Pirates Ahoy!', '920', 2006, 'Comedy', 'Scooby-Doo and the gang have a scary adventure while taking a voyage into the Bermuda Triangle.')
2020-10-12 00:02:07,124 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,124 INFO sqlalchemy.engine.base.Engine ('MV001851100000', 'Scooby-Doo! Pirates Ahoy!', '920', 2006, 'Adventure', 'Scooby-Doo and the gang have a scary adventure while taking a voyage into the Bermuda Triangle.')
2020-10-12 00:02:07,127 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,128 INFO sqlalchemy.engine.base.Engine ('MV001851100000', 'Scooby-Doo! Pirates Ahoy!', '920', 2006, 'Animated', 'Scooby-Doo and the gang have a scary adventure while taking a voyage into the Bermuda Triangle.')
2020-10-12 00:02:07,130 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,131 INFO sqlalchemy.engine.base.Engine ('MV001851100000', 'Scooby-Doo! Pirates Ahoy!', '920', 2006, 'Children', 'Scooby-Doo and the gang have a scary adventure while taking a voyage into the Bermuda Triangle.')
2020-10-12 00:02:07,133 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,134 INFO sqlalchemy.engine.base.Engine ('MV013520890000', 'Downhill', '512', 2020, 'Comedy drama', 'A man lands in hot water after he runs away from an avalanche, leaving behind his wife and two sons.')
2020-10-12 00:02:07,137 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,138 INFO sqlalchemy.engine.base.Engine ('MV002725500000', 'Pirates of the Caribbean: On Stranger Tides', '602', 2011, 'Adventure', 'Capt. Jack Sparrow encounters a woman from his past and sets sail to find the Fountain of Youth.')
2020-10-12 00:02:07,142 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,143 INFO sqlalchemy.engine.base.Engine ('MV002725500000', 'Pirates of the Caribbean: On Stranger Tides', '602', 2011, 'Action', 'Capt. Jack Sparrow encounters a woman from his past and sets sail to find the Fountain of Youth.')
2020-10-12 00:02:07,146 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,147 INFO sqlalchemy.engine.base.Engine ('MV002725500000', 'Pirates of the Caribbean: On Stranger Tides', '602', 2011, 'Fantasy', 'Capt. Jack Sparrow encounters a woman from his past and sets sail to find the Fountain of Youth.')
2020-10-12 00:02:07,150 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,151 INFO sqlalchemy.engine.base.Engine ('MV000159150000', "Monty Python's The Meaning of Life", '623', 1983, 'Comedy', 'The British troupe (Graham Chapman, John Cleese, Terry Gilliam) spoofs gluttony, birth control.')
2020-10-12 00:02:07,153 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,155 INFO sqlalchemy.engine.base.Engine ('MV000343110000', 'Hook', '465', 1991, 'Fantasy', 'Lawyer (Robin Williams) turns into Peter Pan to save kids from Captain Hook (Dustin Hoffman).')
2020-10-12 00:02:07,159 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,160 INFO sqlalchemy.engine.base.Engine ('MV000343110000', 'Hook', '465', 1991, 'Children', 'Lawyer (Robin Williams) turns into Peter Pan to save kids from Captain Hook (Dustin Hoffman).')
2020-10-12 00:02:07,162 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,163 INFO sqlalchemy.engine.base.Engine ('MV001851100000', 'Scooby-Doo! Pirates Ahoy!', '253', 2006, 'Comedy', 'Scooby-Doo and the gang have a scary adventure while taking a voyage into the Bermuda Triangle.')
2020-10-12 00:02:07,165 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,167 INFO sqlalchemy.engine.base.Engine ('MV001851100000', 'Scooby-Doo! Pirates Ahoy!', '253', 2006, 'Adventure', 'Scooby-Doo and the gang have a scary adventure while taking a voyage into the Bermuda Triangle.')
2020-10-12 00:02:07,169 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,171 INFO sqlalchemy.engine.base.Engine ('MV001851100000', 'Scooby-Doo! Pirates Ahoy!', '253', 2006, 'Animated', 'Scooby-Doo and the gang have a scary adventure while taking a voyage into the Bermuda Triangle.')
2020-10-12 00:02:07,177 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,180 INFO sqlalchemy.engine.base.Engine ('MV001851100000', 'Scooby-Doo! Pirates Ahoy!', '253', 2006, 'Children', 'Scooby-Doo and the gang have a scary adventure while taking a voyage into the Bermuda Triangle.')
2020-10-12 00:02:07,183 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,184 INFO sqlalchemy.engine.base.Engine ('MV011983760000', 'Pet Sematary', '595', 2019, 'Horror', 'A couple and their children move near a mysterious burial ground that unleashes an unspeakable evil.')
2020-10-12 00:02:07,186 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,187 INFO sqlalchemy.engine.base.Engine ('MV011983760000', 'Pet Sematary', '595', 2019, 'Thriller', 'A couple and their children move near a mysterious burial ground that unleashes an unspeakable evil.')
2020-10-12 00:02:07,190 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,191 INFO sqlalchemy.engine.base.Engine ('MV000333990000', 'Boyz N the Hood', '599', 1991, 'Drama', 'Three boys become men, one guided by his father, in their racially divided Los Angeles neighborhood.')

2020-10-12 00:02:07,193 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,194 INFO sqlalchemy.engine.base.Engine ('MV000585910000', 'The Truman Show', '571', 1998, 'Comedy drama', "A man's life is arranged for him, captured on hidden cameras and broadcast internationally.")
2020-10-12 00:02:07,196 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,197 INFO sqlalchemy.engine.base.Engine ('MV008339030000', 'Thor: Ragnarok', '067', 2017, 'Action', 'Thor must battle the Hulk in a gladiatorial duel and save his home world from the all-powerful Hela.')
2020-10-12 00:02:07,199 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,200 INFO sqlalchemy.engine.base.Engine ('MV008339030000', 'Thor: Ragnarok', '067', 2017, 'Adventure', 'Thor must battle the Hulk in a gladiatorial duel and save his home world from the all-powerful Hela.')
2020-10-12 00:02:07,202 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,204 INFO sqlalchemy.engine.base.Engine ('MV008339030000', 'Thor: Ragnarok', '067', 2017, 'Science fiction', 'Thor must battle the Hulk in a gladiatorial duel and save his home world from the all-powerful Hela.')
2020-10-12 00:02:07,208 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,209 INFO sqlalchemy.engine.base.Engine ('MV008339030000', 'Thor: Ragnarok', '067', 2017, 'Fantasy', 'Thor must battle the Hulk in a gladiatorial duel and save his home world from the all-powerful Hela.')
2020-10-12 00:02:07,211 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,212 INFO sqlalchemy.engine.base.Engine ('MV008339030000', 'Thor: Ragnarok', '067', 2017, 'Comedy', 'Thor must battle the Hulk in a gladiatorial duel and save his home world from the all-powerful Hela.')
2020-10-12 00:02:07,214 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,215 INFO sqlalchemy.engine.base.Engine ('MV008339030000', 'Thor: Ragnarok', '103', 2017, 'Action', 'Thor must battle the Hulk in a gladiatorial duel and save his home world from the all-powerful Hela.')
2020-10-12 00:02:07,217 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,218 INFO sqlalchemy.engine.base.Engine ('MV008339030000', 'Thor: Ragnarok', '103', 2017, 'Adventure', 'Thor must battle the Hulk in a gladiatorial duel and save his home world from the all-powerful Hela.')
2020-10-12 00:02:07,221 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,224 INFO sqlalchemy.engine.base.Engine ('MV008339030000', 'Thor: Ragnarok', '103', 2017, 'Science fiction', 'Thor must battle the Hulk in a gladiatorial duel and save his home world from the all-powerful Hela.')
2020-10-12 00:02:07,227 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,228 INFO sqlalchemy.engine.base.Engine ('MV008339030000', 'Thor: Ragnarok', '103', 2017, 'Fantasy', 'Thor must battle the Hulk in a gladiatorial duel and save his home world from the all-powerful Hela.')
2020-10-12 00:02:07,230 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,231 INFO sqlalchemy.engine.base.Engine ('MV008339030000', 'Thor: Ragnarok', '103', 2017, 'Comedy', 'Thor must battle the Hulk in a gladiatorial duel and save his home world from the all-powerful Hela.')
2020-10-12 00:02:07,234 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,235 INFO sqlalchemy.engine.base.Engine ('MV013140960000', 'A Christmas Duet', '039', 2019, 'Romance', 'Fate brings an ex-music duo together on the holidays, just in time for the annual Yuletide Festival.')
2020-10-12 00:02:07,237 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,238 INFO sqlalchemy.engine.base.Engine ('MV013140960000', 'A Christmas Duet', '039', 2019, 'Holiday', 'Fate brings an ex-music duo together on the holidays, just in time for the annual Yuletide Festival.')
2020-10-12 00:02:07,241 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,242 INFO sqlalchemy.engine.base.Engine ('MV013140960000', 'A Christmas Duet', '123', 2019, 'Romance', 'Fate brings an ex-music duo together on the holidays, just in time for the annual Yuletide Festival.')
2020-10-12 00:02:07,245 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,246 INFO sqlalchemy.engine.base.Engine ('MV013140960000', 'A Christmas Duet', '123', 2019, 'Holiday', 'Fate brings an ex-music duo together on the holidays, just in time for the annual Yuletide Festival.')
2020-10-12 00:02:07,249 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,250 INFO sqlalchemy.engine.base.Engine ('MV002118240000', 'The Zookeeper', '804', 2001, 'Drama', 'En una ciudad en guerra, el guardia de un zoológico lucha por sobrevivir y cuidar a los animales.')
2020-10-12 00:02:07,252 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,253 INFO sqlalchemy.engine.base.Engine ('MV002118240000', 'The Zookeeper', '1226', 2001, 'Drama', 'En una ciudad en guerra, el guardia de un zoológico lucha por sobrevivir y cuidar a los animales.')
2020-10-12 00:02:07,255 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,257 INFO sqlalchemy.engine.base.Engine ('MV000485190000', 'Set It Off', '555', 1996, 'Action', 'Desperation drives four inner-city women to bank robbery in Los Angeles.')
2020-10-12 00:02:07,259 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,260 INFO sqlalchemy.engine.base.Engine ('MV000485190000', 'Set It Off', '555', 1996, 'Thriller', 'Desperation drives four inner-city women to bank robbery in Los Angeles.')
2020-10-12 00:02:07,262 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,263 INFO sqlalchemy.engine.base.Engine ('MV000485190000', 'Set It Off', '555', 1996, 'Crime drama', 'Desperation drives four inner-city women to bank robbery in Los Angeles.')
2020-10-12 00:02:07,265 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,266 INFO sqlalchemy.engine.base.Engine ('MV004860970000', 'The Typewriter (In the 21st Century)', '469', 2012, 'Documentary', 'Filmmaker Christopher Lockett documents the history and current use of typewriters.')

2020-10-12 00:02:07,269 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,273 INFO sqlalchemy.engine.base.Engine ('MV004860970000', 'The Typewriter (In the 21st Century)', '469', 2012, 'Historical drama', 'Filmmaker Christopher Lockett documents the history and current use of typewriters.')
2020-10-12 00:02:07,275 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,276 INFO sqlalchemy.engine.base.Engine ('MV000077580000', 'Hard Target', '640', 1993, 'Action', 'Men (Lance Henriksen, Arnold Vosloo) hunt a merchant seaman (Jean-Claude Van Damme) for sport.')
2020-10-12 00:02:07,278 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,279 INFO sqlalchemy.engine.base.Engine ('MV000286980000', 'Pretty Woman', '026', 1990, 'Romantic comedy', 'A corporate raider (Richard Gere) hires a hooker (Julia Roberts) to act as a business escort.')
2020-10-12 00:02:07,281 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,283 INFO sqlalchemy.engine.base.Engine ('MV000286980000', 'Pretty Woman', '026', 1990, 'Romance', 'A corporate raider (Richard Gere) hires a hooker (Julia Roberts) to act as a business escort.')
2020-10-12 00:02:07,285 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,286 INFO sqlalchemy.engine.base.Engine ('MV000286980000', 'Pretty Woman', '170', 1990, 'Romantic comedy', 'A corporate raider (Richard Gere) hires a hooker (Julia Roberts) to act as a business escort.')
2020-10-12 00:02:07,288 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,289 INFO sqlalchemy.engine.base.Engine ('MV000286980000', 'Pretty Woman', '170', 1990, 'Romance', 'A corporate raider (Richard Gere) hires a hooker (Julia Roberts) to act as a business escort.')
2020-10-12 00:02:07,292 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,293 INFO sqlalchemy.engine.base.Engine ('MV002079640000', 'Mad Money', '1285', 2008, 'Comedy', 'Tres compañeras de trabajo idean un plan para robar un dinero que sería destruido.')
2020-10-12 00:02:07,296 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,297 INFO sqlalchemy.engine.base.Engine ('MV000498470000', 'Donnie Brasco', '598', 1997, 'Crime drama', 'Unwittingly, a mobster (Al Pacino) helps an undercover FBI agent (Johnny Depp).')
2020-10-12 00:02:07,300 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,301 INFO sqlalchemy.engine.base.Engine ('MV012040770000', 'Bricked', '185', 2018, 'Drama', 'A high school graduate battles with bipolar disorder.')
2020-10-12 00:02:07,304 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,306 INFO sqlalchemy.engine.base.Engine ('MV003667510000', 'Ticking Clock', '973', 2011, 'Action', 'Un reportero descubre el diario de un asesino y lo sigue hasta cuando era un huérfano de nueve años.')
2020-10-12 00:02:07,308 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,309 INFO sqlalchemy.engine.base.Engine ('MV003667510000', 'Ticking Clock', '973', 2011, 'Thriller', 'Un reportero descubre el diario de un asesino y lo sigue hasta cuando era un huérfano de nueve años.')
2020-10-12 00:02:07,311 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,312 INFO sqlalchemy.engine.base.Engine ('MV002773070000', 'Easy A', '597', 2010, 'Comedy', 'The escape of a little white lie teaches a clean-cut teen to use the rumor mill for personal gain.')
2020-10-12 00:02:07,314 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,315 INFO sqlalchemy.engine.base.Engine ('MV000913320000', 'The Thing From Another World', '1248', 1951, 'Science fiction', 'Arctic scientists find an alien (James Arness) that feeds on blood.')
2020-10-12 00:02:07,317 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,319 INFO sqlalchemy.engine.base.Engine ('MV000081700000', 'Rails Into Laramie', '1260', 1954, 'Western', 'Soldier (John Payne) ties rail woe to saloonkeeper (Dan Duryea) and girlfriend (Mari Blanchard).')
2020-10-12 00:02:07,323 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,325 INFO sqlalchemy.engine.base.Engine ('MV012575680000', 'Shaft', '536', 2019, 'Action', 'Un agente del FBI experto en ciberseguridad se une a su padre, el legendario policía John Shaft.')
2020-10-12 00:02:07,328 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,330 INFO sqlalchemy.engine.base.Engine ('MV012575680000', 'Shaft', '536', 2019, 'Comedy', 'Un agente del FBI experto en ciberseguridad se une a su padre, el legendario policía John Shaft.')
2020-10-12 00:02:07,332 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,333 INFO sqlalchemy.engine.base.Engine ('MV010656090000', 'Shaft', '531', 2019, 'Action', 'Old-school cop John Shaft forms a new partnership with his son -- an FBI cyber security expert.')
2020-10-12 00:02:07,336 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,337 INFO sqlalchemy.engine.base.Engine ('MV010656090000', 'Shaft', '531', 2019, 'Comedy', 'Old-school cop John Shaft forms a new partnership with his son -- an FBI cyber security expert.')
2020-10-12 00:02:07,341 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,342 INFO sqlalchemy.engine.base.Engine ('MV003751910000', 'Dark Shadows', '533', 1944, 'Crime drama', 'A police psychiatrist is enlisted to catch a homicidal killer.')
2020-10-12 00:02:07,346 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,347 INFO sqlalchemy.engine.base.Engine ('MV001597230000', 'The Sandlot 2', '608', 2005, 'Comedy', 'A group of friends must retrieve a model spaceship from a yard containing a fearsome dog.')
2020-10-12 00:02:07,349 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,350 INFO sqlalchemy.engine.base.Engine ('MV001597230000', 'The Sandlot 2', '608', 2005, 'Children', 'A group of friends must retrieve a model spaceship from a yard containing a fearsome dog.')

2020-10-12 00:02:07,352 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,353 INFO sqlalchemy.engine.base.Engine ('MV012762950000', 'Paradise Hills', '572', 2019, 'Thriller', 'Young women band together to escape from a seemingly idyllic island that holds a sinister secret.')
2020-10-12 00:02:07,355 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,356 INFO sqlalchemy.engine.base.Engine ('MV001188290000', 'Santo y Blue Demon vs. Drácula y el Hombre Lobo', '985', 1973, 'Action', 'Un mago acaba con dos monstruos que prometen volver en cien años y acabar con sus descendientes.')
2020-10-12 00:02:07,359 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,360 INFO sqlalchemy.engine.base.Engine ('MV001840330000', 'Bridge to Terabithia', '521', 2007, 'Fantasy', 'Two youths (Josh Hutcherson, AnnaSophia Robb) create an imaginary world filled with magical beings.')
2020-10-12 00:02:07,363 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,365 INFO sqlalchemy.engine.base.Engine ('MV001840330000', 'Bridge to Terabithia', '521', 2007, 'Drama', 'Two youths (Josh Hutcherson, AnnaSophia Robb) create an imaginary world filled with magical beings.')
2020-10-12 00:02:07,368 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,369 INFO sqlalchemy.engine.base.Engine ('MV001840330000', 'Bridge to Terabithia', '521', 2007, 'Children', 'Two youths (Josh Hutcherson, AnnaSophia Robb) create an imaginary world filled with magical beings.')
2020-10-12 00:02:07,372 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,374 INFO sqlalchemy.engine.base.Engine ('MV009308060000', 'Destinos Interrumpidos', '849', 2013, 'Documentary', 'Dos hombres descubren que fueron cambiados al nacer y que crecieron muy cerca.')
2020-10-12 00:02:07,376 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,377 INFO sqlalchemy.engine.base.Engine ('MV000501720000', 'Turbo: A Power Rangers Movie', '514', 1997, 'Adventure', 'The teen protectors-of-the-universe face a villainess trying to unleash a monster on the world.')
2020-10-12 00:02:07,379 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,381 INFO sqlalchemy.engine.base.Engine ('MV000501720000', 'Turbo: A Power Rangers Movie', '514', 1997, 'Children', 'The teen protectors-of-the-universe face a villainess trying to unleash a monster on the world.')
2020-10-12 00:02:07,383 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_on_tv (content_id, title, channel, release_year, genre, description) VALUES (%s, %s, %s, %s, %s, %s)
2020-10-12 00:02:07,384 INFO sqlalchemy.engine.base.Engine ('MV010177510000', 'Bolishopping', '984', 2013, 'Drama', 'Un inmigrante idealista trabaja en un taller clandestino de confección de ropa en Argentina.')
2020-10-12 00:02:07,404 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-12 00:02:07,432 INFO sqlalchemy.engine.base.Engine DESCRIBE `select id, genre, content_id from movies_on_tv`
2020-10-12 00:02:07,433 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:07,437 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-10-12 00:02:07,438 INFO sqlalchemy.engine.base.Engine select id, genre, content_id from movies_on_tv
2020-10-12 00:02:07,440 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:07,449 INFO sqlalchemy.engine.base.Engine DESCRIBE `select id, genre, content_id from movies_in_theatres`
2020-10-12 00:02:07,451 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:07,453 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-10-12 00:02:07,456 INFO sqlalchemy.engine.base.Engine select id, genre, content_id from movies_in_theatres
2020-10-12 00:02:07,460 INFO sqlalchemy.engine.base.Engine ()
genre      content_id
Action     MV013618560000    3
           MV000381250000    1
           MV003548780000    1
Adventure  MV009897380000    3
           MV001969710000    1
Name: content_id, dtype: int64
genre   content_id
Action  MV000206880000    2
        MV000506130000    2
        MV000586150000    2
        MV001201260000    2
        MV001776820000    2
Name: content_id, dtype: int64
2020-10-12 00:02:07,486 INFO sqlalchemy.engine.base.Engine DESCRIBE `select distinct content_id, id, genre, title, release_year, description from movies_in_theatres where genre in ('Comedy','Action','Drama','Thriller','Adventure')`
2020-10-12 00:02:07,488 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:07,491 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-10-12 00:02:07,493 INFO sqlalchemy.engine.base.Engine select distinct content_id, id, genre, title, release_year, description from movies_in_theatres where genre in ('Comedy','Action','Drama','Thriller','Adventure')
2020-10-12 00:02:07,494 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:07,499 INFO sqlalchemy.engine.base.Engine DESCRIBE `select distinct content_id, id, genre, title, release_year, description from movies_on_tv where genre in ('Comedy','Action','Drama','Thriller','Adventure')`
2020-10-12 00:02:07,501 INFO sqlalchemy.engine.base.Engine ()
2020-10-12 00:02:07,504 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-10-12 00:02:07,507 INFO sqlalchemy.engine.base.Engine select distinct content_id, id, genre, title, release_year, description from movies_on_tv where genre in ('Comedy','Action','Drama','Thriller','Adventure')
2020-10-12 00:02:07,508 INFO sqlalchemy.engine.base.Engine ()